<template>
    <div id="accounts" class="view">
        <div class="row">
            <div class="table-title">
                Customer Accounts ({{sortedCustomers.length}})
            </div>
            <div class="table customer-accounts">
                <div class="table-header">
                    <div class="table-cell" @click="onFilterChange('NAME')" :class="headerClass('companyName')">
                        Hospital/Clinic Name
                        <i v-if="headerClass('companyName').active" class="fa" :class="{'fa-sort-up': getFilterDirection(), 'fa-sort-down':  !getFilterDirection()}"></i>
                    </div>
                    <div class="table-cell left" @click="onFilterChange('FILMS')" :class="headerClass('numbers/films')">
                        Films
                      <i v-if="headerClass('numbers/films').active" class="fa" :class="{'fa-sort-up': getFilterDirection(), 'fa-sort-down':  !getFilterDirection()}"></i>
                    </div>
                    <div class="table-cell left" @click="onFilterChange('TABLETS')" :class="headerClass('numbers/tablets')">
                        Tablets
                        <i v-if="headerClass('numbers/tablets').active" class="fa" :class="{'fa-sort-up': getFilterDirection(), 'fa-sort-down':  !getFilterDirection()}"></i>
                    </div>
                    <div class="table-cell right" @click="onFilterChange('VIEWS')" :class="headerClass('subscriptions')">
                        <i v-if="headerClass('subscriptions').active" class="fa" :class="{'fa-sort-up': getFilterDirection(), 'fa-sort-down':  !getFilterDirection()}"></i>
                        Views
                    </div>
                    <div class="table-cell right" @click="onFilterChange('EXPIRY_DATE')" :class="headerClass('numbers/expDate')">
                        <i v-if="headerClass('numbers/expDate').active" class="fa" :class="{'fa-sort-up': getFilterDirection(), 'fa-sort-down':  !getFilterDirection()}"></i>
                        Expiry Date
                    </div>
                    <div class="table-cell" @click="onFilterChange('SLA')" :class="headerClass('sla')">
                        SLA
                        <i v-if="headerClass('sla').active" class="fa" :class="{'fa-sort-up': getFilterDirection(), 'fa-sort-down':  !getFilterDirection()}"></i>
                    </div>
                    <div class="table-cell right" @click="onFilterChange('ANNUAL_FEE')" :class="headerClass('numbers/totalPrice')">
                        <i v-if="headerClass('numbers/totalPrice').active" class="fa" :class="{'fa-sort-up': getFilterDirection(), 'fa-sort-down':  !getFilterDirection()}"></i>
                        Annual Fee
                    </div>
                    <div class="table-cell non-filterable">
                        Index Page
                    </div>
                </div>
                <router-link tag="div" :to="{ name: 'accountsViewSubscriptions', params: { id: account.id }}" class="table-row" v-for="(account, i) in sortedCustomers" :key="account.companyName + i" v-if="account.type === 'customer'">
                    <div class="table-cell">
                        {{ account.companyName }}
                    </div>
                    <div class="table-cell left">
                        {{ account.numbers.films }}
                    </div>
                    <div class="table-cell left">
                        {{ account.numbers.tablets }}
                    </div>
                    <div class="table-cell right">
                        {{ numberFormat(totalViews(account.subscriptions)) }}
                    </div>
                    <div class="table-cell yellow right" v-if="account.numbers.expSoon">
                        {{ account.numbers.expDate }}
                    </div>
                    <div class="table-cell red right" v-else-if="account.numbers.expired">
                        {{ account.numbers.expDate }}
                    </div>
                    <div class="table-cell right" v-else="">
                        {{ account.numbers.expDate }}
                    </div>
                    <div class="table-cell">
                        <i v-if="account.sla" class="fa fa-check"></i>
                    </div>
                    <div class="table-cell right">
                        {{ convertPrice(account.numbers.totalPrice, account.numbers.currency) }}
                    </div>
                    <div class="table-cell" v-if="account.slug">
                        medfilm.se/{{ account.slug }}
                    </div>
            </router-link>
            <div class="table-row summary">
              <div class="table-cell"></div>
              <div class="table-cell left">{{summary(accounts).totalFilms()}}</div>
              <div class="table-cell left">{{summary(accounts).totalTablets()}}</div>
              <div class="table-cell right">{{summary(accounts).totalViews()}}</div>
              <div class="table-cell right"></div>
              <div class="table-cell">{{summary(accounts).totalSLA()}}</div>
              <div class="table-cell right">{{summary(accounts).totalPrice()}}</div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="table-title">
                Trial Accounts ({{sortedTrials.length}})
            </div>
            <div class="table trial-accounts">
                <div class="table-header">
                    <div class="table-cell" @click="onFilterChange('NAME', 'trials')" :class="headerClass('companyName', 'trials')">
                        Hospital/Clinic Name
                        <i v-if="headerClass('companyName', 'trials').active" class="fa" :class="{'fa-sort-up': getFilterDirection('trials'), 'fa-sort-down':  !getFilterDirection('trials')}"></i>
                    </div>
                    <div class="table-cell left" @click="onFilterChange('FILMS', 'trials')" :class="headerClass('numbers/films', 'trials')">
                        Films
                        <i v-if="headerClass('numbers/films', 'trials').active" class="fa" :class="{'fa-sort-up': getFilterDirection('trials'), 'fa-sort-down':  !getFilterDirection('trials')}"></i>
                    </div>
                    <div class="table-cell right" @click="onFilterChange('VIEWS', 'trials')" :class="headerClass('subscriptions', 'trials')">
                        <i v-if="headerClass('subscriptions', 'trials').active" class="fa" :class="{'fa-sort-up': getFilterDirection('trials'), 'fa-sort-down':  !getFilterDirection('trials')}"></i>
                        Views
                    </div>
                    <div class="table-cell right" @click="onFilterChange('EXPIRY_DATE', 'trials')" :class="headerClass('numbers/expDate', 'trials')">
                        <i v-if="headerClass('numbers/expDate', 'trials').active" class="fa" :class="{'fa-sort-up': getFilterDirection('trials'), 'fa-sort-down':  !getFilterDirection('trials')}"></i>
                        Expiry Date
                    </div>
                    <div class="table-cell non-filterable">
                        Index Page
                    </div>
                </div>
                <router-link tag="div" :to="{ name: 'accountsViewSubscriptions', params: { id: account.id }}" class="table-row" v-for="(account, i) in sortedTrials" :key="account.companyName + i" v-if="account.type === 'trial'">
                    <div class="table-cell">
                        {{ account.companyName }}
                    </div>
                    <div class="table-cell left">
                        {{ account.numbers.films }}
                    </div>
                    <div class="table-cell right">
                        {{ numberFormat(totalViews(account.subscriptions)) }}
                    </div>
                    <div class="table-cell yellow right" v-if="account.numbers.expSoon">
                        {{ account.numbers.expDate }}
                    </div>
                    <div class="table-cell red right" v-else-if="account.numbers.expired">
                        {{ account.numbers.expDate }}
                    </div>
                    <div class="table-cell right" v-else="">
                        {{ account.numbers.expDate }}
                    </div>
                    <div class="table-cell" v-if="account.slug">
                        medfilm.se/{{ account.slug }}
                    </div>
                </router-link>
                <div class="table-row summary">
                  <div class="table-cell"></div>
                  <div class="table-cell left">{{summary(accounts, 'trial').totalFilms()}}</div>
                  <div class="table-cell right">{{summary(accounts, 'trial').totalViews()}}</div>
                  <div class="table-cell right"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table-title">
                Employee/Partner Accounts ({{sortedAdvisors.length}})
            </div>
            <div class="table partner-accounts">
                <div class="table-header">
                    <div class="table-cell" @click="onFilterChange('NAME', 'advisors')" :class="headerClass('companyName', 'advisors')">
                        Hospital/Clinic Name
                        <i v-if="headerClass('companyName', 'advisors').active" class="fa" :class="{'fa-sort-up': getFilterDirection('advisors'), 'fa-sort-down':  !getFilterDirection('advisors')}"></i>
                    </div>
                    <div class="table-cell left" @click="onFilterChange('FILMS', 'advisors')" :class="headerClass('numbers/films', 'advisors')">
                        Films
                        <i v-if="headerClass('numbers/films', 'advisors').active" class="fa" :class="{'fa-sort-up': getFilterDirection('advisors'), 'fa-sort-down':  !getFilterDirection('advisors')}"></i>
                    </div>
                    <div class="table-cell right" @click="onFilterChange('VIEWS', 'advisors')" :class="headerClass('subscriptions', 'advisors')">
                        <i v-if="headerClass('subscriptions', 'advisors').active" class="fa" :class="{'fa-sort-up': getFilterDirection('advisors'), 'fa-sort-down':  !getFilterDirection('advisors')}"></i>
                        Views
                    </div>
                    <div class="table-cell right" @click="onFilterChange('EXPIRY_DATE', 'advisors')" :class="headerClass('numbers/expDate', 'advisors')">
                        <i v-if="headerClass('numbers/expDate', 'advisors').active" class="fa" :class="{'fa-sort-up': getFilterDirection('advisors'), 'fa-sort-down':  !getFilterDirection('advisors')}"></i>
                        Expiry Date
                    </div>
                    <div class="table-cell non-filterable">
                        Index Page
                    </div>
                </div>
                <router-link tag="div" :to="{ name: 'accountsViewSubscriptions', params: { id: account.id }}" class="table-row" v-for="(account, i) in sortedAdvisors" :key="account.companyName + i" v-if="account.type === 'employee' || account.type === 'advisor'">
                    <div class="table-cell">
                        {{ account.companyName }}
                    </div>
                    <div class="table-cell left">
                        {{ account.numbers.films }}
                    </div>
                    <div class="table-cell right">
                        {{ numberFormat(totalViews(account.subscriptions)) }}
                    </div>
                    <div class="table-cell red right" v-if="account.numbers.expired">
                        {{ account.numbers.expDate }}
                    </div>
                    <div class="table-cell yellow right" v-else-if="account.numbers.expSoon">
                        {{ account.numbers.expDate }}
                    </div>
                    <div class="table-cell right" v-else="">
                        {{ account.numbers.expDate }}
                    </div>
                    <div class="table-cell" v-if="account.slug">
                        medfilm.se/{{ account.slug }}
                    </div>
                </router-link>
                <div class="table-row summary">
                  <div class="table-cell"></div>
                  <div class="table-cell left">{{summary(accounts, 'employee', true).totalFilms()}}</div>
                  <div class="table-cell right">{{summary(accounts, 'employee', true).totalViews()}}</div>
                  <div class="table-cell right"></div>
                </div>
            </div>
        </div>
        <loader :loaderActive="loaderActive"></loader>
        <error :error="errorData"></error>
    </div>
</template>

<script>
  import loader from '~/components/frame/loader.vue'
  import auth from '~/lib/auth'
  import error from '~/components/frame/error.vue'
  import moment from 'moment'

  const FILTERS = {
      SLA: { PROP: 'sla', REVERSE: true, STRATEGY: null },
      NAME: { PROP: 'companyName', REVERSE: false, STRATEGY: null },
      FILMS: { PROP: 'numbers/films', REVERSE: true, STRATEGY: null },
      TABLETS: { PROP: 'numbers/tablets', REVERSE: true, STRATEGY: null },
      VIEWS: { PROP: 'subscriptions', REVERSE: true, STRATEGY: 'totalViews' },
      ANNUAL_FEE: { PROP: 'numbers/totalPrice', REVERSE: true, STRATEGY: null },
      EXPIRY_DATE: { PROP: 'numbers/expDate', REVERSE: false, STRATEGY: 'expiryDateStrategy' }
  }

  export default {
    props: ['authenticated'],
    data () {
      return {
        loaderActive: true,
        editAccess: false,
        errorData: {},
        accounts: null,

        // Responsibility arrays
        customers: {
          filter: FILTERS.NAME,
          accounts: [],
          direction: false
        },
        trials: {
          filter: FILTERS.NAME,
          accounts: [],
          direction: false
        },
        advisors: {
          filter: FILTERS.NAME,
          accounts: [],
          direction: false
        }
      }
    },
    mounted () {
      this.fetchAccounts()
      if (auth.user.permissions.accounts >= 2) {
        this.editAccess = true
      }
    },
    computed: {
      sortedCustomers: function () {
        return this.sortedAccounts('customers')
      },
      sortedTrials: function () {
        return this.sortedAccounts('trials')
      },
      sortedAdvisors: function () {
        return this.sortedAccounts('advisors')
      }
    },
    methods: {
      sortedAccounts: function (type) {
        // TODO: Implement strategy calls , see FILTERS constant -> VIEWS
        const { direction, accounts, filter } = this[type]
        const { PROP, REVERSE, STRATEGY } = filter
        const strategyMethod = this[STRATEGY]
        let result
        // If accounts hasnt yet been initialized, return
        if (!accounts) return []
        // Resolve path in object
        const resolve = (prop, obj) =>
          prop.split('/').reduce((prev, curr) =>
            prev ? prev[curr] : null
          , obj)
        // Sorted array based on current filter without strategy
        if (STRATEGY === null) {
          result = accounts.sort((a, b) => {
            if (resolve(PROP, a) < resolve(PROP, b)) return -1
            if (resolve(PROP, a) > resolve(PROP, b)) return 1
            return 0
          })
        }
        // Sorted array based on current filter with strategy
        // NOTE: A STRATEGY METHOD CAN ONLY TAKE ONE PARAMETER, THE PROP ITSELF
        else if (STRATEGY !== null && strategyMethod !== undefined) {
          result = accounts.sort((a, b) => {
            const aa = resolve(PROP, a)
            const bb = resolve(PROP, b)
            if (strategyMethod(aa) < strategyMethod(bb)) return -1
            if (strategyMethod(aa) > strategyMethod(bb)) return 1
            return 0
          })
        }
        // Error extracting strategyMethod
        // FIXME: Add someway to visualize the error
        else result = []
        // Return reversed or not dependent on filter
        return REVERSE !== direction ? result.reverse() : result
      },
      splitResponsibilities: function () {
        const makeStrategy = (...types) => (el) => types.indexOf(el.type) !== -1

        this.customers.accounts = this.accounts.filter(makeStrategy('customer'))
        this.advisors.accounts = this.accounts.filter(makeStrategy('employee', 'advisor'))
        this.trials.accounts = this.accounts.filter(makeStrategy('trial'))
      },
      // Filter strategy for expiry date
      expiryDateStrategy: function (prop) {
        if (prop === 'N/A') return null
        return moment(prop, 'DD MMM YYYY').unix()
      },
      getFilterDirection: function (type = 'customers') {
        return this[type].direction
      },
      headerClass: function (prop, type = 'customers') {
        const { filter } = this[type]
        return { active: filter.PROP === prop }
      },
      onFilterChange: function (filter, type = 'customers') {
        if (this[type].filter === FILTERS[filter]) {
          switch (this[type].direction) {
            case true:
              this[type].filter = FILTERS.NAME
              this[type].direction = false
              return
            case false:
              this[type].direction = true
              return
          }
        }
        this[type].direction = false
        this[type].filter = FILTERS[filter]
      },
      convertPrice (price, currency) {
        if (price === 0) {
          return ''
        }

        return this.numberFormat(price) + ' ' + currency
      },
      numberFormat(number) {
        return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ' ')
      },
      totalViews(subs) {
        if (!subs) return 0
        return subs.reduce((res, sub) => {
          res += sub.views
          return res
        }, 0)
      },
      summary(accs, type = 'customer', advisor = false) {
        const that = this
        return {
          totalFilms() {
            if (!accs) return 'N/A'
            return accs.reduce((n, acc) => {
              if (acc.type === type) n += acc.numbers.films
              if (advisor && acc.type === 'advisor') n += acc.numbers.films
              return n
            }, 0)
          },
          totalTablets() {
            if (!accs) return 'N/A'
            return accs.reduce((n, acc) => {
              if (acc.type === type) n += acc.numbers.tablets
              return n
            }, 0)
          },
          totalViews() {
            if (!accs) return 'N/A'
            return that.numberFormat(accs.reduce((n, acc) => {
              if (acc.type === type) n += that.totalViews(acc.subscriptions)
              if (advisor && acc.type === 'advisor') n += that.totalViews(acc.subscriptions)
              return n
            }, 0))
          },
          totalSLA() {
            if (!accs) return 'N/A'
            return accs.reduce((n, acc) => {
              if (acc.type === type && acc.sla) n++
              return n
            }, 0)
          },
          totalPrice() {
            if (!accs) return 'N/A'
            const res = accs.reduce((sum, acc) => {
              if (acc.type === type) {
                sum += acc.numbers.totalPrice
              }
              return sum
            }, 0)
            return that.numberFormat(res)
          }
        }
      },
      fetchAccounts () {
        let that = this

        that.$http.get('/api/accounts', {
          headers: auth.authHeader
        }).then(
          // Successful response
          (response) => {
            // If given data status is 200, render the page
            if (response.data.status === 200) {
              that.accounts = response.data.data.result
              that.splitResponsibilities()
              this.converter()
              this.loaderActive = false
              return
            }

            that.errorData = response
          },
          (response) => {
            that.errorData = response
          }
        )
      },
      converter () {
        for (let i = 0; i < this.accounts.length; i++) {
          // Change bool values to readable format
          if (this.accounts[i].numbers.sla) {
            this.accounts[i].numbers.sla = 'Yes'
          } else {
            this.accounts[i].numbers.sla = 'No'
          }

          // Replace zero values with N/A
          if (this.accounts[i].numbers.expDate === 0) {
            this.accounts[i].numbers.expDate = 'N/A'
            continue
          }

          // Check if the time expires soon (3 months)
          this.accounts[i].numbers.expSoon = this.accounts[i].numbers.expDate < (parseInt(moment().format('X')) + 7890000)
          // Check if the time expires soon (1 month)
          this.accounts[i].numbers.expired = this.accounts[i].numbers.expDate < (parseInt(moment().format('X')) + 2630000)
          // Convert time to a human readable format
          this.accounts[i].numbers.expDate = moment.unix(this.accounts[i].numbers.expDate).format('DD MMM YYYY')
        }
      }
    },
    components: {
      loader,
      error
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
    .customer-accounts, .trial-accounts, .partner-accounts {
        .table-cell:nth-child(1) {
            width: 300px;
        }
    }
    .table-cell.right {
      text-align: right !important;
    }
    .table-cell.left {
      text-align: left !important;
    }

    .table-row.summary {
      background-color: white !important;
      border-top: 2px solid #a6a6a6;
      margin-top: 2px;
      color: #666;
      &:hover {
        background: inherit;
        cursor: initial;
      }
      .table-cell {
        font-weight: bold;
        font-size: 0.7em;

        &.expand {
          min-width: 200px;
          text-align: left;
        }
      }
    }

    .customer-accounts {
        .table-cell:nth-child(n+2):nth-child(-n+7) {
            text-align: center;
        }
        // .table-cell:nth-child(n+2):nth-child(-n+7) {
        //     text-align: right;
        // }

        .table-cell:nth-child(n+2):nth-child(-n+7) {
            width: 90px;
        }
    }

    .trial-accounts {
        .table-cell:nth-child(2) {
            text-align: center;
        }

        .table-cell:nth-child(n+2):nth-child(-n+4) {
            width: 90px;
            text-align: center;
        }
    }

    .partner-accounts {
        .table-cell:nth-child(2) {
            width: 50px;
            text-align: center;
        }

        .table-cell:nth-child(n+3):nth-child(-n+4) {
            width: 90px;
            text-align: center;
        }
    }

    .table-header .table-cell{
      font-size: 0.9em;
      cursor: pointer;
      &::selection {
        background-color: transparent;
      }
      &.active, &:hover:not(.non-filterable) {
        text-decoration: underline;
      }
    }

    .red {
        color: #ff0000;
    }

    .yellow {
        color: #f98e00;
    }
</style>