<template>
    <div id="admin" class="view">
        <div class="row">
            <h1>Admin Panel</h1>
        </div>
        <div class="row" v-if="editAccess == true">
            <router-link to="/admin/add" tag="div" class="button">Add Admin Account</router-link>
        </div>
        <div class="row">
            <div class="table-title">
                Accounts
            </div>
            <div class="table admin-accounts">
                <div class="table-header">
                    <div class="table-cell">
                        Username
                    </div>
                    <div class="table-cell">
                        Accounts
                    </div>
                    <div class="table-cell">
                        Prospects
                    </div>
                    <div class="table-cell">
                        Website
                    </div>
                    <div class="table-cell">
                        Film Database
                    </div>
                    <div class="table-cell">
                        Employees
                    </div>
                    <div class="table-cell">
                        Admin Panel
                    </div>
                </div>
                <router-link class="table-row" v-for="account in accounts" :key="account.name" tag="div" :to="{ name: 'adminEdit', params: { id: account.id }}">
                    <div class="table-cell">
                        {{ account.name }}
                    </div>
                    <div class="table-cell" v-if="account.permissions.accounts">
                        {{ account.permissions.accounts }}
                    </div>
                    <div class="table-cell" v-else="">
                        No permission
                    </div>
                    <div class="table-cell" v-if="account.permissions.prospects">
                        {{ account.permissions.prospects }}
                    </div>
                    <div class="table-cell" v-else="">
                        No permission
                    </div>
                    <div class="table-cell" v-if="account.permissions.website">
                        {{ account.permissions.website }}
                    </div>
                    <div class="table-cell" v-else="">
                        No permission
                    </div>
                    <div class="table-cell" v-if="account.permissions.libraries">
                        {{ account.permissions.libraries }}
                    </div>
                    <div class="table-cell" v-else="">
                        No permission
                    </div>
                    <div class="table-cell" v-if="account.permissions.employees">
                        {{ account.permissions.employees }}
                    </div>
                    <div class="table-cell" v-else="">
                        No permission
                    </div>
                    <div class="table-cell" v-if="account.permissions.admin">
                        {{ account.permissions.admin }}
                    </div>
                    <div class="table-cell" v-else="">
                        No permission
                    </div>
                </router-link>
            </div>
        </div>
        <loader :loaderActive="loaderActive"></loader>
        <error :error="errorData"></error>
    </div>
</template>

<script>
  import loader from '~/components/frame/loader.vue'
  import auth from '~/lib/auth'
  import error from '~/components/frame/error.vue'
  export default {
    data () {
      return {
        loaderActive: true,
        errorData: {},
        accounts: {},
        editAccess: false
      }
    },
    mounted () {
      if (auth.user.permissions.admin >= 2) {
        this.editAccess = true
      }
      this.fetchAccounts()
    },
    methods: {
      fetchAccounts () {
        let that = this

        that.$http.get('/api/admin/accounts', {
          headers: auth.authHeader
        }).then(
          // Successful response
          (response) => {
            // If given data status is 200, render the page
            if (response.data.status === 200) {
              that.accounts = response.data.data.result
              that.converter()
              this.loaderActive = false
              return
            }

            that.errorData = response
          },
          (response) => {
            that.errorData = response
          }
        )
      },
      converter () {
        let accounts = this.accounts

        // Loop through every account in the array
        for (let i = 0; i < accounts.length; i++) {
          // For each permission object, convert value to readable permission
          for (let key in accounts[i]['permissions']) {
            if (!accounts[i]['permissions'].hasOwnProperty(key)) continue

            // Change permissions into readable format
            if (accounts[i]['permissions'][key] === 0) {
              accounts[i]['permissions'][key] = 'No permission'
              continue
            }

            if (accounts[i]['permissions'][key] === 1) {
              accounts[i]['permissions'][key] = 'View permission'
              continue
            }

            if (accounts[i]['permissions'][key] === 2) {
              accounts[i]['permissions'][key] = 'Edit permission'
            }
          }
        }
      }
    },
    components: {
      loader,
      error
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
    .table-cell {
        width: calc(14% - 30px);
    }

    .table-cell:nth-child(n+3):nth-child(-n+6) {
        text-align: center;
    }
</style>