<template>
    <div id="employee" class="view">
        <div class="row">
            <div class="employee-block" v-for="(view, index) in views" :key="index" v-bind:class="activeLayout(index)" v-on:click="changeLayout(index)">
                {{view.label}}
            </div>
        </div>

        <!-- Content View-->
        <div class="row" ref="content">
            <component :is="views[layoutIndex].view"></component>
        </div>

        <loader :loaderActive="loaderActive"></loader>
    </div>
</template>

<script>
import loader from '~/components/frame/loader.vue'
import sysImp from './employees/systemImprovements.vue'
import timelog from './employees/timelog.vue'
import todo from './employees/todo.vue'
import salescommission from './employees/salescommission.vue'
import drivinglog from './employees/drivinglog.vue'
// import meetings from './employees/meetings.vue'
import pdftest from './pdftest.vue'
import meetings from './employees/meetings/index.vue'

var underDev = {
    template: '<h3>Under Development</h3>'
}

export default {
    data() {
        return {
            loaderActive: true,
            layoutIndex: 0,
            views: [
                {
                    label: 'To-Do\'s',
                    view: 'todo'
                },
                {
                    label: 'Time Log',
                    view: 'timelog'
                },
                {
                    label: 'Calendar',
                    view: 'underDev'
                },
                {
                    label: 'Driving Log',
                    view: 'drivinglog'
                },
                {
                    label: 'Sales Commission',
                    view: 'salescommission'
                },
                {
                    label: 'Improvement Suggestions',
                    view: 'sysImp'
                },
                {
                    label: 'Meetings',
                    view: 'meetings'
                },
                {
                    label: 'Quotes (Experimental)',
                    view: 'pdftest'
                }
            ]
        }
    },
    mounted() {
        this.loaderActive = false
    },
    components: {
        loader,
        sysImp,
        underDev,
        timelog,
        todo,
        salescommission,
        drivinglog,
        pdftest,
        meetings
    },
    methods: {
        changeLayout(index) {
            this.layoutIndex = index
        },
        activeLayout(index) {
            if (index === this.layoutIndex) {
                return {
                    active: true
                }
            }
        }
    }
}
</script>
<style rel="stylesheet/scss" type="text/css" lang="scss">
.employee-block {
    display: inline-block;
    padding: 4px 25px;
    border: 1px solid #dbe1ea;
    cursor: pointer;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;

    &.fill {
        color: white;
        border: 1px solid #617ba8;
        background: #617ba8;

        &:hover {
            background: #82a3d9;
            border: 1px solid #82a3d9;
        }
    }
}

.employee-block-row {
    margin-left: -5px;
    margin-bottom: -5px;
}

.employee-block:hover,
.employee-block.active {
    background: #dbe1ea;
}
</style>