<template>
    <div id="textarea" class="view">
        <div class="row">
            <h1>FireStick Video</h1>
        </div>
        <div class="row" v-if="editAccess == true">
            <router-link to="/firestick/add" tag="div" class="button">Add New Video</router-link>
        </div>
        <div class="row">
            <div class="table-title">
                Accounts
            </div>
            <div class="table admin-accounts">
                <div class="table-header">
                    <div class="table-cell">
                        FireStick Id
                    </div>
                    <div class="table-cell description">
                        Film Name
                    </div>
                </div>
                <router-link class="table-row" v-for="video in videos" :key="video.stick_id" tag="div" :to="{ name: 'videoEdit', params: { id: video.id }}">
                    <div class="table-cell">
                        {{ video.stick_id }}
                    </div>
                    <div class="table-cell description">
                        {{ video.film_name }}
                    </div>
                </router-link>
            </div>
        </div>
        <loader :loaderActive="loaderActive"></loader>
        <error :error="errorData"></error>
    </div>
</template>

<script>
  import loader from '~/components/frame/loader.vue'
  import auth from '~/lib/auth'
  import error from '~/components/frame/error.vue'
  export default {
    data () {
      return {
        loaderActive: true,
        errorData: {},
        videos: {},
        editAccess: false
      }
    },
    mounted () {
      if (auth.user.permissions.admin >= 2) {
        this.editAccess = true
      }
      this.fetchVideos()
    },
    methods: {
      fetchVideos () {
        let that = this

        that.$http.get('/api/firestick/videos', {
          headers: auth.authHeader
        }).then(
          // Successful response
          (response) => {
            // If given data status is 200, render the page
            if (response.data.status === 200) {
              that.videos = response.data.data.result
              this.loaderActive = false
              return
            }

            that.errorData = response
          },
          (response) => {
            that.errorData = response
          }
        )
      }
    },
    components: {
      loader,
      error
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
    .table-cell {
        width: calc(20% - 30px);
        overflow: hidden;
    }
    .table-cell.description {
        width: 700px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>
