<template>
  <div class="wrapLibs">
    <div class="buttons">
      <div class="button" v-on:click="addSelect = 'library'">Add Library</div>
      <div class="button" v-on:click="addSelect = 'category'">Add Category</div>
      <div class="button" v-on:click="addSelect = 'film'">Add Film</div>

      <div class="add-thing" v-if="addSelect === 'library'">
        <input type="text" placeholder="Name" v-model="newEntities.library.name" />
        <ccms-button text="Save" v-on:triggerPress="newLibrary"></ccms-button>
        <div class="button" v-on:click="addSelect = ''">Cancel</div>
      </div>
      <div class="add-thing" v-if="addSelect === 'category'">
        <input type="text" placeholder="Name" v-model="newEntities.library.name" />
        <select v-model="newEntities.library.parentId">
          <option v-for="library in processedLibraries" :value="library.id">{{ library.name }}</option>
        </select>
        <ccms-button text="Save" v-on:triggerPress="newLibrary"></ccms-button>
        <div class="button" v-on:click="addSelect = ''">Cancel</div>
      </div>
      <div class="add-thing" v-if="addSelect === 'film'">
        <input type="text" placeholder="Name" v-model="newEntities.film.name" />
        <select v-model="newEntities.film.subjectId">
          <option v-for="library in libraries" :value="library.id">{{ library.name }}</option>
        </select>
        <ccms-button text="Save" v-on:triggerPress="newFilm"></ccms-button>
        <div class="button" v-on:click="addSelect = ''">Cancel</div>
      </div>
    </div>
    <div class="container">
      <template v-for="(library, index) in processedLibraries">
        <div class="library">
          <router-link tag="div" :to="'/libraries/category/' + library.id" class="library-title">
            {{ library.name }} <div class="library-del" v-on:click.prevent="deleteLibrary(library.id)"></div>
          </router-link>
          <div class="library-container" v-drake :data-library-id="library.id">
            <template v-for="(film, filmIndex) in processedFilms" v-if="film.subjectId === library.id">
              <div class="film" :data-entity-id="film.id" :class="{ yellow: !film.isPublic }">
                <router-link tag="div" class="text" :to="'/libraries/film/' + film.id">
                  {{ film.name }} <div class="film-del" v-on:click.prevent="deleteFilm(film.id, filmIndex)"></div>
                </router-link>
              </div>
            </template>
            <template v-for="category in processedCategories" v-if="category.parentId === library.id">
              <div class="category" :data-entity-id="category.id">
                <router-link tag="div" :to="'/libraries/category/' + category.id" class="category-title">
                  {{ category.name }} <div class="category-del" v-on:click.prevent="deleteLibrary(category.id)"></div>
                </router-link>
                <div class="category-container" v-drake :data-library-id="category.id">
                  <template v-for="(film, filmIndex) in processedFilms" v-if="film.subjectId === category.id">
                    <div class="film" :data-entity-id="film.id" :class="{ yellow: !film.isPublic }">
                      <router-link tag="div" class="text" :to="'/libraries/film/' + film.id">
                        {{ film.name }} <div class="film-del" v-on:click.prevent="deleteFilm(film.id, filmIndex)"></div>
                      </router-link>
                    </div>
                  </template>
                </div>
              </div>
            </template>
          </div>
        </div>
      </template>
    </div>
    <question :active="question.active" :question="question.question" :callback="question.callback" v-on:cancelQuestion="hideQuestion()"></question>
    <error :error="errorData"></error>
    <loader :loaderActive="loaderActive"></loader>
  </div>
</template>

<script>
  import dragula from 'dragula'
  import auth from '~/lib/auth'
  import loader from '~/components/frame/loader.vue'
  import error from '~/components/frame/error.vue'
  import question from '~/components/frame/question.vue'
  import sizzle from 'sizzle'
  import ccmsButton from '~/components/generic/button.vue'

  export default {
    data () {
      return {
        loaderActive: true,
        drake: null,
        doWatch: true,
        libraries: [],
        films: [],
        errorData: {},
        question: {
          active: false,
          question: null,
          callback: null
        },
        addSelect: '',
        newEntities: {
          library: {
            name: '',
            parentId: 0
          },
          film: {
            name: '',
            subjectId: 0
          }
        }
      }
    },
    mounted () {
      const that = this
      that.drake = dragula([], {
        isContainer (el) {
          return false // only elements in drake.containers will be taken into account
        },
        moves (el, source, handle, sibling) {
          return true // elements are always draggable by default
        },
        accepts (el, target, source, sibling) {
          function contains (a, b) {
            return a.contains ? a !== b && a.contains(b) : !!(a.compareDocumentPosition(b) & 16)
          }

          if (el.classList.contains('category') && target.classList.contains('category-container')) {
            return false
          }

          return !contains(el, target)
        },
        invalid (el, handle) {
          return false // don't prevent any drags from initiating by default
        },
        direction: 'vertical',
        copy: false,
        copySortSource: false,
        revertOnSpill: true,
        removeOnSpill: false,
        ignoreInputTextSelection: false,
        allowNestedContainers: true,
        mirrorContainer: sizzle('.container', that.$el)[0]
      })

      // When an element is dropped, save it.
      that.drake.on('drop', (el, target) => {
        if (el.attributes.class.value.includes('category')) {
          // Get index
          const index = that.libraries.map((x) => { return x.id }).indexOf(parseInt(el.attributes['data-entity-id'].value))
          if (index >= 0) {
            // Update parentId
            that.libraries[index].parentId = parseInt(target.attributes['data-library-id'].value)
            that.saveLibrary(index)
          }
        }

        if (el.attributes.class.value.includes('film')) {
          // Get index
          const index = that.films.map((x) => { return x.id }).indexOf(parseInt(el.attributes['data-entity-id'].value))

          if (index >= 0) {
            // Update subjectId
            that.films[index].subjectId = parseInt(target.attributes['data-library-id'].value)
            that.saveFilm(index)
          }
        }

        // Cancel the drake event, and let Vue handle rendering
        that.drake.cancel(true)
      })

      window.Promise.all([
        that.getLibraries(),
        that.getFilms()
      ]).then(() => {
        that.loaderActive = false
      })
    },
    methods: {
      // Remove question asked
      hideQuestion () {
        let that = this
        that.question.active = false

        setTimeout(function () {
          that.question.question = null
          that.question.callback = null
        }, 1000)
      },
      getLibraries () {
        const that = this
        return new window.Promise((resolve, reject) => {
          that.$http.get('/api/libraries', {
            headers: auth.authHeader
          }).then((response) => {
            that.libraries = response.body.data.libraries
            resolve()
          })
        })
      },
      getFilms () {
        const that = this
        return new window.Promise((resolve, reject) => {
          that.$http.get('/api/libraries/films', {
            headers: auth.authHeader
          }).then((response) => {
            that.films = response.body.data.films
            resolve()
          })
        })
      },
      saveLibrary (index) {
        const that = this
        const library = that.libraries[index]
        that.$http.put('/api/libraries/library/' + library.id, {
          library: library
        }, {
          headers: auth.authHeader
        }).then((response) => {
          console.log(response)
        })
      },
      deleteLibrary (id) {
        const that = this
        let possibleDelete = true
        that.libraries.forEach((x) => {
          if (x.parentId === id) {
            possibleDelete = false
          }
        })

        that.films.forEach((x) => {
          if (x.subjectId === id) {
            possibleDelete = false
          }
        })

        if (!possibleDelete) {
          that.errorData = {
            status: 200,
            data: {
              message: 'Must be empty before removing'
            }
          }
          return
        }

        const target = that.libraries.findIndex((x) => x.id === id)

        that.question.active = true
        that.question.question = 'delete ' + that.libraries[target].type + ' named ' + that.libraries[target].name
        that.question.callback = function () {
          that.$http.delete('/api/libraries/library/' + id, {
            headers: auth.authHeader
          }).then(
            (response) => {
              console.log(response)
              if (response.data.status === 200) {
                that.libraries.splice(target, 1)
                return
              }
            that.errorData = response
          },
            (response) => {
            that.errorData = response
          })
        }
      },
      newLibrary () {
        const that = this
        that.loaderActive = true
        that.$http.post('/api/libraries/library', {
          library: {
            name: that.newEntities.library.name,
            parentId: that.newEntities.library.parentId
          }
        }, {
          headers: auth.authHeader
        }).then((response) => {
          if (response.data.status !== 200) {
            that.errorData = response
            that.loaderActive = false
            return
          }

          window.Promise.all([
            that.getLibraries(),
            that.getFilms()
          ]).then(() => {
            that.addSelect = ''
            that.loaderActive = false
          })
        }, (response) => {
          that.errorData = response
        })
      },
      saveFilm (index) {
        const that = this
        const film = that.films[index]
        that.$http.put('/api/libraries/film/' + film.id, {
          film: film
        }, {
          headers: auth.authHeader
        }).then((response) => {
          if (response.data.status !== 200) {
            that.errorData = response
          }
        }, (response) => {
          that.errorData = response
        })
      },
      deleteFilm (id, index) {
        const that = this
        that.question.active = true
        that.question.question = 'delete film named ' + that.films[index].name
        that.question.callback = function () {
          that.$http.delete('/api/libraries/film/' + id, {
            headers: auth.authHeader
          }).then(
            (response) => {
              console.log(response)
              if (response.data.status === 200) {
                that.films.splice(index, 1)
                return
              }
              that.errorData = response
            },
            (response) => {
              that.errorData = response
            })
        }
      },
      newFilm () {
        const that = this
        that.loaderActive = true
        that.$http.post('/api/libraries/film', {
          film: {
            name: that.newEntities.film.name,
            subjectId: that.newEntities.film.subjectId
          }
        }, {
          headers: auth.authHeader
        }).then((response) => {
          if (response.data.status !== 200) {
            that.errorData = response
            that.loaderActive = false
            return
          }

          window.Promise.all([
            that.getLibraries(),
            that.getFilms()
          ]).then(() => {
            that.addSelect = ''
            that.loaderActive = false
          })
        }, (response) => {
          that.errorData = response
        })
      }
    },
    directives: {
      // Directive that adds new containers to dragula
      drake: {
        bind (el, _, vnode) {
          vnode.context.drake.containers.push(el)
        },
        unbind (el, _, vnode) {
          vnode.context.drake.containers.splice(
            vnode.context.drake.containers.findIndex((x) => { return x === el }),
            1
          )
        }
      }
    },
    computed: {
      processedLibraries () {
        return this.libraries
          .filter((x) => { return x.type === 'library' })
          .sort((a, b) => { return (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0) })
      },
      processedCategories () {
        return this.libraries
          .filter((x) => { return x.type === 'category' })
          .sort((a, b) => { return (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0) })
      },
      processedFilms () {
        return this.films
          .sort((a, b) => { return (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0) })
      }
    },
    components: {
      loader,
      error,
      question,
      ccmsButton
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
  @import "~dragula/dist/dragula.css";

  .wrapLibs {
    position: relative;
  }

  .container {
    position: relative;
    text-align: left;
    margin-bottom: 20px;
  }

  .buttons {
    text-align: left;
    margin-top: 10px;
    padding: 0;

    .button:first-child {
      margin-left: 0;
    }

    .add-thing {
      margin-top: 10px;

      input, select {
        outline: none;
        padding: 5px 25px;
        vertical-align: top;
        background: #fff;
      }
    }
  }

  .library {
    margin-top: 10px;

    .library-title {
      border-left: 1px solid #ccc;
      border-top: 1px solid #ccc;
      border-right: 1px solid #ccc;
      display: inline-block;
      padding: 3px 15px;
      margin-bottom: -1px;
      z-index: 2;
      background: #fff;
      text-align: center;
      min-width: 200px;
      cursor: pointer;

      .library-del {
        display: inline-block;
        cursor: pointer;
        float: right;
      }

      .library-del:before {
        font-family: 'FontAwesome';
        content: '\f1f8';
        height: 100%;
        width: 20px;
      }
    }

    .library-container {
      border: 1px solid #ccc;
      padding: 5px;
      z-index: 1;
      background: #fff;
    }
  }

  .category {
    margin-top: 5px;

    .category-title {
      border-left: 1px solid #ccc;
      border-top: 1px solid #ccc;
      border-right: 1px solid #ccc;
      display: inline-block;
      padding: 3px 15px;
      margin-bottom: -1px;
      z-index: 2;
      background: #fafafa;
      cursor: pointer;
      text-align: center;
      min-width: 195px;

      .category-del {
        display: inline-block;
        cursor: pointer;
        float: right;
      }

      .category-del:before {
        font-family: 'FontAwesome';
        content: '\f1f8';
        height: 100%;
        width: 20px;
      }
    }

    .category-container {
      border: 1px solid #ccc;
      padding: 10px 5px;
      z-index: 1;
      background: #fafafa;
    }
  }

  .film.yellow {
    background: #fff689;
  }

  .film {
    background: #e1e5f1;
    border: 1px solid #adadad;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;

    .film-del {
      display: inline-block;
      cursor: pointer;
      float: right;
    }

    .film-del:before {
      font-family: 'FontAwesome';
      content: '\f1f8';
      height: 100%;
      width: 20px;
    }

    .text {
      padding: 5px 15px;
    }

    .text:before {
      font-family: FontAwesome;
      content: '\f00a';
      color: #7b7b7b;
    }
  }
</style>
