<template>
    <div id="login">
        <form class="screen" v-on:submit.prevent="submit">
            <h2>Login</h2>
            <div class="content-container">
                <input type="text" name="email" v-model="creds.email" placeholder="email" />
            </div>
            <div class="content-container">
                <input type="password" name="password" v-model="creds.pass" placeholder="Password" />
            </div>
            <div class="content-container link">
                <router-link to="/password">Forgot my password</router-link>
            </div>
            <div class="content-container">
                <input type="submit" value="Login" />
            </div>
            <div class="content-container">
                <div class="error-message" v-if="error">
                    Your login credentials seem to be invalid
                </div>
            </div>
        </form>
    </div>
</template>

<script>
  import auth from '~/lib/auth'

  export default {
    data () {
      return {
        creds: {
          email: '',
          pass: ''
        },
        error: false
      }
    },
    created () {
      if (this.authenticated) {
        this.$router.push(typeof this.$route.query.redirect !== 'undefined' ? this.$route.query.redirect : '/accounts')
      }
    },
    methods: {
      submit () {
        let that = this
        let userCredentials = {
          email: this.creds.email,
          password: this.creds.pass
        }

        auth.login(userCredentials).then(function (result) {
          if (result) {
            that.$router.push(typeof that.$route.query.redirect !== 'undefined' ? that.$route.query.redirect : '/accounts')
            return
          }

          that.error = true
        })
      }
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
    @import "../../scss/standard-colours";
    #login {
        text-align: center;
    }
    .screen {
        margin-top: 20px;
        width: 400px;
        display: inline-block;
    }

    .content-container {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .error-message {
        color: $main-red-error;
    }

    .link {
        font-size: 0.8em;
        text-align: right;

        a {
            color: $main-blue;
        }

        a:hover {
            color: $main-blue-gradient;
        }
    }

    input {
        width: calc(400px - 30px);
        padding: 5px 15px;
        outline: none;
        border: 1px solid #7f7f7f;
    }

    input[type=submit] {
        width: 402px;
        background: $main-blue;
        color: #fff;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background: $main-blue-gradient;
    }
</style>