<template lang="pug">
    .container.quote
        .loader(v-if="isPrinting")
            i.fa.fa-spinner.spin(aria-hidden="true")
        .pages
            quote(language="se" :rows="rows" :discounts="discounts" :kam="kams[activeKam]")
        .toolbox
            h4 TOOLS
            .employee-block.fill.quote(@click="renderonserver") Save Quote
            .employee-block.fill.quote(@click="print") Print Quote
            .employee-block.fill.quote() Clear Quote
            h4 ROWS
            .employee-block.fill.quote(@click="addRow") Add Row
            .employee-block.fill.quote(@click="deleteRow") Remove Row
            h4 DISCOUNTS
            .employee-block.fill.quote(@click="addDiscountPercentage") Percentage
            .employee-block.fill.quote(@click="addDiscountReduction") Reduction
            .employee-block.fill.quote(@click="deleteDiscount") Delete Latest
            h4 KAMS
            .employee-block.fill.quote(:key="index" @click="changeKam(index)" v-for="(kam, index) in kams") {{kam.name}}
    </template>
<script>
import html2canvas from '../../assets/js/html2canvas.min.js'
import Jspdf from '../../assets/js/jspdf.min.js'
import quote from './quote/components/quote.vue'
import auth from '../../lib/auth'
// import htmlParser from '../../lib/htmlParser'

export default {
    name: 'pdftest',
    components: { quote },
    data() {
        return {
            rows: [],
            discounts: {
                percentages: [],
                reductions: [],
                history: []
            },
            kams: [
                {
                    name: 'Percy Werner',
                    role: 'Kundansvarig, MedFilm',
                    tel: '0708-77 42 95',
                    email: 'percy-werner@medfilm.se',
                    image: 'https://medfilm.se/api/v1/image/static//3d053388-9967-40d5-6427-65f8d06a8bab'
                },
                {
                    name: 'Erik Kylén',
                    role: 'VD, MedFilm',
                    tel: '0708-73 39 59',
                    email: 'erik.kylén@medfilm.se',
                    image: 'https://medfilm.se/api/v1/image/static//aa50c034-5396-46ad-5c10-7570bc462de5'
                },
                {
                    name: 'Joel Stenholm',
                    role: 'Produktionschef, MedFilm',
                    tel: '0703-23 47 75',
                    email: 'joel.stenholm@medfilm.se',
                    image: 'https://medfilm.se/api/v1/image/static//dac48332-7bab-429e-51db-fc089e37394a'
                },
                {
                    name: 'Caroline Hansson',
                    role: 'Marknadsansvarig, MedFilm',
                    tel: '0703-23 48 14',
                    email: 'caroline.hansson@medfilm.se',
                    image: 'https://medfilm.se/api/v1/image/static//e294082c-1838-492e-5297-c8470bfe8108'
                }
            ],
            activeKam: 0,
            isPrinting: false,
// #region css
            css: `
            .page {
    position: relative;
    max-width: 17cm;
    min-width: 17cm;
    min-height: 25.7cm;
    max-height: 25.7cm;
    padding: 2cm;
    font-size: 0.8em;
    border: 1px solid #aaa;
    -webkit-box-shadow: -5px 2px 12px #aaa;
            box-shadow: -5px 2px 12px #aaa;
    }
    .page .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    }
    .page .row.head {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    }
    .page .row.head h2 {
    font-size: 3em;
    color: #8f9db3;
    }
    .page .row.info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.5cm;
    }
    .page .row.contact label {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    }
    .page .row.contact input.contactfield {
    -webkit-box-flex: 8;
        -ms-flex: 8;
            flex: 8;
    max-width: 14cm;
    border: none;
    border-bottom: 1px solid #8f9db3;
    }
    .page .row.subscriptions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 0.4cm;
    }
    .page .row.subscriptions .col h3 {
    color: #8f9db3;
    }
    .page .row.subscriptions .col.films {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    margin-right: 2px;
    }
    .page .row.subscriptions .col.languages {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    }
    .page .row.extensions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    }
    .page .row.extensions h3 {
    color: #8f9db3;
    }
    .page .row.summary {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    }
    .page .row.summary .discount input {
    text-align: right;
    border: none;
    width: 7cm;
    }
    .page .row.summary .discount input.reduction, .page .row.summary .discount input.percentage {
    width: 2em;
    margin-right: 4px;
    }
    .page .row.summary .discount input.reduction {
    width: 3.4em;
    }
    .page .row.summary .discount input.percentageInValue {
    width: 1.5cm;
    }
    .page .row.summary .discount:nth-last-child(2) {
    margin-bottom: 10px;
    }
    .page .row.summary .discount:nth-child(2) {
    margin-top: 10px;
    }
    .page .row.kam {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #8f9db3;
    padding: 3em;
    color: #000;
    bottom: 1.5cm;
    right: 2cm;
    left: 2cm;
    }
    .page .row.kam img.person {
    margin-right: 1cm;
    }
    .page .row .sumrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    }
    .page .row .sumrow input {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-style: italic;
    border: none;
    width: 100%;
    font-size: 0.9em;
    }
    .page .table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    }
    .page .table .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #617ba8;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    margin-top: 0.2cm;
    }
    .page .table .head b {
    color: white;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    }
    .page .table .rows .row {
    padding-top: 0;
    margin: 0;
    }
    .page .table .rows .row p, .page .table .rows .row input {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    border: none;
    border-bottom: 1px solid #8f9db3;
    border-right: 1px solid #8f9db3;
    width: 100%;
    }
    .page .table .rows .row p:first-child, .page .table .rows .row input:first-child {
    border-left: 1px solid #8f9db3;
    }
    .page .table .rows .row p.big, .page .table .rows .row input.big {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    }
            `
// #endregion
        }
    },
    methods: {
        asynctest: function() {
            return new Promise((resolve, reject) => {
                window.scrollTo(0, 0)

                const el = document.getElementById('wrapper')

                const canvas = document.createElement('canvas')

                let width = 642
                let height = 971

                canvas.width = width * 4
                canvas.height = height * 4
                canvas.style.width = 42 + 'cm'
                canvas.style.height = 59.4 + 'cm'

                canvas.style.transformOrigin = '0 0'

                let ctx = canvas.getContext('2d')
                ctx.scale(2, 2)

                html2canvas(el, {
                    allowTaint: false,
                    useCORS: true,
                    canvas,
                    onrendered: (canvas) => {
                        resolve(canvas)
                    }
                })
            })
        },
        save: function() {
            const that = this
            this.isPrinting = true

            this.asynctest()
            .then((canvas) => {
                let img = canvas.toDataURL('image/png')
                let doc = new Jspdf()
                // topleft, topright, width, height, ??
                doc.addImage(img, 'JPEG', -140, -60, 350, 530, 100)
                doc.save('quote.pdf')
                that.isPrinting = false
            })
        },
        print: function() {
            const that = this
            this.isPrinting = true

            this.asynctest()
            .then((canvas) => {
                let img = canvas.toDataURL('image/png')
                let doc = new Jspdf('', 'mm', [canvas.width, canvas.height])
                doc.addImage(img, 'JPEG', -140, -60, 350, 530, 100)
                doc.autoPrint()
                window.open(doc.output('bloburl'), '_blank')
                that.isPrinting = false
            })
        },
        renderonserver: function () {
            const that = this
            this.isPrinting = true
            
            const el = document.getElementById('wrapper')
            const html = this.grabHtml(el, true)

            this.$http.post('/api/htmltopdf', { html }, {
                headers: auth.authHeader
            })
            .then(
                (res) => {
                    if (res.status !== 200) {
                        console.error(res)
                        return
                    }
                    // Decode base64 
                    const byteCharacters = window.atob(res.body.data.buffer)
                    const byteNumbers = new Array(byteCharacters.length)

                    // Save as bytes
                    for (var i = 0; i < byteCharacters.length; i++) {
                        byteNumbers[i] = byteCharacters.charCodeAt(i)
                    }

                    // Create blob from byte array
                    const byteArray = new Uint8Array(byteNumbers)
                    const newblob = new window.Blob([byteArray], {type: 'application/pdf'})

                    if (window.navigator && window.navigator.msSaveOrOpenBlob) {
                        window.navigator.msSaveOrOpenBlob(newblob)
                        return
                    }

                    const data = window.URL.createObjectURL(newblob)
                    const link = document.createElement('a')

                    link.href = data
                    link.download = 'quote.pdf'
                    link.click()

                    setTimeout(() => { window.URL.revokeObjectURL(data) }, 100)
                    that.isPrinting = false
                }, (reason) => {
                    console.error(reason)
                    that.isPrinting = false
                }
            )
        },
        grabHtml: function(which, deep) {
            if (!which || !which.tagName) return ''
            let txt 
            let ax
            let el = document.createElement('div')
            el.appendChild(which.cloneNode(false))
            txt = el.innerHTML
            if (deep) {
                ax = txt.indexOf('>') + 1
                txt = txt.substring(0, ax) + which.innerHTML + txt.substring(ax)
            }
            el = null
            return `<head><meta charset="utf-8"/></head><body>${txt}</body>`
        },
        addRow: function() {
            this.rows.push({
                patientfilm: '',
                pricePerMovie: 2.5,
                licenses: 1,
                languages: '(SE)',
                pricePerLang: 400
            })
        },
        deleteRow: function() {
            if (this.rows.length === 0) return
            this.rows.pop()
        },
        addDiscountPercentage: function() {
            this.discounts.percentages.push({
                text: '',
                value: '(0)'
            })
            this.discounts.history.push('percentages')
        },
        addDiscountReduction: function() {
            this.discounts.reductions.push({
                text: '',
                value: '0'
            })
            this.discounts.history.push('reductions')
        },
        deleteDiscount: function() {
            if (this.discounts.history.length === 0) return
            let type = this.discounts.history.pop()
            this.discounts[type].pop()
        },
        changeKam: function(index) {
            this.activeKam = index
        }
    }
}

</script>
<style lang="scss" scoped>
.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        align-self: center;
        font-size: 4em;
        color: white;
        &.spin {
            animation: spin 2s;
            animation-iteration-count: infinite;
        }
    }
    
}
@keyframes spin {
    0% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(180deg);
        color: #2F5796;
    }
    100% {
        transform: rotateZ(360deg);
    }
}
.container.quote {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    .toolbox {
        display: flex;
        align-items: center;
        flex-direction: column;
        h4 {
            display: inline-block;
            margin-bottom: 1em;
            margin-top: 1em;
            color: #8f9d8f;
            width: 170px;
            text-align: left;
            border-bottom: 1px solid #8f9db3;
        }
    }
    .x2 {
        transform: scale(2, 2);
    }
    .pages {
        display: flex;
        align-items: center;
    }
    .employee-block.fill.quote {
        width: 120px;
    }
}
</style>
