<template>
    <div id="prospects" class="view">
        <!-- Country edits -->
        <div v-if="entries.editAccess">
            <div class="row country-block-row">
                <div class="country-block" v-for="(country, index) in countries" :key="country.id" v-bind:class="activeCountry(index)" v-on:click="changeLayout(index)">
                    {{ country.name }}
                </div>

                <!-- Add country button -->
                <addEntryButton name="Add Country" value="country" v-on:addEntry="addEntry" endpoint="country" v-on:parseError="parseError" v-on:reload="fetchData"></addEntryButton>
                <deleteEntryButton v-if="countries.length > 0" name="Delete Country" :countryId="this.countries[layoutIndex].id" :countryName="this.countries[layoutIndex].name" v-on:parseError="parseError" v-on:reload="fetchData" v-on:askQuestion="askQuestion"></deleteEntryButton>
            </div>

            <!-- Add country input -->
            <div class="row" v-if="entries.country">
                <addEntry :callback="entries.callback" editName="Country Name" v-on:removeEdit="removeEntry" :request="{ }"></addEntry>
            </div>

            <!-- Add Prospect, Region buttons -->
            <div class="row country-block-row" v-if="countries.length > 0">
                <addEntryButton name="Add Prospect" value="prospect" v-on:addEntry="addEntry" endpoint="prospect" v-on:parseError="parseError" v-on:reload="fetchData" v-if="countries[layoutIndex].regions !== null"></addEntryButton>
                <addEntryButton name="Add Region" value="region" v-on:addEntry="addEntry" endpoint="region" v-on:parseError="parseError" v-on:reload="fetchData"></addEntryButton>
            </div>

            <!-- Add Region input -->
            <div class="row" v-if="entries.region">
                <addEntry :callback="entries.callback" editName="Region Name" v-on:removeEdit="removeEntry" :request="{ countryId: this.countries[layoutIndex].id }"></addEntry>
            </div>
            <div class="row" v-if="entries.prospect && countries[layoutIndex].regions !== null">
                <addProspect :callback="entries.callback" :regions="countries[layoutIndex].regions" :Categories="Categories" v-on:removeEdit="removeEntry" v-on:reload="fetchData"></addProspect>
            </div>
        </div>

        <!-- if no edit access, only show this -->
        <div class="row" v-else>
            <div class="country-block" v-for="(country, index) in countries" :key="country.id" v-bind:class="activeCountry(index)" v-on:click="changeLayout(index)">
                {{ country.name }}
            </div>
        </div>

        <div class="input-field searchBar">
            Filter
            <input type="text" v-model="searchQuery" />
        </div>

        <!-- TODO: Fix bug when no countries exists -->
        <div v-if="countries.length > 0">
            <template v-for="(region, regionIndex) in countries[layoutIndex].regions">
                <region-table @openQuote="openQuote" :KAM="KAM" :Categories="Categories" :region="region" :countryIndex="layoutIndex" :regionIndex="regionIndex" v-on:parseError="parseError" v-on:askQuestion="askQuestion" v-on:reload="fetchData" :shownRegion="shownRegions[regionIndex]" v-on:updateShown="updateShown" :searchQuery="searchQuery"></region-table>
            </template>
        </div>

        <!-- Loader and error components -->
        <question :active="question.active" :question="question.question" :callback="question.callback" v-on:cancelQuestion="hideQuestion()"></question>
        <loader :loaderActive="loaderActive"></loader>
        <error :error="errorData"></error>

        <!-- Popup windows -->
        <quotes v-if="quotes.windowShown" @close="quotes.windowShown = false" :prospect="quotes.data" />
    </div>
</template>

<script>
  import loader from '~/components/frame/loader.vue'
  import auth from '~/lib/auth'
  import addEntryButton from './prospectsComponent/addEntryButton.vue'
  import addEntry from './prospectsComponent/addEntry.vue'
  import addProspect from './prospectsComponent/addProspect.vue'
  import regionTable from './prospectsComponent/regionTable.vue'
  import deleteEntryButton from './prospectsComponent/deleteCountry.vue'
  import question from '~/components/frame/question.vue'
  import error from '~/components/frame/error.vue'
  import quotes from '~/components/content/accounts/view/quotes.vue'

  export default {
    props: [
      'authenticated'
    ],
    data () {
      return {
        // Controls country/region buttons
        entries: {
          editAccess: false,
          region: false,
          country: false,
          prospect: false,
          callback: null
        },

        // Controls question when doing an important change
        question: {
          active: false,
          question: null,
          callback: null
        },

        // Data for quotes and agreements
        quotes: {
          windowShown: false,
          data: {}
        },
        agreements: {
          windowShown: false,
          data: {}
        },

        // Local loader is active
        loaderActive: true,

        // Errordata for error message
        errorData: {},

        // Index of selected country
        layoutIndex: 0,

        // Country template (overwritten on fetch)
        countries: [
          {
            id: 0,
            name: null,
            regions: [
              {
                id: 0,
                name: null,
                prospect: [
                  {
                    id: 0,
                    hospital: null,
                    clinic: null,
                    hide: false,
                    categoryName: null,
                    categoryId: null,
                    mainContact: null,
                    refNumber: null,
                    vatNumber: null,
                    phoneFirst: null,
                    phoneSecond: null,
                    addresses: {
                      visiting: {
                        id: 0,
                        prospectId: null,
                        userId: null,
                        type: null,
                        companyFirst: null,
                        companySecond: null,
                        addressFirst: null,
                        addressSecond: null,
                        city: null,
                        postalCode: null,
                        state: null,
                        country: null
                      },
                      billing: {
                        id: 0,
                        prospectId: null,
                        userId: null,
                        type: null,
                        companyFirst: null,
                        companySecond: null,
                        addressFirst: null,
                        addressSecond: null,
                        city: null,
                        postalCode: null,
                        state: null,
                        country: null
                      }
                    },
                    contact: [
                      {
                        name: null,
                        position: null,
                        email: null,
                        phoneFirst: null,
                        phoneSecond: null
                      }
                    ],
                    reminder: null,
                    reminderTime: null,
                    reminderText: null,
                    accountableId: 0,
                    accountable: null,
                    colour: null,
                    regionalOffice: null,
                    comment: [
                      {
                        id: 0,
                        accountable: null,
                        description: null,
                        created: null
                      }
                    ],
                    updated: null,
                    created: null
                  }
                ]
              }
            ]
          }
        ],

        // All possible KAMs
        KAM: [
          {
            id: null,
            name: null
          }
        ],

        // All possible categories
        Categories: [
          {
            id: null,
            name: null
          }
        ],

        shownRegions: {},

        searchQuery: ''
      }
    },
    mounted () {
      if (auth.user.permissions.prospects >= 2) {
        this.entries.editAccess = true
      }
      this.getPreData()
    },
    methods: {
      openQuote: function (evt) {
        this.quotes.windowShown = true
        this.quotes.data = evt
      },
      // Fetch new data from server, and reset possible incorrect values
      fetchData () {
        let that = this

        let countryIdCache = 1
        // Save current selected country name
        if (that.countries.length > 0) {
          countryIdCache = that.countries[that.layoutIndex].id
        }

        // Reset all session variables
        that.loaderActive = true
        that.removeEntry()

        // Start loader when fetching data
        that.$http.get('/api/prospects', {
          headers: auth.authHeader
        }).then(
          // Successful response
          (response) => {
            // If given data status is 200, render the page
            if (response.data.status === 200) {
              // With new results, search for old name and if it exist, set that to current country
              if (!response.data.data.result) {
                that.countries = []
                that.loaderActive = false
                return
              }

              that.countries = response.data.data.result

              const Cache = parseInt(window.localStorage.getItem('activeCountry'))
              if (Cache && that.countries[Cache]) {
                that.layoutIndex = Cache
              } else {
                for (let i = 0; i < that.countries.length; i++) {
                  if (that.countries[i].id === countryIdCache) {
                    that.layoutIndex = i
                  }
                }
              }

              that.loaderActive = false
              return
            }

            that.errorData = response
          },
          (response) => {
            that.errorData = response
          }
        )
      },

      // Fetch KAM users, this only happens once during mount, otherwise use fetchData to update.
      getPreData () {
        let that = this
        
        let getKAM = new Promise(function (resolve, reject) {
          that.$http.get('/api/prospects/kam', {
            headers: auth.authHeader
          }).then(
            // Successful response
            (response) => {
              // If given data status is 200, render the page
              if (response.data.status === 200) {
                that.KAM = response.data.data.result
                resolve()
                return
              }

              that.errorData = response
              reject()
            },
            (response) => {
              that.errorData = response
              reject()
            }
          )
        })

        let getCategories = new Promise(function (resolve, reject) {
          that.$http.get('/api/prospects/categories', {
            headers: auth.authHeader
          }).then(
            // Successful response
            (response) => {
              // If given data status is 200, render the page
              if (response.data.status === 200) {
                that.Categories = response.data.data.result
                resolve()
                return
              }

              that.errorData = response
              reject()
            },
            (response) => {
              that.errorData = response
              reject()
            }
          )
        })

        getKAM.then(function () {
          getCategories.then(function () {
            that.fetchData()
          })
        })
      },

      // Change country index and display right regions and prospects
      changeLayout (index) {
        this.layoutIndex = index
      },

      // Give country buttons active class if it's selected
      activeCountry (index) {
        if (index === this.layoutIndex) {
          return {
            active: true
          }
        }

        return {
          active: false
        }
      },

      // Receive error message and assign it value that props to error component
      parseError (error) {
        this.errorData = error
      },

      // Triggered when user want to add or remove entries
      addEntry (name, callback) {
        // Reset values
        this.entries.country = false
        this.entries.region = false
        this.entries.prospect = false

        // Set given entry to true
        this.entries[name] = true

        // Set callback
        this.entries.callback = callback
      },

      // Triggered when cancel is pressed
      removeEntry () {
        this.entries.country = false
        this.entries.region = false
        this.entries.prospect = false
      },

      // Ask question to question component
      askQuestion (question, callback) {
        this.question.active = true
        this.question.question = question
        this.question.callback = callback
      },

      // Remove question asked
      hideQuestion () {
        let that = this
        that.question.active = false

        setTimeout(function () {
          that.question.question = null
          that.question.callback = null
        }, 1000)
      },

      updateShown () {
        let result = Object.assign({}, window.JSON.parse(window.localStorage.getItem(this.layoutIndex)))
        if (typeof result === 'undefined' || result === null) {
          result = {}
        }
        // TODO: Check why this occurs
        if (!this.countries[this.layoutIndex]) {
          console.error('this.countries[this.layoutIndex] is ', this.countries[this.layoutIndex])
          return
        }
        for (let key in this.countries[this.layoutIndex].regions) {
          if (!this.countries[this.layoutIndex].regions.hasOwnProperty(key)) continue

          if (typeof result[key] === 'undefined') {
            result[key] = true
          }
        }

        this.shownRegions = result
      }
    },
    watch: {
      layoutIndex: {
        handler (value) {
          window.localStorage.setItem('activeCountry', value)
          this.updateShown()
        }
      },
      loaderActive: {
        handler () {
          this.updateShown()
        }
      }
    },
    components: {
      loader,
      addEntry,
      addEntryButton,
      addProspect,
      deleteEntryButton,
      regionTable,
      question,
      error,
      quotes
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
    .remove-margin {
        margin: 0;
    }

    .country-block {
        display: inline-block;
        padding: 4px 25px;
        border: 1px solid #dbe1ea;
        cursor: pointer;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .country-block-row {
        margin-left: -5px;
        margin-bottom: -5px;
    }
    
    .country-block:hover, .country-block.active {
        background: #dbe1ea;
    }

    .searchBar {
        text-align: right;

        input {
            width: 400px;
        }
    }
</style>
