<template>
    <div id="password">
        <form class="screen" v-on:submit.prevent="resetPassword">
            <h2>Reset Password</h2>
            <div class="content-container">
                <input type="password" name="password" v-model="password" placeholder="New password" />
            </div>
            <div class="content-container link">
                <router-link to="/">Back to login</router-link>
            </div>
            <div class="content-container">
                <input type="submit" value="Reset" />
            </div>
            <div class="content-container">
                <div class="error-message" v-if="error">
                    Something went wrong, try again later
                </div>
                <div class="success-message" v-if="success">
                    Your password has been reset! Please login.
                </div>
            </div>
        </form>
    </div>
</template>

<script>
  export default {
    data () {
      return {
        password: null,
        error: false,
        success: false
      }
    },
    methods: {
      resetPassword () {
        let that = this

        that.$http.post('/api/auth/password/reset', {
          hash: that.$route.params.id,
          password: that.password
        }, {
          'Content-Type': 'application/json'
        }).then(
          // Successful response
          (response) => {
            // If given data status is 200, render the page
            if (response.data.status === 200) {
              that.success = true
              that.error = false
              return
            }

            that.error = true
            that.success = false
          },
          (response) => {
            that.error = true
            that.success = false
          }
        )
      }
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
    @import "../../scss/standard-colours";
    #password {
        text-align: center;
    }
    .screen {
        margin-top: 20px;
        width: 400px;
        display: inline-block;
    }

    .content-container {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .error-message {
        color: $main-red-error;
    }

    .link {
        font-size: 0.8em;
        text-align: right;

        a {
            color: $main-blue;
        }

        a:hover {
            color: $main-blue-gradient;
        }
    }

    input {
        width: calc(400px - 30px);
        padding: 5px 15px;
        outline: none;
        border: 1px solid #7f7f7f;
    }

    input[type=submit] {
        width: 402px;
        background: $main-blue;
        color: #fff;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background: $main-blue-gradient;
    }
</style>