<template>
    <div id="employee" class="view">
        <selector :alternatives="alternatives.languages" v-on:update="changeLanguage"></selector>
        <selector :alternatives="alternatives.part" v-on:update="changePart"></selector>
        <router-view v-if="!loaderActive" :title="title" :language="language" :linkName="selection.part" v-on:update="fetchData()"></router-view>
        <error :error="errorData"></error>
    </div>
</template>

<script>
  import error from '~/components/frame/error.vue'
  import selector from './websiteComponent/selector.vue'
  // import auth from '~/lib/auth'

  export default {
    data () {
      return {
        // Set loader status
        loaderActive: true,

        // Error data
        errorData: {},

        // Current filter selections
        selection: {
          language: 'English',
          part: 'websiteNews'
        },

        // Possible alternatives for filters
        alternatives: {
          languages: {
            en: {
              name: 'English'
            },
            se: {
              name: 'Swedish'
            },
            no: {
              name: 'Norwegian'
            }
          },
          part: {
            websiteHome: {
              name: 'Home',
              type: 'static'
            },
            websiteProducts: {
              name: 'Products',
              type: 'static'
            },
            websiteNews: {
              name: 'News',
              type: 'article'
            },
            websiteCaseStudies: {
              name: 'Case Studies',
              type: 'article'
            },
            websiteFaq: {
              name: 'FAQ',
              type: 'static'
            },
            websiteContact: {
              name: 'Contact',
              type: 'static'
            },
            websiteContact2: {
              name: 'Contact (Side)',
              type: 'static'
            },
            websitePolicy: {
              name: 'Policy',
              type: 'static'
            },
            websiteTerms: {
              name: 'Terms',
              type: 'static'
            },
            languageFile: {
              name: 'Language File',
              type: 'file'
            },
            LogotypeSort: {
              name: 'Logotypes',
              type: 'logoSort'
            }
          }
        },

        staticContent: {
          home: ''
        }
      }
    },
    mounted () {
      let that = this
      that.loaderActive = false
    },
    methods: {
      changeLanguage (language) {
        this.selection.language = language
      },
      changePart (part) {
        this.selection.part = part
      }
    },
    computed: {
      title () {
        return this.alternatives.part[this.selection.part].name
      },
      language () {
        return this.selection.language
      }
    },
    watch: {
      'selection.part': {
        handler () {
          // Go pack if part changes and you're in an entry
          if (this.alternatives.part[this.selection.part].type === 'static') {
            this.$router.push('/website/contentEdit')
            return
          }

          if (this.alternatives.part[this.selection.part].type === 'file') {
            this.$router.push('/website/file')
            return
          }

          if (this.alternatives.part[this.selection.part].type === 'logoSort') {
            this.$router.push('/website/logotype')
            return
          }

          if (this.$route.path !== '/website') {
            this.$router.back()
          }
        }
      }
    },
    components: {
      selector,
      error
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>

</style>