.button {
  display: inline-block;
  padding: 5px 25px;
  height: 20px;
  background: #617ba8;
  color: #fff;
  position: relative;
  cursor: pointer;
}

.button:hover {
  background: #82a3d9;
}

// For buttons that need to span width over a whole parent
.button.full-width {
  width: calc(100% - 50px);
  text-align: center;
  margin: 10px 0 0;
}