@import "standard-colours";

.view {
  position: relative;
  min-height: 500px;
  overflow: hidden;

  input[type=file] {
    display: none;
  }

  .row:first-child {
    padding-top: 20px;
  }

  .row {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow: visible;

    h1 {
      font-size: 1.4em;
      text-transform: uppercase;
      font-weight: normal;
    }

    h5 {
      font-size: 0.8em;
      margin-bottom: 5px;
      margin-top: 10px;
    }

    h1:first-of-type, h2:first-of-type, h3:first-of-type, h4:first-of-type, h5:first-of-type {
      margin-top: 0;
    }

    .input-field > input {
      width: 250px;
      margin-top: 5px;
      height: 16px;
      margin-bottom: 5px;
      padding: 5px 15px;
      outline: none;
      border: 1px solid #cccccc;
    }

    .input-field > input:disabled {
      background: #cccccc;
    }

    .select-field > select {
      background: #fff;
      padding: 5px 15px;
      height: 30px;
      width: 250px;
      margin-top: 5px;
      margin-bottom: 5px;
      outline: none;
      border: 1px solid #cccccc;
    }

    .select-field > select:disabled {
      background: #cccccc;
    }

    .checkbox-field {
      input[type=checkbox] {
        display: none;
      }

      label {
        height: 26px;
        width: 26px;
        display: inline-block;
        margin-top: 6px;
        background: #fff;
        border: 1px solid #cccccc;
        line-height: 26px;
        text-align: center;
        cursor: pointer;
      }

      input:disabled + label, input:disabled + label {
        background: #cccccc;
        cursor: default;
      }

      label:before {
        display: inline;
        font-size: 26px;
      }

      input[type=checkbox]:checked + .approved:before {
        font-family: FontAwesome;
        color: #008000;
        content: '\f00c';
      }
      input[type=checkbox]:checked + .rejected:before {
        font-family: FontAwesome;
        color: #ff0000;
        content: '\f00d';
      }

      input[type=checkbox]:disabled + .rejected:before {
        font-family: FontAwesome;
        color: #838383;
        content: '\f00d';
      }
    }

    .table {
      position: relative;
      display: table;
      width: 100%;
    }

    .table-title {
      background: #dbe1ea;
      padding: 3px 15px;
      margin-bottom: 4px;
      text-transform: uppercase;
    }

    .table-header, .table-row {
      overflow: visible;

      .table-cell {
        padding: 3px 15px;
        // TODO: Check if this is even needed
        // float: left;
        word-wrap: break-word;
        position: relative;
        display: inline-block;
      }

      // This class is for the :hover effect to work. It puts an invisible table-cell over the whole row.
      .table-cell:first-child::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 1000%;
        max-width: 1400px;
      }
    }

    .table-header {
      height: 26px;
    }

    .table-row {
      height: 22px;
    }

    .table-row {
      cursor: pointer;
      position: relative;

      .table-cell {
        font-size: 0.7em;
      }
    }

    .table-row:nth-of-type(odd) {
      background: #eaeaea;
    }

    section.table-section-row {
      display: block;
      vertical-align: top;
      overflow: hidden;
      cursor: default;
      border-top: 1px solid #cccccc;
      width: 100%;

      .table-cell {
        display: inline-block;
        vertical-align: top;
      }
    }

    .table-row:hover {
      background: #c6d3f3;
    }

    .table-header {
      background: #a6a6a6;
      color: #fff;
    }

    .block-title {
      background: #dbe1ea;
      padding: 3px 15px;
      margin-bottom: 4px;
      text-transform: uppercase;
    }

    .block-body ~ .block-title {
      margin-top: 5px;
    }

    .block-body {
      border: 2px solid #dbe1ea;
      .block-body-header {
        padding: 3px 30px;
        background: #a6a6a6;
        color: #fff;
      }

      .block-body-content {
        padding: 30px;

        .row, .row:first-child {
          margin: 0;
          padding: 5px;
          overflow: hidden;

          .entry {
            display: inline-block;
            float: left;
          }
        }
      }
    }
  }

  .row:empty, .row.hidden {
    display: none;
  }
}