<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <style>
    * {
      margin: 0;
      padding: 0;
      font-family: Verdana, sans-serif;
    }
  </style>
</head>
<body>
<div style="height: 20px; width: 100%; background: #617ba8;"></div>
<div style="padding: 40px;">
  "Please follow this link to reset password: {{ .Url }}/reset/{{ .Hash }}
</div>
</body>
</html>