<template lang="pug">
  .wrapper
    .employee-block(
        v-for="(person, index) in persons"
        :class="{active: index == activePerson}"
        :key="index" @click="changePerson(index)") {{person.name}}
    .employee-block.fill(@click="addPerson") Add person
    .employee-block.fill(@click="addRow") Add row
    .table
        .table-header
            b.group(style="flex:1") Type
            b.group Date
            b Route
            b Errand
            b.group Mileage(start)
            b.group Mileage(end)
            b.group Sum
    template(v-if="persons && persons.length !== 0")
        row(@created="fetchAll" v-for="(log, index) in persons[activePerson].logs" :row="log" :key="index")
</template>
<script>
import auth from '../../../lib/auth'
import row from '../employeesComponent/drivinglogRow.vue'

export default {
    name: 'drivinglog',
    components: { row },
    beforeMount() {
        this.fetchAll()
    },
    data() {
        return {
            activePerson: 0,
            persons: []
        }
    },
    methods: {
        fetchAll: function() {
            this.$http.get('/api/drivinglog', {
                headers: auth.authHeader
            }).then(
                (response) => {
                    console.log(response)
                    if (response.status === 200 && response.data.data.result !== null) {
                        this.persons = response.data.data.result
                    }
                },
                (response) => {
                    console.error(response)
                }
                )
        },
        addRow: function() {
            if (this.persons[this.activePerson].logs == null) {
                this.persons[this.activePerson].logs = []
            }
            this.persons[this.activePerson].logs.unshift({
                type: 'Company Car',
                date: '',
                travel_route: '',
                errand: '',
                mileage_start: 0,
                mileage_end: 0,
                drivinglog_person_id: this.persons[this.activePerson].id
            })
        },
        addPerson: function() {
            const name = window.prompt('Name: ')
            if (name.length !== 0) {
                this.$http.post('/api/drivinglog/person', {
                    name
                }, {
                        headers: auth.authHeader
                    }).then(
                    (response) => {
                        if (response.status === 200) {
                            console.log(response)
                            this.fetchAll()
                        }
                    },
                    (response) => {
                        console.error(response)
                    }
                    )
            }
        },
        changePerson: function(index) {
            this.activePerson = index
        }
    }
}
</script>
<style lang="scss" scoped>
.wrapper {
    .table {
        margin-top: 1em;
        .table-header {
            background-color: transparent;
            display: flex;
            align-items: center;

            b {
                font-weight: 100;
                padding-top: 5px;
                padding-bottom: 5px;
                background-color: #a6a6a6;
                flex: 2;
                text-align: center;
                margin: 0;

                &.group {
                    background-color: #919191;
                }
            }
        }
    }
}
</style>
