<template lang="pug">
  .wrapper
    .countries
        .employee-block(
            :class="{active: index === activeCountry}" 
            v-for="(country, index) in countries" :key="index"
            @click="changeCountry(index)"
            ) {{ country.name }}
        .employee-block.fill(@click="addCountry") Add Country
    .years
        .employee-block(
            v-for="(year, index) in extractYears"
            :key="index"
            @click="changeYear(index)"
            :class="{active: index === activeYear}"
        ) {{ year }}
        .employee-block.fill(@click="toggleForm") {{ formHidden ? 'Add Meeting':'Hide Form' }}
    .form(v-if="!formHidden")
        .col.one
            b Date
            b Clinic
            b KAM
        .col.two
            input(type="date" v-model="formData.planned_date")
            input(type="text" v-model="formData.clinic")
            input(type="text" v-model="formData.kam")
        .col.one
            .employee-block.fill(@click="createNewMeeting") Create
    .table
        .header
            b.group Planned Date
            b Clinic
            b Completed
            b.group Moved to Date
            b.group Comment
            b KAM
        .rows
            row(@postpone="addMeeting" v-for="(meeting, index) in extractMeetings" :key="index" :meeting="meeting")

</template>
<script>
import auth from '../../../lib/auth'
import row from '../employeesComponent/meetingsRow.vue'

export default {
    name: 'meetings',
    components: {
        row
    },
    data: function() {
        return {
            activeYear: 0,
            activeCountry: 0,
            countries: [],
            years: [],
            formHidden: true,
            formData: {
                planned_date: '',
                clinic: '',
                kam: ''
            }
        }
    },
    mounted: function() {
        this.fetchAll()
    },
    methods: {
        fetchAll: function() {
            this.$http.get('/api/meeting/country', {
                headers: auth.authHeader
            })
                .then((response) => {
                    if (response.status === 200) {
                        this.countries = response.body.data.result
                    }
                })
                .catch((response) => {
                    console.error(response)
                })
        },
        addCountry: function() {
            const country = window.prompt('New country:')
            if (country.length === 0) return

            this.$http.post('/api/meeting/country', { name: country }, {
                headers: auth.authHeader
            })
                .then((response) => {
                    this.fetchAll()
                })
                .catch((response) => {
                    console.error()
                })
        },
        createNewMeeting: function() {
            let data = {
                ...this.formData,
                completed: false,
                moved_to_date: null,
                comment: '',
                meeting_country_id: this.countries[this.activeCountry].id,
                parent_id: null
            }
            this.formData = {
                planned_date: '',
                clinic: '',
                kam: ''
            }
            this.addMeeting(data)
        },
        addMeeting: function(data) {
            this.$http.post('/api/meeting/', data, {
                headers: auth.authHeader
            }).then((response) => {
                if (response.status === 200) {
                    this.fetchAll()
                } else {
                    console.log(response)
                }
            }).catch((response) => {
                console.error(response)
            })
        },
        changeCountry: function(index) {
            this.activeYear = 0
            this.activeCountry = index
        },
        changeYear: function(index) {
            this.activeYear = index
        },
        toggleForm: function() {
            this.formHidden = !this.formHidden
        }
    },
    computed: {
        extractMeetings: function() {
            if (this.countries.length === 0) return
            const allMeetings = this.countries[this.activeCountry].meetings
            const meetings = allMeetings.filter((meeting) => {
                let year = meeting.planned_date.split('-')[0]
                if (year === this.years[this.activeYear]) return true
                else return false
            })
            const sorted = meetings.sort((a, b) =>
                new Date(b.planned_date) - new Date(a.planned_date)
            )
            return sorted
        },
        extractYears: function() {
            if (this.countries.length === 0) return
            const meetings = this.countries[this.activeCountry].meetings
            const years = []
            meetings.forEach((meeting) => {
                let year = meeting.planned_date.split('-')[0]
                if (years.indexOf(year) === -1) {
                    years.push(year)
                }
            })
            this.years = years
            return years.sort()
        }
    }
}
</script>
<style lang="scss" scoped>
.form {
    padding: 1em;
    display: flex;
    flex-direction: row;
    width: 40%;
    margin-top: 1em;
    border: 1px solid #919191;

    .col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        input {
            width: 150px;
            height: 1em;
            margin: 4px;
        }

        b {
            font-weight: 100;
            height: 1em;
            margin: 4px;
        }

        &.one {
            flex: 1;
        }
        &.two {
            flex: 2;
        }
    }
}

.table {
    margin-top: 1em;
    .header {
        display: flex;
        flex-direction: row;
        background-color: transparent;
        b {
            flex: 1;
            font-weight: 100;
            color: white;
            background-color: #a6a6a6;
            padding-top: 5px;
            padding-bottom: 5px;
            text-align: center;

            &.group {
                background-color: #919191;
            }
        }
    }
}
</style>
