<template lang="pug">
    .wrapper
        .employee-block(
            v-for="(country, index) in countries" 
            :class="{active: index == activeCountry}" 
            :key="index" @click="changeCountry(index)") {{country.name}}
        .employee-block.fill(@click="addCountry") Add country
        .employee-block.fill(@click="addRow") Add row
        .table
            .table-header
                b.group Date signed
                b(style="flex: 3") Hospital/Clinic
                b(style="flex: 3") Purchased items
                b Order value, tkr
                b.group KAM
                b.group Comm(10%) tkr
                b Assist
                b Comm(2%) tkr
                b.group(style="flex: 1") Paid ?
        template(v-if="countries && countries.length !== 0")
            row(@created="fetchAll" v-for="(row, index) in countries[activeCountry].rows" :key="index" :row="row")
</template>
<script>
import auth from '../../../lib/auth'
import row from '../employeesComponent/salescommissionRow.vue'

export default {
    name: 'salescomission',
    components: { row },
    beforeMount() {
        this.fetchAll()
    },
    data() {
        return {
            activeCountry: 0,
            countries: []
        }
    },
    methods: {
        fetchAll: function() {
            this.$http.get('/api/salescommission', {
                headers: auth.authHeader
            }).then(
                (response) => {
                    console.log(response)
                    if (response.status === 200 && response.data.data.result !== null) {
                        this.countries = response.data.data.result
                    }
                },
                (response) => {
                    console.error(response)
                }
                )
        },
        addRow: function() {
            if (this.countries[this.activeCountry].rows == null) {
                this.countries[this.activeCountry].rows = []
            }
            this.countries[this.activeCountry].rows.unshift({
                country_id: this.countries[this.activeCountry].id,
                date: '',
                hospital: '',
                items: '',
                order_value: 0,
                kam: '',
                assist: '',
                paid: {
                    kam: false,
                    assist: false
                }
            })
        },
        addCountry: function() {
            const name = window.prompt('Name: ')
            if (name.length !== 0) {
                this.$http.post('/api/salescommission/country', {
                    name
                }, {
                        headers: auth.authHeader
                    }).then(
                    (response) => {
                        if (response.status === 200) {
                            console.log(response)
                            this.fetchAll()
                        }
                    },
                    (response) => {
                        console.error(response)
                    }
                    )
            }
        },
        changeCountry: function(index) {
            this.activeCountry = index
        }
    }
}
</script>
<style lang="scss" scoped>
.wrapper {
    .table {
        margin-top: 1em;
        .table-header {
            background-color: transparent;
            display: flex;
            align-items: center;

            b {
                font-weight: 100;
                padding-top: 5px;
                padding-bottom: 5px;
                background-color: #a6a6a6;
                flex: 2;
                text-align: center;
                margin: 0;

                &.group {
                    background-color: #919191;
                }
            }
        }
    }
}
</style>