<template>
<div class="container">
    <div class="col">
        <!-- Render suggestions -->
        <div class="suggestion" v-for="(s, i) in revSugg">
            <div class="sug-left-col">
                <h3>{{s.heading}}</h3><br>
                <p v-html="s.content"></p><br>
                <small>{{s.author}} {{s.date}}</small>
            </div>
            <div class="sug-right-col" v-if="userPermission >= 2">
                <i v-on:click="showPrompt(s.id)" class="fa fa-times" aria-hidden="true"></i><br><br>
                <i v-on:click="editPrompt(s.id)" v-if="s.author === username" class="fa fa-pencil" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="col">
        <!-- Form for new suggestion -->
        <h3>New suggestion</h3><br>
        <form v-on:submit="submit">
            <label for="heading" ref="heading_label">Heading</label>
            <input id="heading" type="text" ref="heading">
            <label for="content" ref="content_label">Content</label>
            <div ref="content" id="content" contenteditable="true" @keyup.enter="submit"></div>
            <input class="btn" type="submit" value="Send">
        </form>
    </div>
    <!-- Delete prompt -->
    <div class="prompt" v-if="!promptHidden">
        <div class="promptWindow">
            <div class="row">Are you sure you wish to delete suggestion?</div>
            <div class="row">
                <div class="suggestion">
                    <div class="sug-left-col">
                        <h3>{{promptSuggestion.heading}}</h3><br>
                        <p v-html="promptSuggestion.content"></p><br>
                        <small>{{promptSuggestion.author}} {{promptSuggestion.date}}</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <button v-on:click="deleteSuggestion()" class="btn btn-success">Delete</button>
                <button v-on:click="hidePrompt()" class="btn btn-primary">Cancel</button>
            </div>
        </div>
    </div>
    <!-- Edit prompt -->
    <div class="prompt edit" v-if="!editHidden">
        <div class="promptWindow">
            <div class="row">Edit suggestion</div>
            <div class="row">
                <label for="heading" ref="heading_label">Heading</label>
                <input :value="promptSuggestion.heading" id="heading" type="text" ref="heading">
                <label for="content" ref="content_label">Content</label>
                <div ref="editcontent" class="edit" id="content" contenteditable="true" @keyup.enter="submit">{{promptSuggestion.content}}</div>
                <div class="row">
                    <button v-on:click="deleteSuggestion()" class="btn btn-success edit">Edit</button>
                    <button v-on:click="hidePrompt()" class="btn btn-primary">Cancel</button>
                </div>
            </div>
            
        </div>
    </div>
</div>
</template>

<script>
import auth from '~/lib/auth'

export default {
    data () {
        return {
            suggestions: [],
            userPermission: 0,
            username: '',
            promptHidden: true,
            editHidden: true,
            promptSuggestion: {}
        }
    },
    beforeMount () {
        // GET ALL POSTS
        console.log('BEFORE MOUNT')
    },
    mounted () {
        console.log('MOUNTED')
        this.userPermission = auth.user.permissions.employees
        this.username = auth.user.name
        this.fetchData()
    },
    methods: {
        submit (e) {
            e.preventDefault()
            let self = this
            let date = new Date()
            let post = {
                heading: self.$refs.heading.value,
                content: self.$refs.content.innerHTML,
                author: auth.user.name,
                date: date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate()
            }

            if (post.heading.length === 0 || post.content.length === 0) {
                return
            }
            
            self.$http.post('/api/employees/systemimprovements', post, {
                headers: auth.authHeader
            }).then(
                // Successful response
                (response) => {
                    // If given data status is 200, render the page
                    if (response.data.status === 200) {
                        this.fetchData()
                        return
                    }

                    console.error(response)
                },
                (response) => {
                    console.error(response)
                }
            )

            this.$refs.heading.value = ''
            this.$refs.content.innerHTML = ''
        },
        submitChange () {

        },
        renderDate (date) {
            var year = date.getFullYear()
            var month = date.getMonth()
            var day = date.getDate()

            return year + '-' + month + '-' + day
        },
        fetchData () {
            let self = this

            self.$http.get('/api/employees/systemimprovements', {
                headers: auth.authHeader
            }).then(
                (response) => {
                    if (response.data.data.result != null) {
                        this.suggestions = response.data.data.result
                    } else {
                        this.suggestions = []
                    }
                },
                (response) => {
                    console.error(response)
                }
            )
        },
        deleteSuggestion () {
            let self = this
            console.log('Deleting', this.promptSuggestion)

            self.$http.delete('/api/employees/systemimprovements/' + self.promptSuggestion.id, {
                headers: auth.authHeader
            }).then(
                (response) => {
                    if (response.data.status === 200) {
                        this.promptHidden = true
                        this.promptSuggestion = {}
                        this.fetchData()
                        return
                    }
                    console.error(response)
                },
                (response) => {
                    console.error(response)
                }
            )
        },
        showPrompt (index) {
            for (let i = 0; i < this.suggestions.length; i++) {
                if (this.suggestions[i].id === index) {
                    this.promptSuggestion = this.suggestions[i]
                    break
                }
            }
            this.promptHidden = false
        },
        editPrompt (index) {
            for (let i = 0; i < this.suggestions.length; i++) {
                if (this.suggestions[i].id === index) {
                    this.promptSuggestion = this.suggestions[i]
                    break
                }
            }
            this.editHidden = false
        },
        hidePrompt () {
            this.promptSuggestion = {}
            this.promptHidden = true
            this.editHidden = true
        }

    },
    computed: {
        revSugg: function () {
            return this.suggestions.reverse()
        }
    }
}

</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>

.container {
    display: flex;

    .col {
        width: 50%;
    }
    input {
        display: block;
        
        &[type='text'] {
            border: none;
            border-bottom: 1px solid #999;
            margin: 0.5em 0;
            min-height: 1.3em;

            width: 350px;
        }
    }
    div[contenteditable] {
        display: block;
        border: 1px solid #999;

        min-width: 450px;
        max-width: 450px;
        width: 450px;

        min-height: 400px;
        max-height: 400px;
        height: 400px;

        margin: 1em 0 1em 0;

        &.edit {
            min-height: 300px;
            max-height: 300px;
            height: 300px;
        }
    }
    .btn {
        border: none;
        padding: 0.6em 2em 0.6em 2em;
        background-color: rgb(100, 155, 255);
        border-radius: 2px;
        color: white;

        &.btn-primary {
            background-color: rgb(255, 155, 100);
            float: right;
        }

        &.btn-success {
            background-color: #d14841;

            &.edit {
                background-color: #39a15e
            }
        }

        &:active, &:focus {
            border: none;
        }
    }
    .suggestion {
        margin: 1em 2em 0.5em 0.5em;
        padding: 1em;
        border-radius: 5px;
        border: 1px solid #999;

        font-size: 0.8em;

        display: flex;
    }
    .sug-left-col {
        width: 80%;
    }
    .sug-right-col {
        width: 20%;
        text-align: right;
    }
    .prompt {
        position: absolute;
        display: flex;
        z-index: 10;

        width: 100%;
        height: 100%;

        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        .row {
            padding: 1em;
        }

        &.edit {
            top: -50px;
        }

        .promptWindow {
            width: 40%;
            margin: auto;

            border: 1px solid #999;
            border-radius: 3px;
            
            background-color: white;
        }
    }

    
}

</style>