<template>
    <div>
        <div class="row">
            <div class="year-block" v-for="(year, index) in years" :key="index" v-bind:class="activeYear(index)" v-on:click="changeYear(index)">
                {{year}}
            </div>
        </div>
        <div id="content" class="row">
            <div class="cal">
                <div class="table-container">

                    <timelogMonth @updateRow="updateRow()" v-for="(month, index) in months[years[activeYearIndex]]" :key="index + years[activeYearIndex]" :monthIndex="month" :year="years[activeYearIndex]"></timelogMonth>

                </div>
            </div>
            <div class="summary">
                <span class="summarylabel">Summary {{years[activeYearIndex]}}</span>
                <table>
                    <tr class="describe">
                        <th>Month</th>
                        <th>Days worked</th>
                        <th>+/-</th>
                        <th>Vacation</th>
                        <th>Days off</th>
                        <th>Sick leave</th>
                    </tr>

                    <tr v-for="(sum, index) in summarySorted" :key="index">
                        <td>{{monthAbbreviations[sum.month - 1]}}</td>
                        <td>{{sum.numOfDaysWorked}} days</td>
                        <td>{{roundHours(sum)}}h</td>
                        <td>{{sum.vacationDays}} days</td>
                        <td>{{sum.daysOff}} days</td>
                        <td>{{sum.sickDays}} days</td>
                    </tr>

                    <tr class="describe ex">
                        <th></th>
                        <th>xx days</th>
                        <th>+ xxh</th>
                        <th>xx days</th>
                        <th>xx days</th>
                        <th>xx days</th>
                    </tr>

                </table>
            </div>
        </div>
        <loader :loaderActive="loaderActive"></loader>
    </div>
</template>
<script>
    import timelogMonth from '../employeesComponent/timelogMonth.vue'
    import loader from '~/components/frame/loader.vue'
    import auth from '~/lib/auth'

    export default {
        data () {
            return {
                years: [],
                activeYearIndex: 0,
                months: {},
                loaderActive: true,
                summary: [],
                monthAbbreviations: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                isUpdating: false
            }
        },
        beforeMount () {
            let currentDate = new Date()
            // Years from 2017
            for (let i = 2017; i <= currentDate.getFullYear(); i++) {
                this.years.unshift(i.toString())
            }

            // Month for each year
            for (let j in this.years) {
                this.months[this.years[j]] = []
                if (this.years[j] === currentDate.getFullYear().toString()) {
                    for (let i = 1; i <= currentDate.getMonth() + 1; i++) {
                        this.months[this.years[j]].unshift(i)
                    }
                } else {
                    for (let i = 1; i <= 12; i++) {
                        this.months[this.years[j]].unshift(i)
                    }
                }
            }

            this.fetchSummary()
        },
        mounted () {
            this.loaderActive = false
        },
        methods: {
            activeYear (index) {
                return this.activeYearIndex === index ? {active: true} : null
            },
            changeYear (index) {
                this.activeYearIndex = index
                this.$forceUpdate()
            },
            updateRow () {
                this.fetchSummary()
            },
            roundHours (sum) {
                let h = Math.round(sum.hoursWorked - sum.workhours)
                return h > 0 ? `+${h}` : h
            },
            fetchSummary () {
                // Fetch summmary
                let self = this
                if (this.isUpdating) return

                this.summary = []
                this.isUpdating = true

                for (let i = 0; i < this.months[this.years[this.activeYearIndex]].length; i++) {
                    let month = this.months[this.years[this.activeYearIndex]][i]
                    let year = this.years[this.activeYearIndex]
                    let employeeId = auth.user.id
                    let apicall = `api/employees/timelog/summary/${year}/${month}/${employeeId}`

                    this.$http.get(apicall, {
                        headers: auth.authHeader
                    }).then(
                        (response) => {
                            if (response.status === 200) {
                                self.summary.push(response.body.data.result)
                                self.isUpdating = false
                            }
                        },
                        (response) => {
                            console.error(response)
                            self.isUpdating = false
                        }
                    )
                }
            }
        },
        computed: {
            summarySorted () {
                return this.summary.sort((a, b) => a.month - b.month).reverse()
            }
        },
        components: {
            timelogMonth,
            loader
        }
    }
</script>
<style rel="stylesheet/scss" type="text/css" lang="scss">

    .year-block {
        display: inline-block;
        padding: 4px 25px;
        border: 1px solid #dbe1ea;
        cursor: pointer;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .year-block:hover, .year-block.active {
        background: #dbe1ea;
    }

    #content {
        display: flex;
        width: 100vw;

        .cal {
            font-size: 0.8em;
            min-height: 80vh;
            min-width: 980px;
            border-right: 1px solid #ddd;

            padding-right: 3px;
        }
        .summary {
            font-size: 0.8em;
            padding-left: 3px;

            span.summarylabel {
                width: 100%;
                display: block;
                padding: 5px 10px 5px 4px;

                color: black;
                background-color: #dbe1ea;
            }

            table {
                text-align: right;
                width: 100%;
                // border-collapse: collapse;

                tr:first-child {
                    background-color: #ddd;
                    width: 100%;
                }
                tr:nth-child(odd) {
                    background-color: #dfdfdf;
                }
                td, th {
                    padding-left: 4px;
                    padding-right: 4px;
                }
                tr.describe {
                    background-color: #ddd;

                    th {
                        font-style: normal;
                        font-weight: 600;
                    }
                    &.ex {
                         th {
                             font-style: italic;
                             font-weight: 400;
                         }
                     }
                }

            }
        }
    }

</style>