<template>
    <div>
        <div class="category-row">
            <div :class="{'employee-block': true, 'active': cateindex === activeCategoryIndex}" @click="changeCategory(cateindex)"  v-for="(category, cateindex) in categories" :key="cateindex">
                {{category.label}}
            </div>
            <div class="employee-block fill" @click="addCategory()">
                Add Group
            </div>
            <div class="employee-block fill" @click="removeCategory()">
                Remove Selected Group
            </div>
            <br>
            <div class="employee-block fill" @click="addGroup()">
                Add List
            </div>
        </div>
        <div class="container-todo">
            <template v-for="(cat, catindex) in categories" v-if="catindex === activeCategoryIndex">

                    <div v-for="(list, i) in cat.groups" class="flex" :key="i">
                        <h1 style="justify-content: center">
                            <span @click="shiftGroupLeft(list, i)" style="float:left" class="icon-button previous"></span>
                            <span @click="shiftGroupRight(list, i)" style="float:left" class="icon-button next"></span>
                            {{list.label}}
                            <span @click="removeGroup(i)" style="float:right" class="icon-button remove"></span>
                            <span @click="editGroup(list)" style="float:right" class="icon-button edit"></span>
                        </h1>
                        <div class="list" style="padding-top: 0px;">
                            <div class="button-row">
                                <button class="btn-add" @click="addItem(i)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                            </div>
                            <draggable @end="onMove($event)" v-model="list.items" :options="{group: 'items'}">
                                <transition-group class="draggable-container" name="list-complete">
                                        <todoItem @updated="fetchAll" v-for="(item, index) in list.items" :item="item" :index="index" :key="index"/>
                                        <!--
                                        <details :data-id="item.id" v-for="(item, index) in list.items" :open="item.isopen" :key="index" class="list-complete-item">
                                            <summary :key="index" @click="neglect" :style="{backgroundColor: item.color}" class="summaryContainer">
                    
                                                <span>{{ index+1 }}</span>
                                                <input :id="item.id" @keyup.enter="summaryEnter([i, index], $event)" class="name-input" type="text" :disabled="!item.editable" v-model="item.label"/>
                                                <span @click="neglect" style="float:right" class="icon-button edit"></span>
                                                <colorpicker @click="neglect" :index="[i, index]" class="icon-button color" style="float: right" v-on:setColor="setColor"></colorpicker>
                                                <div @click="summaryDoubleClick([i, index], $event)" class="target"></div>
                                            </summary>
                                            <hr/>
                                            <div class="utils-row">
                                                <colorpicker :index="[i, index]" class="icon-button color" v-on:setColor="setColor"></colorpicker>
                                            </div>
                                            <hr/>
                                            <textarea @keyup="textareaChanged([i, index], $event)" spellcheck="false" v-model="item.content" class="content"></textarea>
                                            <hr/>
                                            <div class="utils-row">
                                                <span @click="removeItem([i, index], $event)" class="icon-button remove"></span>
                                            </div>
                                        </details>
                                        -->
                                </transition-group>
                            </draggable>
                            <div class="button-row">
                                <button class="btn-add" @click="addItem(i)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
            </template>
        </div>
    </div>
</template>
<script>
    import draggable from 'vuedraggable'
    import colorpicker from '../../generic/colorPicker.vue'
    import auth from '../../../lib/auth'
    import todoItem from '../employeesComponent/todoItem.vue'

    export default {
        data () {
            return {
                categories: [],
                activeCategoryIndex: 0,
                delay: 300,
                movetimer: null
            }
        },
        components: {
            draggable,
            colorpicker,
            todoItem
        },
        methods: {
            editGroup (group) {
                let newLabel = window.prompt('New label for group\'' + group.label + '\'', group.label)
                if (newLabel !== null) {
                    group.label = newLabel
                    this.updateGroup(group)
                }
            },
            fetchAll () {
                this.$http.get('/api/todo/all', {
                    headers: auth.authHeader
                }).then(
                    (response) => {
                        console.log(response)
                        if (response.status === 200) {
                            this.categories = response.body.data.result
                            for (let i = 0; i < this.categories.length; i++) {
                                let category = this.categories[i]
                                if (category.groups === null) {
                                    category.groups = []
                                }
                                for (let j = 0; j < category.groups.length; j++) {
                                    let group = category.groups[j]
                                    group.editable = false
                                    group.timer = null
                                    group.clicks = 0
                                    if (group.items === null) {
                                        group.items = []
                                    }

                                    for (let k = 0; k < group.items.length; k++) {
                                        group.items[k].timer = null
                                        group.items[k].clicks = 0
                                        group.items[k].editable = false
                                        switch (group.items[k].open) {
                                            case 1:
                                                group.items[k].isopen = true
                                                break
                                            default:
                                                group.items[k].isopen = false
                                                break
                                        }
                                    }
                                }
                            }
                        }
                    },
                    (response) => {
                        console.error(response)
                    }
                )
            },
            textareaChanged (indicies, evt) {
                let listIndex = indicies[0]
                let itemIndex = indicies[1]
                let item = this.categories[this.activeCategoryIndex].groups[listIndex].items[itemIndex]
                let self = this

                if (item.timer != null) {
                    clearTimeout(item.timer)
                }

                item.timer = setTimeout(() => {
                    item.timer = null
                    self.updateItem(indicies)
                }, 1000)
            },
            neglect (evt) {
                evt.preventDefault()
            },
            onMove (evt) {
                this.updateItems()
            },
            updateGroup (group) {
                let self = this
                group.items = []
                self.$http.put('/api/todo/group/' + group.id, group, {
                    headers: auth.authHeader
                })
                    .then(
                        (response) => {
                            console.log(response)
                            if (response.status === 200) {
                                this.fetchAll()
                            }
                        },
                        (response) => {
                            console.error(response)
                        }
                    )
            },
            updateItem (indicies, priority = null) {
                let self = this
                let listIndex = indicies[0]
                let itemIndex = indicies[1]
                let item = this.categories[this.activeCategoryIndex].groups[listIndex].items[itemIndex]
                let group = this.categories[this.activeCategoryIndex].groups[listIndex]

                item.group_id = group.id
                item.open = item.isopen ? 1 : 0

                if (priority !== null) {
                    item.priority = priority
                }

                console.log(item)

                self.$http.put('/api/todo/item/' + item.id, item, {
                    headers: auth.authHeader
                })
                    .then(
                        (response) => {
                            this.fetchAll()
                        },
                        (response) => {
                            console.error(response)
                        }
                    )
            },
            updateItems (listIndex) {
                let promises = []
                for (let j = 0; j < this.categories[this.activeCategoryIndex].groups.length; j++) {
                    let group = this.categories[this.activeCategoryIndex].groups[j]
                    for (let i = 0; i < group.items.length; i++) {
                        let item = group.items[i]
                        item.group_id = group.id
                        item.open = item.isopen ? 1 : 0
                        item.priority = i

                        let promise = this.$http.put('/api/todo/item/' + item.id, item, {
                            headers: auth.authHeader
                        })
                        promises.push(promise)
                    }
                }
                Promise.all(promises)
                    .then(
                        (response) => {
                            this.fetchAll()
                        },
                        (response) => {
                            console.error(response)
                        }
                    )
            },
            updateGroups () {
                let promises = []
                let self = this
                for (let i = 0; i < this.categories[this.activeCategoryIndex].groups.length; i++) {
                    let group = this.categories[this.activeCategoryIndex].groups[i]
                    group.priority = i
                    group.items = []
                    let promise = self.$http.put('/api/todo/group/' + group.id, group, {
                        headers: auth.authHeader
                    })
                    promises.push(promise)
                }

                Promise.all(promises)
                    .then(
                        (response) => {
                            this.fetchAll()
                        },
                        (response) => {
                            console.error(response)
                        }
                    )
            },
            changeCategory (index) {
                this.activeCategoryIndex = index
            },
            addItem (listIndex) {
                const label = window.prompt('New todo label:')
                if (!label) return
                let group = this.categories[this.activeCategoryIndex].groups[listIndex]
                let defaultItem = {
                    id: -1,
                    label,
                    content: '',
                    color: '#fff',
                    group_id: group.id,
                    priority: group.items.length,
                    timer: null,
                    clicks: 0,
                    open: 0,
                    editable: false
                }

                this.$http.post('/api/todo/item', {
                    ...defaultItem
                }, {headers: auth.authHeader})
                    .then(
                        (response) => {
                            console.log(response)
                            if (response.status === 200) {
                                this.fetchAll()
                            }
                        },
                        (response) => {
                            console.error(response)
                        }
                    )
            },
            addGroup () {
                let category = this.categories[this.activeCategoryIndex]
                let group = {
                    label: 'DEFAULT',
                    category_id: category.id,
                    priority: category.groups.length,
                    items: []
                }
                this.$http.post('/api/todo/group', {
                    ...group
                }, {headers: auth.authHeader})
                    .then(
                        (response) => {
                            console.log(response)
                            if (response.status === 200) {
                                this.fetchAll()
                            }
                        },
                        (response) => {
                            console.error(response)
                        }
                    )
            },
            addCategory () {
                let label = window.prompt('New group:')
                if (label === null || label.length === 0) return
                let category = {
                    label: label
                }
                this.$http.post('/api/todo/category', {
                    ...category
                }, {headers: auth.authHeader})
                    .then(
                        (response) => {
                            console.log(response)
                            if (response.status === 200) {
                                this.fetchAll()
                            }
                        },
                        (response) => {
                            console.error(response)
                        }
                    )
            },
            setColor (color, indicies) {
                let listIndex = indicies[0]
                let itemIndex = indicies[1]
                let newColor = color !== null ? color : '#fff'
                let item = this.categories[this.activeCategoryIndex].groups[listIndex].items[itemIndex]

                item.color = newColor

                this.updateItem(indicies)
            },
            removeItem (indicies, evt) {
                let status = window.confirm('Are you sure you wish to delete this item ?')
                if (!status) return

                let listIndex = indicies[0]
                let itemIndex = indicies[1]
                let item = this.categories[this.activeCategoryIndex].groups[listIndex].items[itemIndex]

                this.$http.delete('/api/todo/item/' + item.id, {
                    headers: auth.authHeader
                }).then(
                    (response) => {
                        if (response.status === 200) {
                            this.fetchAll()
                        }
                    },
                    (response) => {
                        console.error(response)
                    }
                )
            },
            removeGroup (index) {
                let group = this.categories[this.activeCategoryIndex].groups[index]
                let status = window.confirm('Are you sure you wish to delete the \'' + group.label + '\' list ?')
                if (!status) return

                this.$http.delete('/api/todo/group/' + group.id, {
                    headers: auth.authHeader
                }).then(
                    (response) => {
                        if (response.status === 200) {
                            this.fetchAll()
                        }
                    },
                    (response) => {
                        console.error(response)
                    }
                )
            },
            removeCategory () {
                let category = this.categories[this.activeCategoryIndex]
                let status = window.confirm('Are you sure you wish to delete the \'' + category.label + '\' group ?')
                if (!status) return

                this.$http.delete('/api/todo/category/' + category.id, {
                    headers: auth.authHeader
                }).then(
                    (response) => {
                        if (response.status === 200) {
                            this.fetchAll()
                        }
                    },
                    (response) => {
                        console.error(response)
                    }
                )
            },
            summaryEnter (indicies, evt) {
                evt.preventDefault()
                let listIndex = indicies[0]
                let itemIndex = indicies[1]
                let item = this.categories[this.activeCategoryIndex].groups[listIndex].items[itemIndex]

                if (!item.editable) return

                this.$forceUpdate()
                this.updateItem(indicies)
                item.editable = false
            },
            changeLabel () {
                
            },
            summaryDoubleClick (indicies, evt) {
                evt.preventDefault()
                let self = this
                let listIndex = indicies[0]
                let itemIndex = indicies[1]
                let item = this.categories[this.activeCategoryIndex].groups[listIndex].items[itemIndex]

                if (item.editable) return

                item.clicks += 1

                if (item.clicks === 1) {
                    item.timer = setTimeout(() => {
                        // CHANGE STATE OF DETAILS
                        item.timer = null

                        if (item.isopen === true) {
                            item.isopen = false
                            item.clicks = 0
                            this.$forceUpdate()
                            this.updateItem(indicies)
                            return
                        }

                        item.isopen = !item.isopen
                        item.clicks = 0

                        this.$forceUpdate()
                        this.updateItem(indicies)
                    }, self.delay)
                } else {
                    clearTimeout(item.timer)
                    item.clicks = 0
                    item.editable = true
                    window.document.getElementById(item.id).focus()
                    this.$forceUpdate()
                }
            },
            shiftGroupRight (group, index) {
                let category = this.categories[this.activeCategoryIndex]
                let groups = category.groups

                if (index === groups.length - 1) return

                groups.splice(index, 1)
                groups.splice(index + 1, 0, group)
                this.updateGroups()
            },
            shiftGroupLeft (group, index) {
                let category = this.categories[this.activeCategoryIndex]
                let groups = category.groups

                if (index === 0) return

                groups.splice(index, 1)
                groups.splice(index - 1, 0, group)
                this.updateGroups()
            }
        },
        mounted () {
            this.fetchAll()
        }
    }
</script>
<style rel="stylesheet/scss" type="text/css" lang="scss">
    .group {
        display: inline-block;
    }
    .icon-button {
        background: transparent;
        display: inline-block;
        color: #000;
        width: 16px;
        vertical-align: top;
        height: 16px;
        margin-left: 5px;
        margin-right: 5px;
        line-height: 16px;
        text-align: center;
        font-family: FontAwesome;
        cursor: pointer;
        font-size: 0.9em;
    }
    .name-input {
        width: 180px;
        &:disabled {
            background: transparent;
            border: none;
        }
    }
    .icon-button.remove:before {
        content: '\f00d';
        font-size: 0.9em;
    }
    .icon-button.next:before {
        content: '\f0da';
        font-size: 0.9em;
    }
    .icon-button.previous:before {
        content: '\f0d9';
        font-size: 0.9em;
    }
    .icon-button.color:before {
        content: '\f1fc';
        font-size: 0.9em;
    }
    .icon-button.edit:before {
        content: '\f040';
        font-size: 0.9em;
    }
    .container-todo {
        display:flex;
        font-size: 0.8em;
        overflow: visible;
        overflow-x: scroll;
        transform: rotateX(180deg);

        .flex {
            transform: rotateX(180deg);

            h1 {
                background-color: #dbe1ea;
                border-radius: 4px;
                margin-left: 0.3em;
                margin-right: 0.3em;
                text-align: center;
            }
        }
    }
    .utils-row {
        padding: 4px;
        text-align: right;
    }
    .flex {
        flex: 1;
        margin: 0;
        min-width: 400px;
        max-width: 400px;
    }
    .list {
        margin: 0.5em;
        padding: 1em;
        background-color: #dfdfdf;
        border-radius: 4px;
        overflow: visible;

        .button-row {
            text-align: right;
            button.btn-add {
                margin-top: 5px;

                color: black;
                font-weight: bold;
                font-size: 1.6em;

                background: none;
                border: none;

                padding: 0;
            }
        }
    }
    .content {
        margin: 0.5em;
        padding: 0.2em;

        width: 330px;
        min-width: 330px;
        max-width: 330px;
        min-height: 200px;

        border: 1px solid #a6a6a6;
    }
    .summaryContainer {
        position: relative;
    }
    .target {
        position: absolute;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        border: 1px solid red;
    }
    .priority {
        float: right;
    }
    .draggable-container {
        display: block;
        min-height: 3em;
        transition: all 0.5s;
    }
    .list-complete-item {
        z-index: 100;
        margin-top: 4px;
        max-width: 380px;
        border: solid 1px;
        // transition: all 0.5s;
        overflow-x: visible;

        background: #fff;

        summary {
            padding: 8px;
        }
    }
    .list-complete-enter, .list-complete-leave-active {
        opacity: 0;
        transform: translateX(-10%);
    }
</style>