<head><meta charset="utf-8"/><style>
  .page {
position: relative;
max-width: 17cm;
min-width: 17cm;
min-height: 25.7cm;
max-height: 25.7cm;
padding: 2cm;
font-size: 0.8em;
border: 1px solid #aaa;
-webkit-box-shadow: -5px 2px 12px #aaa;
box-shadow: -5px 2px 12px #aaa;
}
.page .row {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}
.page .row.head {
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}
.page .row.head h2 {
font-size: 3em;
color: #8f9db3;
}
.page .row.info {
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
margin-bottom: 0.5cm;
}
.page .row.contact label {
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1;
}
.page .row.contact input.contactfield {
-webkit-box-flex: 8;
-ms-flex: 8;
flex: 8;
max-width: 14cm;
border: none;
border-bottom: 1px solid #8f9db3;
}
.page .row.subscriptions {
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
margin-top: 0.4cm;
}
.page .row.subscriptions .col h3 {
color: #8f9db3;
}
.page .row.subscriptions .col.films {
-webkit-box-flex: 3;
-ms-flex: 3;
flex: 3;
margin-right: 2px;
}
.page .row.subscriptions .col.languages {
-webkit-box-flex: 2;
-ms-flex: 2;
flex: 2;
}
.page .row.extensions {
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
}
.page .row.extensions h3 {
color: #8f9db3;
}
.page .row.summary {
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-pack: start;
-ms-flex-pack: start;
justify-content: flex-start;
-webkit-box-align: end;
-ms-flex-align: end;
align-items: flex-end;
}
.page .row.summary .discount input {
text-align: right;
border: none;
width: 7cm;
}
.page .row.summary .discount input.reduction, .page .row.summary .discount input.percentage {
width: 2em;
margin-right: 4px;
}
.page .row.summary .discount input.reduction {
width: 3.4em;
}
.page .row.summary .discount input.percentageInValue {
width: 1.5cm;
}
.page .row.summary .discount:nth-last-child(2) {
margin-bottom: 10px;
}
.page .row.summary .discount:nth-child(2) {
margin-top: 10px;
}
.page .row.kam {
position: absolute;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
border: 1px solid #8f9db3;
padding: 3em;
color: #000;
bottom: 1.5cm;
right: 2cm;
left: 2cm;
}
.page .row.kam img.person {
margin-right: 1cm;
}
.page .row .sumrow {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
}
.page .row .sumrow input {
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1;
font-style: italic;
border: none;
width: 100%;
font-size: 0.9em;
}
.page .table {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
}
.page .table .head {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
background-color: #617ba8;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 2px;
margin-top: 0.2cm;
}
.page .table .head b {
color: white;
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1;
}
.page .table .rows .row {
padding-top: 0;
margin: 0;
}
.page .table .rows .row p, .page .table .rows .row input {
-webkit-box-flex: 2;
-ms-flex: 2;
flex: 2;
border: none;
border-bottom: 1px solid #8f9db3;
border-right: 1px solid #8f9db3;
width: 100%;
}
.page .table .rows .row p:first-child, .page .table .rows .row input:first-child {
border-left: 1px solid #8f9db3;
}
.page .table .rows .row p.big, .page .table .rows .row input.big {
-webkit-box-flex: 2;
-ms-flex: 2;
flex: 2;
}
  </style></head><body><div data-v-e77afa5a="" data-v-5de1adae="" id="wrapper" class="page"><div data-v-e77afa5a="" class="row head"><img data-v-e77afa5a="" src="http://localhost:8080/resources/resources/img/medfilm-logo.1dc9552.png" class="logo" style="width: 30em;"><h2 data-v-e77afa5a="">OFFERT</h2></div><div data-v-e77afa5a="" class="row info"><p data-v-e77afa5a=""> Offerten gäller MedFilms IT-tjänst för förmedling av operationsinformation till patienter.</p></div><div data-v-e77afa5a="" class="row contact"><label data-v-e77afa5a="">Kontaktperson: </label><input data-v-e77afa5a="" class="contactfield"></div><div data-v-e77afa5a="" class="row contact"><label data-v-e77afa5a="">Organisation: </label><input data-v-e77afa5a="" class="contactfield"></div><div data-v-e77afa5a="" class="row subscriptions"><div data-v-e77afa5a="" class="col films"><h3 data-v-e77afa5a="">Filmabonnemang</h3><div data-v-e77afa5a="" class="table"><div data-v-e77afa5a="" class="head"><b data-v-e77afa5a="">Patientfilm </b><b data-v-e77afa5a="">Pris á film (tkr/mån)  </b><b data-v-e77afa5a="">Sjukhuslicenser  </b></div><div data-v-e77afa5a="" class="rows"><div data-v-e77afa5a="" class="sumrow"><input data-v-e77afa5a="" type="text" readonly="readonly" class="big"><input data-v-e77afa5a="" type="text" readonly="readonly"><input data-v-e77afa5a="" type="text" readonly="readonly"></div></div></div></div><div data-v-e77afa5a="" class="col languages"><h3 data-v-e77afa5a="">Språkabonnemang</h3><div data-v-e77afa5a="" class="table"><div data-v-e77afa5a="" class="head"><b data-v-e77afa5a="">Språk</b><b data-v-e77afa5a="">Pris á språk (kr/mån)</b></div><div data-v-e77afa5a="" class="rows"><div data-v-e77afa5a="" class="sumrow"><input data-v-e77afa5a="" type="text" readonly="readonly"><input data-v-e77afa5a="" type="text" readonly="readonly"></div></div></div></div></div><div data-v-e77afa5a="" class="row summary"><p data-v-e77afa5a="">Summering: 0 tkr/mån</p><b data-v-e77afa5a="">Totalpris - abonnemang (efter avdrag): 0 tkr/mån</b></div><div data-v-e77afa5a="" class="row extensions"><h3 data-v-e77afa5a="">Tilläggsprodukter / Engångskostnader</h3><div data-v-e77afa5a="" class="table"><div data-v-e77afa5a="" class="head"><b data-v-e77afa5a="">Produkt</b><b data-v-e77afa5a="">Antal (st)</b><b data-v-e77afa5a="">Styckpris (tkr)</b><b data-v-e77afa5a="">Pris (tkr)</b></div><div data-v-e77afa5a="" class="rows"><div data-v-e77afa5a="" class="row"><p data-v-e77afa5a="" contenteditable="true">Filmplatta</p><input data-v-e77afa5a=""><input data-v-e77afa5a=""><input data-v-e77afa5a="" readonly="readonly"></div><div data-v-e77afa5a="" class="row"><p data-v-e77afa5a="" contenteditable="true">Väntrums-TV</p><input data-v-e77afa5a=""><input data-v-e77afa5a=""><input data-v-e77afa5a="" readonly="readonly"></div><div data-v-e77afa5a="" class="row"><p data-v-e77afa5a="" contenteditable="true">Patientfilmskort</p><input data-v-e77afa5a=""><input data-v-e77afa5a=""><input data-v-e77afa5a="" readonly="readonly"></div><div data-v-e77afa5a="" class="row"><p data-v-e77afa5a="" contenteditable="true">Innehållsjustering</p><input data-v-e77afa5a=""><input data-v-e77afa5a=""><input data-v-e77afa5a="" readonly="readonly"></div></div></div></div><div data-v-e77afa5a="" class="row summary"><b data-v-e77afa5a="">Totalpris - tilläggsprodukter: 0.0 tkr </b></div><div data-v-e77afa5a="" class="row kam"><img data-v-e77afa5a="" src="https://medfilm.se/api/v1/image/static//3d053388-9967-40d5-6427-65f8d06a8bab" class="person" style="width: 10em;"><div data-v-e77afa5a="" class="info"><b data-v-e77afa5a="">Percy Werner</b><p data-v-e77afa5a="">Kundansvarig, MedFilm</p><br data-v-e77afa5a=""><p data-v-e77afa5a="">0708-77 42 95</p><p data-v-e77afa5a="">percy-werner@medfilm.se</p></div></div></div></body>