<template>
    <div class="button" v-on:click="triggerPress($event)">
        <div class="loader">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
        {{ text }}
    </div>
</template>

<script>
  export default {
    props: [
      'text'
    ],
    methods: {
      triggerPress (event) {
        this.$emit('triggerPress', {
          startLoading: this.startLoading,
          stopLoading: this.stopLoading
        })
      },
      stopLoading () {
        this.$el.classList.remove('loading')
      },
      startLoading () {
        this.$el.classList.add('loading')
      }
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
    .button.loading {
        color: transparent;
        position: relative;
        cursor: default;

        .loader {
            position: absolute;
            text-align: center;
            font-size: 10px;
            height: 20px;
            left: 0;
            right: 0;

            > div {
                background: #fff;
                height: 100%;
                width: 6px;
                display: inline-block;
                -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
                animation: sk-stretchdelay 1.2s infinite ease-in-out;
            }

            .rect2 {
                -webkit-animation-delay: -1.1s;
                animation-delay: -1.1s;
            }

            .rect3 {
                -webkit-animation-delay: -1.0s;
                animation-delay: -1.0s;
            }

            .rect4 {
                -webkit-animation-delay: -0.9s;
                animation-delay: -0.9s;
            }

            .rect5 {
                -webkit-animation-delay: -0.8s;
                animation-delay: -0.8s;
            }
        }
    }

    @-webkit-keyframes sk-stretchdelay {
        0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
        20% { -webkit-transform: scaleY(1.0) }
    }

    @keyframes sk-stretchdelay {
        0%, 40%, 100% { transform: scaleY(0.4); -webkit-transform: scaleY(0.4);
        }  20% { transform: scaleY(1.0); -webkit-transform: scaleY(1.0); }
    }
</style>