<template>
    <div class="colorPicker" v-on:click.stop="show = !show">
        <transition v-on:enter="fadeIn">
            <div class="palette" v-if="show">
                <div v-for="color in colors" class="color" :value="color" v-bind:style="{ background: color }" v-on:click.stop="sendColor(color)"></div>
                <div class="color remove" :value="transparent" v-on:click.stop="removeColor()"></div>
            </div>
        </transition>
    </div>
</template>

<script>
  import Vue from 'vue'
  // import Sizzle from 'sizzle'
  import velocity from 'velocity-animate'

  let bus = new Vue({})
  export default {
    props: [
      'index'
    ],
    data () {
      return {
        show: false,
        colors: [
          '#fffa87',
          '#9fd595',
          '#ffc4b1'
        ]
      }
    },
    mounted () {
      // Listen on bus between siblings
      bus.$on('fadeOut', this.fadeOut)
    },
    methods: {
      sendColor (color) {
        // Emit to parent component
        this.fadeOut(0)
        this.$emit('setColor', color, this.index)
      },
      removeColor () {
        this.fadeOut(0)
        this.$emit('setColor', null, this.index)
      },
      fadeIn (el) {
        // Trigger a fadeOut event on all siblings
        bus.$emit('fadeOut', this._uid)
        velocity(el, 'fadeIn', {
          duration: 300
        })
      },
      fadeOut (uid) {
        // Only fade out if it's not the same element that triggered the change
        if (uid !== this._uid) {
          this.show = false
        }
      }
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
    .colorPicker {
        position: relative;

        .palette {
            position: absolute;
            background: #f6f6f6;
            border: 1px solid #666666;
            margin-top: 5px;
            padding: 5px;
            margin-left: -50px;
            cursor: default;
            display: none;
            z-index: 100;
            width: 100px;
            display: inline-flex !important;
        }

        .color {
            height: 15px;
            // width: 30px;
            flex: 1;
            cursor: pointer;
            float: left;
            z-index: 101;
        }

        .remove {
            background: url("../../assets/images/empty-image.png") no-repeat center;
        }
    }
</style>