<template>
    <input type="text" :placeholder="placeholder" v-model="internalValue"/>
</template>

<script>
  import Pikaday from 'pikaday'
  import moment from 'moment'

  export default {
    props: [
      'value',
      'placeholder'
    ],
    data () {
      return {
        datePicker: null,
        internalValue: null
      }
    },
    mounted () {
      moment.locale('en')
      this.internalValue = this.value
      this.datePicker = new Pikaday({
        field: this.$el,
        format: 'DD MMM YYYY',
        firstDay: 1,
        i18n: {
          previousMonth: 'Previous Month',
          nextMonth: 'Next Month',
          months: [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
            'July',
            'August',
            'September',
            'October',
            'November',
            'December'
          ],
          weekdays: [
            'Sunday',
            'Monday',
            'Tuesday',
            'Wednesday',
            'Thursday',
            'Friday',
            'Saturday'
          ],
          weekdaysShort: [
            'Sun',
            'Mon',
            'Tue',
            'Wed',
            'Thu',
            'Fri',
            'Sat'
          ]
        },
        defaultDate: null,
        onSelect: (date) => {
            this.$emit('input', moment(date).locale('en').format('DD MMM YYYY'))
        }
      })
    },
    destroyed () {
      this.datePicker.destroy()
    },
    watch: {
      'internalValue': {
        handler (val) {
          this.$emit('input', moment(val, 'DD MMM YYYY').locale('en').unix())
        }
      }
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
    input {
        width: 250px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 5px 15px;
        outline: none;
    }
</style>