$medfilmblue_dark: #617ba8;
$medfilmblue_light: #d6e2fb;

.wrapper {
    position: fixed;
    border: 1px solid $medfilmblue_dark;
    background-color: white;
    width: 500px;
    top: 25vh;
    left: 40vw;
    z-index: 2000;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.4);
    
    .handler {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 0.4em;
        border-bottom: 1px solid $medfilmblue_dark;
        background-color: $medfilmblue_light;

        .label {
            flex: 5;
            color: $medfilmblue_dark;
        }
        .btns {
            display: flex;
            justify-content: flex-end;

            .btn {
                display: flex;
                justify-content: center;
                width: 1.5em;
            }
        }
    }
    &.dragging {
        cursor: move;
        z-index: 3000 !important;
    }
}