<template>
  <div 
    class="wrapper"
    ref="wrapper"
    v-if="!hidden">
    <div 
      class="handler" 
      ref="target"
      @mousedown="startDragging"
      @mouseup="stopDragging"
      @mouseleave="stopDragging">
      <div class="label">
        <h4>{{label}}</h4>
      </div>
      <div class="btns">
        <div class="btn close" @mousedown="$emit('close')">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <slot></slot>
</div>
</template>
<script>
export default {
  name: 'draggable-popup',
  props: ['hidden', 'label'],
  methods: {
    startDragging: function (evt) {
      const wrapper = this.$refs['wrapper']
      wrapper.classList.add('dragging')
      this.move(evt)
      document.body.onmousemove = this.move
    },
    stopDragging: function (evt) {
      if (evt.buttons === 1) return
      const wrapper = this.$refs['wrapper']
      wrapper.classList.remove('dragging')
      document.body.onmousemove = null
    },
    move: function (evt) {
      const { clientX: X, clientY: Y } = evt
      const target = this.$refs['target']
      const wrapper = this.$refs['wrapper']
      wrapper.style.left = `${X - target.clientWidth / 2}px`
      wrapper.style.top = `${Y - target.clientHeight / 2}px`
      window.getSelection().removeAllRanges()
    }
  }
}
</script>
<style lang="scss" scoped>
@import './draggablePopup.scss';
</style>
