<template>
  <input type="text" :placeholder="placeholder" v-model="internalValue"/>
</template>

<script>
  import rome from 'rome'
  export default {
    props: [
      'value',
      'placeholder'
    ],
    data () {
      return {
        timePicker: null,
        internalValue: null
      }
    },
    mounted () {
      let that = this
      that.internalValue = that.value

      that.timePicker = rome(that.$el, {
        date: false
      })

      that.timePicker.on('data', function (value) {
        that.internalValue = value
      })
    },
    watch: {
      'internalValue': {
        handler (val) {
          this.$emit('input', val)
        }
      }
    }
  }
</script>

<style src="rome/dist/rome.css" type="text/css" lang="css"></style>

<style rel="stylesheet/scss" type="text/css" lang="scss">
  .rd-day-selected, .rd-time-selected, .rd-time-option:hover {
    background-color: #a6a6a6
  }
</style>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
  input {
    width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 15px;
    outline: none;
  }
</style>