<template>
  <div>
    <div class="table-title">
      <div class="title">
        Files
      </div>
      <div class="language" v-for="(language, key) in Languages">{{ key }}</div>
    </div>
    <div class="table">
      <div class="table-header">
        <div class="table-cell">
          Film
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          720p
        </div>
        <template v-for="(language, key) in processedLanguages">
          <div class="table-cell" v-if="progress[language.highResolution.progress] > 0 && progress[language.highResolution.progress] < 100">{{ progress[language.highResolution.progress] }}</div>
          <label class="table-cell" :class="{
            'partially': language.highResolution.uploaded === 2,
            'fully': language.highResolution.uploaded === 1,
            'none': language.highResolution.uploaded === 0
          }" v-else>
            <input type="file" v-on:change="uploadFile($event, 'highResolution', key, language.highResolution.progress)" />
          </label>
        </template>
      </div>
      <div class="table-row">
        <div class="table-cell">
          480p
        </div>
        <template v-for="(language, key) in processedLanguages">
          <div class="table-cell" v-if="progress[language.midResolution.progress] > 0 && progress[language.midResolution.progress] < 100">{{ progress[language.midResolution.progress] }}</div>
          <label class="table-cell" :class="{
            'partially': language.midResolution.uploaded === 2,
            'fully': language.midResolution.uploaded === 1,
            'none': language.midResolution.uploaded === 0
          }" v-else>
            <input type="file" v-on:change="uploadFile($event, 'midResolution', key, language.midResolution.progress)" />
          </label>
        </template>
      </div>
      <div class="table-row">
        <div class="table-cell">
          360p
        </div>
        <template v-for="(language, key) in processedLanguages">
          <div class="table-cell" v-if="progress[language.lowResolution.progress] > 0 && progress[language.lowResolution.progress] < 100">{{ progress[language.lowResolution.progress] }}</div>
          <label class="table-cell" :class="{
            'partially': language.lowResolution.uploaded === 2,
            'fully': language.lowResolution.uploaded === 1,
            'none': language.lowResolution.uploaded === 0
          }" v-else>
            <input type="file" v-on:change="uploadFile($event, 'lowResolution', key, language.lowResolution.progress)" />
          </label>
        </template>
      </div>
      <div class="table-row" v-if="type === 'film'">
        <div class="table-cell">
          Preview
        </div>
        <template v-for="(language, key) in processedLanguages">
          <div class="table-cell" v-if="progress[language.preview.progress] > 0 && progress[language.preview.progress] < 100">{{ progress[language.preview.progress] }}</div>
          <label class="table-cell" :class="{
            'partially': language.preview.uploaded === 2,
            'fully': language.preview.uploaded === 1,
            'none': language.preview.uploaded === 0
          }" v-else>
            <input type="file" v-on:change="uploadFile($event, 'preview', key, language.preview.progress)" />
          </label>
        </template>
      </div>
      <div class="table-header">
        <div class="table-cell">
          Thumbnail
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          Small
        </div>
        <template v-for="(language, key) in processedLanguages">
          <div class="table-cell" v-if="progress[language.smallThumbnail.progress] > 0 && progress[language.smallThumbnail.progress] < 100">{{ progress[language.smallThumbnail.progress] }}</div>
          <label class="table-cell" :class="{
            'partially': language.smallThumbnail.uploaded === 2,
            'fully': language.smallThumbnail.uploaded === 1,
            'none': language.smallThumbnail.uploaded === 0
          }" v-else>
            <input type="file" v-on:change="uploadFile($event, 'smallThumbnail', key, language.smallThumbnail.progress)" />
          </label>
        </template>
      </div>
      <div class="table-row">
        <div class="table-cell">
          Normal
        </div>
        <template v-for="(language, key) in processedLanguages">
          <div class="table-cell" v-if="progress[language.normalThumbnail.progress] > 0 && progress[language.normalThumbnail.progress] < 100">{{ progress[language.normalThumbnail.progress] }}</div>
          <label class="table-cell" :class="{
            'partially': language.normalThumbnail.uploaded === 2,
            'fully': language.normalThumbnail.uploaded === 1,
            'none': language.normalThumbnail.uploaded === 0
          }" v-else>
            <input type="file" v-on:change="uploadFile($event, 'normalThumbnail', key, language.normalThumbnail.progress)" />
          </label>
        </template>
      </div>
      <div class="table-header">
        <div class="table-cell">
          Chapter
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">Full</div>
        <template v-for="(language, key) in processedLanguages">
          <div class="table-cell" v-if="progress[language.chapter.progress] > 0 && progress[language.chapter.progress] < 100">{{ progress[language.chapter.progress] }}</div>
          <label class="table-cell" :class="{
            'partially': language.chapter.uploaded === 2,
            'fully': language.chapter.uploaded === 1,
            'none': language.chapter.uploaded === 0
          }" v-else>
            <input type="file" v-on:change="uploadFile($event, 'chapter', key, language.chapter.progress)" />
          </label>
        </template>
      </div>
      <div class="table-header">
        <div class="table-cell">
          Subtitle
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">Full</div>
        <template v-for="(language, key) in processedLanguages">
          <div class="table-cell" v-if="progress[language.subtitle.progress] > 0 && progress[language.subtitle.progress] < 100">{{ progress[language.subtitle.progress] }}</div>
          <label class="table-cell" :class="{
            'partially': language.subtitle.uploaded === 2,
            'fully': language.subtitle.uploaded === 1,
            'none': language.subtitle.uploaded === 0
          }" v-else>
            <input type="file" v-on:change="uploadFile($event, 'subtitle', key, language.subtitle.progress)" />
          </label>
        </template>
      </div>
      <div class="table-row" v-if="type === 'film'">
        <div class="table-cell">Preview</div>
        <template v-for="(language, key) in processedLanguages">
          <div class="table-cell" v-if="progress[language.previewSubtitle.progress] > 0 && progress[language.previewSubtitle.progress] < 100">{{ progress[language.previewSubtitle.progress] }}</div>
          <label class="table-cell" :class="{
            'partially': language.previewSubtitle.uploaded === 2,
            'fully': language.previewSubtitle.uploaded === 1,
            'none': language.previewSubtitle.uploaded === 0
          }" v-else>
            <input type="file" v-on:change="uploadFile($event, 'previewSubtitle', key, language.previewSubtitle.progress)" />
          </label>
        </template>
      </div>
      <div class="table-header" v-if="type === 'film'">
        <div class="table-cell">
          Show Case
        </div>
      </div>
      <div class="table-row" v-if="type === 'film'">
        <div class="table-cell">Show Case 1</div>
        <template v-for="(language, key) in processedLanguages">
          <div class="table-cell" v-if="progress[language.showCase1.progress] > 0 && progress[language.showCase1.progress] < 100">{{ progress[language.showCase1.progress] }}</div>
          <label class="table-cell" :class="{
            'partially': language.showCase1.uploaded === 2,
            'fully': language.showCase1.uploaded === 1,
            'none': language.showCase1.uploaded === 0
          }" v-else>
            <input type="file" v-on:change="uploadFile($event, 'showCase1', key, language.showCase1.progress)" />
          </label>
        </template>
      </div>
      <div class="table-row" v-if="type === 'film'">
        <div class="table-cell">Show Case 2</div>
        <template v-for="(language, key) in processedLanguages">
          <div class="table-cell" v-if="progress[language.showCase2.progress] > 0 && progress[language.showCase2.progress] < 100">{{ progress[language.showCase2.progress] }}</div>
          <label class="table-cell" :class="{
            'partially': language.showCase2.uploaded === 2,
            'fully': language.showCase2.uploaded === 1,
            'none': language.showCase2.uploaded === 0
          }" v-else>
            <input type="file" v-on:change="uploadFile($event, 'showCase2', key, language.showCase2.progress)" />
          </label>
        </template>
      </div>
      <div class="table-row" v-if="type === 'film'">
        <div class="table-cell">Show Case 3</div>
        <template v-for="(language, key) in processedLanguages">
          <div class="table-cell" v-if="progress[language.showCase3.progress] > 0 && progress[language.showCase3.progress] < 100">{{ progress[language.showCase3.progress] }}</div>
          <label class="table-cell" :class="{
            'partially': language.showCase3.uploaded === 2,
            'fully': language.showCase3.uploaded === 1,
            'none': language.showCase3.uploaded === 0
          }" v-else>
            <input type="file" v-on:change="uploadFile($event, 'showCase3', key, language.showCase3.progress)" />
          </label>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
  import auth from '~/lib/auth'
  import Resumable from 'resumablejs'
  import UriTemplates from 'uri-templates'
  export default {
    props: {
      Languages: {
        type: Object,
        required: true
      },
      type: {
        type: String,
        required: true,
        validator (value) {
          return value === 'film' || value === 'subscription'
        }
      },
      id: {
        type: Number,
        required: true
      },
      subscriptionId: {
        type: Number
      }
    },
    data () {
      return {
        progress: {}
      }
    },
    methods: {
      genId () {
        function s4 () {
          return window.Math.floor((1 + window.Math.random()) * 0x10000)
            .toString(16)
            .substring(1)
        }
        const id = s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4()
        this.$set(this.progress, id, 0)
        return id
      },
      uploadFile (e, type, language, progressId) {
        const that = this
        // Get files
        const files = e.target.files || e.dataTransfer.files
        if (!files.length) {
          return
        }

        let uri
        if (that.type === 'film') {
          uri = new UriTemplates('/api/files/{name}/film/{id}/language/{language}').fill({
            name: type,
            id: that.id,
            language: language
          })
        }

        if (that.type === 'subscription') {
          uri = new UriTemplates('/api/files/{name}/subscription/{id}/language/{language}').fill({
            name: type,
            id: that.subscriptionId,
            language: language
          })
        }

        const file = files[0]

        that.$http.post(uri, {}, {
          headers: auth.authHeader
        }).then((response) => {
          if (response.body.status !== 200) {
            return
          }

          const r = new Resumable({
            target: '/api/files/' + response.body.data.id,
            uploadMethod: 'PUT',
            headers: {
              'Authorization': auth.authHeader.Authorization
            },
            testChunks: false,
            chunkSize: 1024 * 512,
            maxChunkRetries: 5,
            chunkRetryInterval: 500,
            xhrTimeout: 20000,
            permanentErrors: []
          })

          r.on('fileAdded', () => {
            r.upload()
          })

          r.on('fileProgress', (file) => {
            that.progress[progressId] = parseInt((file.progress() * 100))
          })

          r.on('fileError', (file, message) => {
            that.progress[progressId] = parseInt(-1)
            console.log('fileError', file, message)
          })

          r.on('fileRetry', (file) => {
            console.log('fileRetry', file)
          })

          r.addFile(file)
        })
      }
    },
    computed: {
      processedLanguages () {
        const that = this
        const languages = that.Languages
        for (let key in languages) {
          if (!languages.hasOwnProperty(key)) continue

          for (let deepKey in languages[key]) {
            if (!languages[key].hasOwnProperty(deepKey)) continue
            if (typeof that.Languages[key][deepKey] !== 'object') {
              languages[key][deepKey] = {
                uploaded: languages[key][deepKey],
                progress: ''
              }
            }

            if (!languages[key][deepKey].progress) {
              languages[key][deepKey].progress = that.genId()
            }

            if (that.progress[languages[key][deepKey].progress] === 100) {
              languages[key][deepKey].uploaded = 1
            }

            if (that.progress[languages[key][deepKey].progress] === -1) {
              languages[key][deepKey].uploaded = 0
            }
          }
        }
        return languages
      }
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
  .table-row {
    cursor: default !important;
  }

  .table-row:hover {
    background: #fff !important;
  }

  .table-row:nth-child(odd) {
    background: #eaeaea !important;
  }

  .block-body-content .row:nth-child(odd) {
    background: #eaeaea;
  }

  .file-version-update {
    float: right;
    cursor: pointer;
    color: #617ba8;
  }

  .file-version-update:hover {
    color: #80a0ce;
  }

  .file-version-update:before {
    font-family: FontAwesome;
    content: '\f021'
  }

  .table-cell {
    height: 16px;
    overflow: hidden;
    display: inline-block;
    position: relative;

    input[type=file] {
      display: none;
    }
  }

  label.table-cell {
    cursor: pointer;
  }

  label.table-cell:hover {
    background: #c4f4d0 !important;
  }

  .table-row {
    .table-cell:nth-child(1) {
      width: 200px;
      text-align: right;
    }

    .table-cell:nth-child(n+2):nth-child(-n+8) {
      width: 20px;
      text-align: center;
    }

    .table-cell:nth-child(even) {
      background: #dfdfdf;
    }
  }

  .alternative {
    float: left;
    margin-left: 10px;
    height: 40px;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
  }

  .prices {
    display: inline-block;
    margin-left: 20px;
  }

  .table-title {
    overflow: hidden;

    .title {
      width: 215px;
      display: inline-block;
      float: left;
    }

    .language {
      float: left;
      width: 50px;
      display: inline-block;
      text-align: center;
      vertical-align: top;
    }

    .language:nth-child(even) {
      background: #c0c6cf;
    }
  }

  .progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }

  label.none:before {
    font-family: FontAwesome;
    content: '\f00d';
    color: #ff0000;
    font-size: 18px;
    height: 22px;
  }

  label.fully:before {
    font-family: FontAwesome;
    content: '\f00c';
    color: #008000;
    font-size: 18px;
    height: 22px;
  }

  label.partially:before {
    font-family: FontAwesome;
    content: '\f12a';
    color: #ffaa36;
    font-size: 18px;
    height: 22px;
  }
</style>
