<template>
    <div class="comment-section">
        <h3>Comments</h3>
        <div class="comment" v-for="comment in sortComments" :key="comment.id" :class="{highlight: editedComment !== null && editedComment.id === comment.id}">
            <div class="content" v-html="comment.description">
            </div>
            <div class="signature">
                <div class="name">{{ comment.author }}</div>
                <div class="time">{{ comment.created }}</div>
                <div class="tools" v-if="permission > 1">
                  <div v-if="comment.id" class="icon-btn" @click="editComment(comment)">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </div>
                  <div class="icon-btn" @click="removeComment(comment.id)" >
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </div>
                </div>
            </div>
            
        </div>
        <div class="write-comment" v-if="!editedComment">
            <textarea placeholder="Write comment" v-model="newComment"></textarea>
            <ccms-button class="full-width" text="Add Comment" v-on:triggerPress="sendRequest"></ccms-button>
        </div>
        <div class="write-comment" v-if="editedComment">
            <textarea placeholder="Write comment" v-model="editedComment.description"></textarea>
            <ccms-button class="full-width" text="Save Comment" v-on:triggerPress="sendUpdateRequest"></ccms-button>
            
            <ccms-button class="full-width" text="Cancel Editing" v-on:triggerPress="stopEditing"></ccms-button>
        </div>
    </div>
</template>

<script>
  import ccmsButton from '~/components/generic/button.vue'
  import auth from '~/lib/auth'
  import moment from 'moment'
  export default {
    props: [
      'comments',
      'prospectId'
    ],
    data () {
      return {
        newComment: null,
        editedComment: null
      }
    },
    mounted () {
      moment.locale('en')
    },
    methods: {
      sendRequest (callback) {
        let that = this
        let request = {
          prospectId: that.prospectId,
          employeeId: auth.user.id,
          description: that.newComment
        }

        callback.startLoading()

        that.$http.post('/api/prospects/comments', request, {
          headers: auth.authHeader
        }).then(
          // Successful response
          (response) => {
            callback.stopLoading()
            if (response.data.status === 200) {
              this.parseNewComment()
              return
            }

            this.$emit('parseError', response)
          },
          // Error response
          (response) => {
            callback.stopLoading()
            this.$emit('parseError', response)
          }
        )
      },
      sendUpdateRequest (callback) {
        const that = this
        const request = {
          description: this.editedComment.description,
          id: this.editedComment.id
        }

        console.log(request)

        callback.startLoading()
        that.$http.put('/api/prospects/comments/update', request, {
          headers: auth.authHeader
        }).then(
          (response) => {
            callback.stopLoading()
            if (response.data.status === 200) {
              const findIndexOfComment = (comment) => comment.id === that.editedComment.id
              const idx = that.sortComments.findIndex(findIndexOfComment)
              that.sortComments[idx] = that.editedComment
              that.editedComment = null
            }
          },
          (reason) => {
            callback.stopLoading()
            console.error(reason)
          }
        )
      },
      parseNewComment () {
        moment.locale('en')

        let comment = {
          description: this.newComment.replace(/\n/g, '<br/>'),
          author: auth.user.name,
          created: moment().local().format('YYYY-MM-DD hh:mm:ss')
        }

        this.sortComments.unshift(comment)

        this.newComment = ''
      },
      editComment (comment) {
        this.editedComment = {...comment} 
      },
      stopEditing () {
        this.editedComment = null
      },
      removeComment (id) {
        const that = this
        const findIndexOfComment = (comment) => comment.id === id
        const status = window.confirm('Are you sure you wish to delete this comment?')
        if (!status) return
        that.$http.delete('/api/prospects/comments/' + id, {
          headers: auth.authHeader
        }).then(
          (response) => {
            if (response.status !== 200) {
              console.log(response)
              return
            }
            let idx = that.sortComments.findIndex(findIndexOfComment)
            that.sortComments.splice(idx, 1)
          },
          (reason) => {
            console.error(reason)
          }
        )
      }
    },
    computed: {
      sortComments () {
        if (!this.comments) {
          return []
        }
        return this.comments.sort(function (a, b) {
          let keyA = new Date(a.created)
          let keyB = new Date(b.created)
          if (keyA > keyB) {
            return -1
          }

          if (keyA < keyB) {
            return 1
          }

          return 0
        })
      },
      permission () {
        return auth.user.permissions.employees
      }
    },
    components: {
      ccmsButton
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
    .comment-section {
        h4 {
            font-weight: normal;
            text-align: center;
        }

        .comment {
            padding: 5px 10px;
            margin: 3px 0;
            min-height: 50px;
            font-size: 0.8em;
            border: 1px solid #9d9d9d;
            background: #fff;
            overflow: hidden;

            &.highlight {
              border: 1px solid #77dd77;
            }

            .content {
                float: left;
                width: calc(100% - 120px);
            }

            .tools {
              display: flex;
              flex-direction: row;
              vertical-align: top;
              justify-content: flex-end;

              .icon-btn {
                margin: 3px;
                font-size: 1.2em;
                cursor: pointer;
              }
            }

            .signature {
                width: 100px;
                font-size: 0.8em;
                margin-left: 10px;
                overflow: hidden;
                float: right;
                vertical-align: top;
                text-align: right;

                .name {
                    margin-bottom: 5px;
                }
            }
        }

        .write-comment {
            margin: 5px 0;

            textarea {
                width: calc(100% - 22px);
                min-height: 100px;
                resize: vertical;
                outline: none;
                padding: 5px 10px;
                border: 1px solid #9d9d9d;
            }
        }
    }
</style>
