<template>
    <div>
        <h3>Contacts</h3>
        <div class="row">
            <div class="cell">
                <h5>Name</h5>
            </div>
            <div class="cell">
                <h5>Position</h5>
            </div>
            <div class="cell">
                <h5>Email</h5>
            </div>
            <div class="cell">
                <h5>Phone</h5>
            </div>
        </div>
        <div class="row" v-for="contact in prospect.contact">
            <div class="cell">
                <input type="text" v-model="contact.name" />
            </div>
            <div class="cell">
                <input type="text" v-model="contact.position" />
            </div>
            <div class="cell">
                <input type="text" v-model="contact.email" />
            </div>
            <div class="cell phone">
                <input type="text" v-model="contact.phoneFirst" />
                <a v-if="contact.phoneFirst" class="phone" :href="'callto://' + contact.phoneFirst"></a>
            </div>
            <div class="cell phone">
                <input type="text" v-model="contact.phoneSecond" />
                <a v-if="contact.phoneSecond" class="phone" :href="'callto://' + contact.phoneSecond"></a>
            </div>
        </div>
        <div class="title">
            <div class="margin">
                <h5>Reception</h5>
            </div>
        </div>
        <div class="row bottom-row">
            <div class="cell">
                <div class="button" v-on:click="appendContact">Add New Contact</div>
            </div>
            <div class="cell phone">
                <input type="text" v-model="prospect.phoneFirst" />
                <a v-if="prospect.phoneFirst" class="phone" :href="'callto://' + prospect.phoneFirst"></a>
            </div>
            <div class="cell phone">
                <input type="text" v-model="prospect.phoneSecond" />
                <a v-if="prospect.phoneSecond" class="phone" :href="'callto://' + prospect.phoneSecond"></a>
            </div>
        </div>
    </div>
</template>

<script>
    import auth from '~/lib/auth'
  export default {
    props: [
      'prospect',
      'index'
    ],
    methods: {
      appendContact () {
        const that = this
        that.$http.post('/api/prospects/prepare/contact/' + that.prospect.id, {}, {
          headers: auth.authHeader
        }).then((response) => {
          that.$emit('appendContact', that.index, response.body.data.contactId)
        })
      }
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
    .row {
        overflow: hidden;
        width: 100%;
        margin: 0;

        .cell {
            float: left;
            width: 20%;
            display: inline-block;

            h5 {
                padding-left: 10px;
            }

            input {
                width: calc(100% - 15px);
                padding-left: 10px;
                height: 30px;
                border: none;
                border-left: 1px solid #7a7a7a;
                background: transparent;
                outline: none;
            }

            a.phone {
                display: inline-block;
                height: 20px;
                width: 20px;
                text-align: center;
                text-decoration: none;
                color: #fff;
                background: #ccc;
            }

            a.phone:before {
                font-family: 'FontAwesome';
                content: '\f095'
            }
        }

        .cell.phone {
            line-height: 30px;

            input {
                width: calc(100% - 45px);
                padding-left: 10px;
                height: 30px;
                border: none;
                border-left: 1px solid #7a7a7a;
                background: transparent;
                outline: none;
            }

            a.phone {
                display: inline-block;
                height: 25px;
                width: 25px;
                text-align: center;
                vertical-align: middle;
                line-height: 25px;
                text-decoration: none;
                color: #fff;
                border-radius: 20px;
                background: #617ba8;
            }

            a.phone:hover {
                background: #82a3d9;
            }

            a.phone:before {
                font-family: 'FontAwesome';
                content: '\f095'
            }
        }

        .cell:first-child {
            input {
                border: none;
            }
        }

        .cell:nth-child(3) {
            width: 30%;
        }

        .cell:nth-child(n+4) {
            width: 15%;
        }

        .bottom-row {
            .cell:first-child {
                width: 70%;
                background: #fff !important;
            }

            .cell:nth-child(n+2) {
                width: 15%;
            }
        }
    }

    .title {
        .margin {
            margin-left: calc(70% + 10px);

            h5 {
                margin-top: 3px;
            }
        }
    }

    .row:nth-child(odd) {
        background: #eaeaea;
    }

    .button {
        margin: 0;
        width: 95%;
        padding: 5px 0;
        text-align: center;
    }
</style>