<template lang="pug">
    #wrapper.page
        .row.head
            img.logo(src="../../../assets/images/medfilm-logo.png" style="width: 30em")
            h2 {{ languages[language].quote.toUpperCase() }}
        .row.info
            p  {{ languages[language].info }}
        .row.contact
            label {{ languages[language].contactperson + ': ' }}
            input.contactfield
        .row.contact
            label {{ languages[language].organisation + ': ' }}
            input.contactfield
        .row.subscriptions
            .col.films
                h3 {{ languages[language].filmsubs }}
                .table
                    .head
                        b {{ languages[language].tables.films.patientmovie }} 
                        b {{ languages[language].tables.films.pricePerMovie }}  
                        b {{ languages[language].tables.films.licenses }}  
                    .rows
                        .row(v-for="(row, index) in rows" :key="index")
                            input.big(type="text" v-model="row.patientfilm")
                            input(type="number" v-model="row.pricePerMovie")
                            input(type="number" v-model="row.licenses")
                        .sumrow
                            input.big(type="text" :value="languages[language].summaries.subs.sum + ':'" readonly)
                            input(type="text" :value="addSuffix(sumPriceFilms(), 'tkr/mån')" readonly)
                            input(type="text" :value="addSuffix(sumLicenses(), 'st')" readonly)
            .col.languages
                h3 {{ languages[language].languagesubs }}
                .table
                    .head
                        b {{ languages[language].tables.languages.languages }}
                        b {{ languages[language].tables.languages.pricePerLang }}
                    .rows
                        .row(v-for="(row, index) in rows" :key="index")
                            input(type="text" v-model="row.languages")
                            input(type="number" v-model="row.pricePerLang")
                        .sumrow
                            input(type="text" :value="addSuffix(sumLangs(), 'st')" readonly)
                            input(type="text" :value="addSuffix(sumPriceLangs(), 'tkr/mån')" readonly)
        .row.summary
            p {{ languages[language].summaries.subs.sum + ': ' + addSuffix(sumSubs(), 'tkr/mån')}}

            .discount(v-for="(reduction, index) in discounts.reductions" :key="index + 'r'")
                input(type="text" v-model="reduction.text" placeholder="description")
                input.reduction(type="text" v-model="reduction.value" placeholder="x" :key="index + 'ri'")
                span tkr/mån
                
            .discount(v-for="(reduction, index) in discounts.percentages" :key="index + 'p'")
                input(type="text" v-model="reduction.text" placeholder="description")
                input.percentageInValue(type="text" :value="formatPercentage(reduction, index)" placeholder="xx" readonly)
                input.percentage(type="text" v-model="reduction.value" placeholder="(xx)")
                span %

            b {{ languages[language].summaries.subs.total + ': ' + addSuffix(sumTotalSubs(), 'tkr/mån') }}
        .row.extensions
            h3 {{ languages[language].extensions }}
            .table
                .head
                    b {{ languages[language].tables.extensions.product }}
                    b {{ languages[language].tables.extensions.amount }}
                    b {{ languages[language].tables.extensions.pricePerUnit }}
                    b {{ languages[language].tables.extensions.price }}
                .rows
                    .row
                        p(contenteditable="true") {{ languages[language].tables.extensions.types.tablet }}
                        input(v-model="extensions.tablet.amount")
                        input(v-model="extensions.tablet.price")
                        input(:value="calcExtensionCost(extensions.tablet)" readonly)
                    .row
                        p(contenteditable="true") {{ languages[language].tables.extensions.types.waitingroomTv }}
                        input(v-model="extensions.tv.amount")
                        input(v-model="extensions.tv.price")
                        input(:value="calcExtensionCost(extensions.tv)" readonly)
                    .row
                        p(contenteditable="true") {{ languages[language].tables.extensions.types.patientfilmcards }}
                        input(v-model="extensions.patientfilmcards.amount")
                        input(v-model="extensions.patientfilmcards.price")
                        input(:value="calcExtensionCost(extensions.patientfilmcards)" readonly)
                    .row
                        p(contenteditable="true") {{ languages[language].tables.extensions.types.contentchanges }}
                        input(v-model="extensions.contentchanges.amount")
                        input(v-model="extensions.contentchanges.price")
                        input(:value="calcExtensionCost(extensions.contentchanges)" readonly)
        .row.summary
               b {{ languages[language].summaries.extensions.total + ': ' + calcTotalExtensionCost() }} 
        .row.kam
            img.person(:src="kam.image" style="width: 10em;")
            .info
                b {{kam.name}}
                p {{kam.role}}
                br
                p {{kam.tel}}
                p {{kam.email}}

</template>
<script>
export default {
    name: 'quote',
    props: ['language', 'rows', 'discounts', 'kam'],
    data: () => {
        return {
            extensions: {
                tablet: {
                    amount: 0,
                    price: 4.9
                },
                tv: {
                    amount: 0,
                    price: 19
                },
                patientfilmcards: {
                    amount: 0,
                    price: 4.9
                },
                contentchanges: {
                    amount: 0,
                    price: 3
                }
            },
            languages: {
                se: {
                    quote: 'offert',
                    info: 'Offerten gäller MedFilms IT-tjänst för förmedling av operationsinformation till patienter.',
                    contactperson: 'Kontaktperson',
                    organisation: 'Organisation',
                    filmsubs: 'Filmabonnemang',
                    languagesubs: 'Språkabonnemang',
                    extensions: 'Tilläggsprodukter / Engångskostnader',
                    tables: {
                        films: {
                            patientmovie: 'Patientfilm',
                            pricePerMovie: 'Pris á film (tkr/mån)',
                            licenses: 'Sjukhuslicenser'
                        },
                        languages: {
                            languages: 'Språk',
                            pricePerLang: 'Pris á språk (kr/mån)'
                        },
                        extensions: {
                            product: 'Produkt',
                            amount: 'Antal (st)',
                            pricePerUnit: 'Styckpris (tkr)',
                            price: 'Pris (tkr)',
                            types: {
                                tablet: 'Filmplatta',
                                waitingroomTv: 'Väntrums-TV',
                                patientfilmcards: 'Patientfilmskort',
                                contentchanges: 'Innehållsjustering'
                            }
                        }
                    },
                    summaries: {
                        extensions: {
                            total: 'Totalpris - tilläggsprodukter'
                        },
                        subs: {
                            sum: 'Summering',
                            total: 'Totalpris - abonnemang (efter avdrag)'
                        }
                    }
                }
            }
        }
    },
    methods: {
        sumAfterReductions: function() {
            let sum = this.sumSubs()
            let tmp = [...this.discounts.reductions]
            tmp.reverse().forEach((discount) => {
                let value = Number.parseFloat(discount.value)
                sum += value
            })
            return sum
        },
        sumAfterPercentages: function() {
            let sum = this.sumAfterReductions()
            this.discounts.percentages.forEach((discount, index) => {
                sum -= this.calcPercentage(discount, index)
            })
            return sum
        },
        sumSubs: function() {
            return this.sumPriceFilms() + this.sumPriceLangs()
        },
        sumTotalSubs: function() {
            return Math.floor(this.sumAfterPercentages())
        },
        addSuffix: function(value, suffix) {
            return value + ' ' + suffix
        },
        sumFilms: function() {
            return this.rows.length
        },
        sumPriceFilms: function() {
            let sum = 0
            this.rows.forEach((row) => { sum += (Number.parseFloat(row.pricePerMovie) * Number.parseInt(row.licenses)) })
            return sum
        },
        sumLicenses: function() {
            let sum = 0
            this.rows.forEach((row) => { sum += Number.parseInt(row.licenses) })
            return sum
        },
        sumLangs: function() {
            let sumlangs = ['(SE)']
            this.rows.forEach((row) => {
                let langs = row.languages.split(',')
                langs.forEach((lang) => {
                    if (sumlangs.indexOf(lang.trim()) !== -1 || lang.trim().length === 0) return
                    sumlangs.push(lang.trim())
                })
            })
            return (sumlangs.length - 1)
        },
        sumPriceLangs: function() {
            let sum = 0
            this.rows.forEach((row) => {
                let langs = row.languages.split(',')
                let sumLangs = ['(SE)']
                langs.forEach((lang) => {
                    if (sumLangs.indexOf(lang.trim()) !== -1 || lang.trim().length === 0) return
                    sumLangs.push(lang.trim())
                })
                sum += (Number.parseInt(row.pricePerLang) * (sumLangs.length - 1))
            })
            return sum / 1000
        },
        calcPercentage: function(discount, index) {
            let sum = this.sumAfterReductions()

            for (let i = 0; i < index; i++) {
                sum -= this.calcPercentage(this.discounts.percentages[i], i)
            }

            let valuestr = discount.value.replace('(', '').replace(')', '')

            let value = Number.parseFloat(valuestr) / 100
            return (sum * value).toFixed(1)
        },
        formatPercentage: function(discount, index) {
            return '-' + this.calcPercentage(discount, index) + ' tkr'
        },
        calcExtensionCost: function(ext) {
            return Number.parseInt(ext.amount) * Number.parseFloat(ext.price)
        },
        calcTotalExtensionCost: function() {
            let sum = 0
            for (let key in this.extensions) {
                sum += this.calcExtensionCost(this.extensions[key])
            }
            return sum.toFixed(1) + ' tkr'
        }
    }
}

</script>
<style lang="scss" scoped>
$color-primary-0: #2C4770; // Main Primary color */
$color-primary-1: #617ba8;
$color-primary-2: #2F5796;
$color-primary-3: #8F9DB3;
$color-primary-4: #151B26;

.page {
    position: relative;
    max-width: 17cm;
    min-width: 17cm;
    min-height: 25.7cm;
    max-height: 25.7cm;
    padding: 2cm;
    font-size: 0.8em;
    border: 1px solid #aaa;
    box-shadow: -5px 2px 12px #aaa;

    .row {
        display: flex;
        &.head {
            flex-direction: row;
            justify-content: center;
            align-items: center;

            h2 {
                font-size: 3em;
                color: $color-primary-3;
            }
        }
        &.info {
            justify-content: center;
            align-items: center;
            margin-bottom: 0.5cm;
        }
        &.contact {
            label {
                flex: 1;
            }
            input.contactfield {
                flex: 8;
                max-width: 14cm;
                border: none;
                border-bottom: 1px solid $color-primary-3;
            }
        }
        &.subscriptions {
            flex-direction: row;
            margin-top: 0.4cm;
            .col {
                h3 {
                    color: $color-primary-3;
                }
                &.films {
                    flex: 3;
                    margin-right: 2px;
                }
                &.languages {
                    flex: 2;
                }
            }
        }
        &.extensions {
            flex-direction: column;
            h3 {
                color: $color-primary-3;
            }
        }
        &.summary {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;

            .discount {
                input {
                    text-align: right;
                    border: none;
                    width: 7cm;
                }
                input.reduction,
                input.percentage {
                    width: 2em;
                    margin-right: 4px;
                }
                input.reduction {
                    width: 3.4em;
                }
                input.percentageInValue {
                    width: 1.5cm;
                }
                &:nth-last-child(2) {
                    margin-bottom: 10px;
                }
                &:nth-child(2) {
                    margin-top: 10px;
                }
            }
        }
        &.kam {
            position: absolute;
            display: flex;
            flex-direction: row;

            align-items: center;

            border: 1px solid $color-primary-3;
            padding: 3em;
            color: #000;

            bottom: 1.5cm;
            right: 2cm;
            left: 2cm;

            img.person {
                margin-right: 1cm;
            }
        }
        .sumrow {
            display: flex;
            flex-direction: row;
            input {
                flex: 1;
                font-style: italic;
                border: none;
                width: 100%;
                font-size: 0.9em;
            }
        }
    }
    .table {
        display: flex;
        flex-direction: column;
        .head {
            display: flex;
            flex-direction: row;
            background-color: $color-primary-1;
            justify-content: center;
            align-items: center;
            padding-top: 2px;
            padding-bottom: 2px;
            padding-left: 2px;
            margin-top: 0.2cm;
            b {
                color: white;
                flex: 1;
            }
        }
        .rows {
            .row {
                padding-top: 0;
                margin: 0;
                p,
                input {
                    flex: 2;
                    border: none;
                    border-bottom: 1px solid $color-primary-3;
                    border-right: 1px solid $color-primary-3;
                    width: 100%;
                    &:first-child {
                        border-left: 1px solid $color-primary-3;
                    }
                    &.big {
                        flex: 2;
                    }
                }
            }
        }
    }
}
</style>
