<template>
    <div class="new-entity">
        <input type="text" :placeholder="editName" v-model="name" />
        <ccms-button text="Save" v-on:triggerPress="sendRequest"></ccms-button>
        <div class="button" v-on:click="removeEdit()">Cancel</div>
    </div>
</template>

<script>
  import ccmsButton from '~/components/generic/button.vue'
  export default {
    props: [
      'editName',
      'request',
      'callback'
    ],
    data () {
      return {
        name: null
      }
    },
    methods: {
      sendRequest () {
        let request = this.request
        Object.assign(request, {name: this.name})
        this.callback(request)
      },
      removeEdit () {
        this.$emit('removeEdit')
      }
    },
    components: {
      ccmsButton
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss">
    .new-entity {
        input {
            outline: none;
            padding: 5px 25px;
            vertical-align: top;
        }
    }
</style>