<template>
    <div class="button" v-on:click="showEdit()">{{ name }}</div>
</template>

<script>
  import auth from '~/lib/auth'

  export default {
    props: [
      'name',
      'value',
      'endpoint'
    ],
    methods: {
      showEdit () {
        this.$emit('addEntry', this.value, this.sendRequest)
      },
      sendRequest (request) {
        let that = this

        that.$http.post('/api/prospects/' + that.endpoint, request, {
          headers: auth.authHeader
        }).then(
          // Successful response
          (response) => {
            // If given data status is 200, render the page
            if (response.data.status === 200) {
              that.$emit('reload')
              return
            }

            that.$emit('parseError', response)
          },
          (response) => {
            that.$emit('parseError', response)
          }
        )
      }
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
    .button {
        margin-left: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
    }
</style>