<template>
    <div class="add-prospect-row">
        <div class="cell">
            <h5>Hospital</h5>
            <div class="input-field">
                <input type="text" v-model="hospital" :disabled="regionalOffice" />
            </div>
        </div>
        <div class="cell">
            <h5>Clinic</h5>
            <div class="input-field">
                <input type="text" v-model="clinic" :disabled="regionalOffice" />
            </div>
        </div>
        <div class="cell">
            <h5>Category</h5>
            <div class="select-field">
                <select v-model="category" :disabled="regionalOffice">
                    <option value="Bariatric Surgery">Bariatric Surgery</option>
                    <option value="Cosmetic Surgery">Cosmetic Surgery</option>
                    <option value="General Surgery">General Surgery</option>
                    <option value="Medicine">Medicine</option>
                    <option value="Odontology">Odontology</option>
                    <option value="Oncology">Oncology</option>
                    <option value="Ophtalmology">Ophthalmology</option>
                    <option value="Orthopaedics">Orthopaedics</option>
                    <option value="Surgery">Surgery</option>
                    <option value="ENT">ENT</option>
                </select>
            </div>
        </div>
        <div class="cell">
            <h5>Region</h5>
            <div class="select-field">
                <select v-model="region">
                    <option v-for="region in regions" :value="region.id">{{ region.name }}</option>
                </select>
            </div>
        </div>
        <div class="cell">
            <h5>Regional Office</h5>
            <div class="entry checkbox-field">
                <input type="checkbox" id="regionalOffice" :checked="regionalOffice" v-on:click="regionalOffice = !regionalOffice" />
                <label for="regionalOffice" class="approved"></label>
            </div>
        </div>
        <div class="cell">
            <h5>&nbsp</h5>
            <ccms-button text="Save" v-on:triggerPress="sendRequest"></ccms-button>
            <div class="button" v-on:click="removeEdit()">Cancel</div>
        </div>
    </div>
</template>

<script>
  import ccmsButton from '~/components/generic/button.vue'
  import auth from '~/lib/auth'
  export default {
    props: [
      'regions',
      'Categories',
      'callback'
    ],
    data () {
      return {
        hospital: null,
        clinic: null,
        category: null,
        region: null,
        regionalOffice: false
      }
    },
    methods: {
      sendRequest () {
        let that = this
        let request = {
          hospital: that.hospital,
          clinic: that.clinic,
          categoryName: that.category,
          region: that.region,
          accountableId: auth.user.id,
          regionalOffice: that.regionalOffice
        }

        that.$http.post('/api/prospects', request, {
          headers: auth.authHeader
        }).then(
          // Successful response
          (response) => {
            // If given data status is 200, render the page
            if (response.data.status === 200) {
              that.$emit('reload')
              that.removeEdit()
              return
            }

            that.$emit('parseError', response)
          },
          (response) => {
            that.$emit('parseError', response)
          }
        )
      },
      removeEdit () {
        this.$emit('removeEdit')
      }
    },
    components: {
      ccmsButton
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
    .add-prospect-row {
        overflow: hidden;

        .cell {
            display: inline-block;
            float: left;
            min-width: 200px;

            input {
                width: 150px;
                margin: 0;
            }

            select {
                width: 180px;
                margin: 0;
                height: 30px;
            }
        }
    }

    label {
        margin-top: 0 !important;
    }
</style>