<template>
    <div class="button" v-on:click="askQuestion()">{{ name }}</div>
</template>

<script>
  import auth from '~/lib/auth'
  export default {
    props: [
      'name',
      'countryId',
      'countryName'
    ],
    methods: {
      // Send askQuestion request to parent with a callback function, and prompt the user for password
      askQuestion () {
        this.$emit('askQuestion', 'delete ' + this.countryName, this.sendRequest)
      },

      // This request will be triggered only if user password is correct
      sendRequest () {
        let that = this

        that.$http.delete('/api/prospects/country/' + this.countryId, {
          headers: auth.authHeader
        }).then(
          // Successful response
          (response) => {
            // If given data status is 200, render the page
            if (response.data.status === 200) {
              that.$emit('reload')
              return
            }

            that.$emit('parseError', response)
          },
          (response) => {
            that.$emit('parseError', response)
          }
        )
      }
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss">
    .button {
        margin-left: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
    }
</style>