<template>
  <div class="row">
    <div class="table-title">
      <div class="table-cell" style="float: left;" v-on:click="switchRegionShow(regionIndex)">
        <div class="arrow fa fa-caret-down"
             v-bind:class="{ 'fa-caret-down': shownRegion, 'fa-caret-right': !shownRegion }"></div>
        {{ region.name }}
      </div>
      <div class="table-cell" style="float: left;">
        Clinic
      </div>
      <div class="table-cell" style="float: left;">
        Field
      </div>
      <div class="table-cell" style="float: left;">
        Main Contact
      </div>
      <div class="table-cell" style="float: left;">
        KAM
      </div>
      <div class="table-cell" style="float: left;">
        Reminder
      </div>
      <div class="table-cell" style="float: left;">
        Controls
        <div class="garbage fa fa-trash" v-on:click="askDeleteRegion()" v-show="!hideControl"></div>
      </div>
    </div>
    <transition v-on:leave="slideOut" v-bind:css="false">
      <div class="table" v-if="shownRegion">
        <template v-for="(prospect, index) in filteredProspects" v-if="!prospect.hide">
          <div class="table-row" v-on:click="prospectIndex = (prospectIndex === index) ? null : index"
               v-bind:style="{ background: prospect.colour } ">
            <div class="table-cell" style="float: left;">
              {{ shorten(prospect.hospital, 40) }}
            </div>
            <div class="table-cell" style="float: left;">
              {{ shorten(prospect.clinic, 25) }}
            </div>
            <div class="table-cell" style="float: left;">
              {{ shorten(prospect.categoryName, 25) }}
            </div>
            <div class="table-cell" style="float: left;">
              <div v-if="prospect.contact !== null">
                <div v-if="prospect.mainContact !== null">
                  {{ prospect.mainContact | shorten(20) }}
                </div>
                <div v-else>
                  {{ prospect.contact[0].name | shorten(20) }}
                </div>
              </div>
            </div>
            <div class="table-cell" style="float: left;">
              {{ shorten(prospect.accountable, 25) }}
            </div>
            <div class="table-cell" style="float: left;" v-bind:class="remindercolor">
              {{ shorten(prospect.reminder, 25) }}
            </div>
            <div class="table-cell" style="float: left;">
              <colorPicker class="icon-button color" :index="index"
                           v-on:setColor="setColor"></colorPicker>
              <div class="icon-button convert" v-on:click.stop="askConvert(index)" :class="{ disabled: prospect.regionalOffice }" v-show="!hideControl"></div>
              <div class="icon-button delete" v-on:click.stop="askDeleteProspect(index)"></div>
            </div>
          </div>
          <transition v-on:enter="slideIn" v-bind:css="false">
            <section class="table-section-row" v-if="index === prospectIndex">
              <div class="padding">
                <div class="details-row">
                  <div class="column column-left">
                    <h3>Details</h3>
                    <div class="cell input-field">
                      <h5>Hospital</h5>
                      <input type="text" placeholder="Name" v-model="prospect.hospital" :disabled="prospect.regionalOffice"/>
                    </div>
                    <div class="cell input-field">
                      <h5>Clinic</h5>
                      <input type="text" placeholder="Name" v-model="prospect.clinic" :disabled="prospect.regionalOffice"/>
                    </div>
                    <div class="cell select-field">
                      <h5>Field</h5>
                      <select v-model="prospect.categoryName" title="Field" :disabled="prospect.regionalOffice">
                        <option value="Bariatric Surgery">Bariatric Surgery</option>
                        <option value="Cosmetic Surgery">Cosmetic Surgery</option>
                        <option value="General Surgery">General Surgery</option>
                        <option value="Medicine">Medicine</option>
                        <option value="Odontology">Odontology</option>
                        <option value="Oncology">Oncology</option>
                        <option value="Ophtalmology">Ophthalmology</option>
                        <option value="Orthopaedics">Orthopaedics</option>
                        <option value="Surgery">Surgery</option>
                        <option value="ENT">ENT</option>
                      </select>
                    </div>
                    <div class="cell select-field">
                      <h5>Main Contact</h5>
                      <select v-model="prospect.mainContact">
                        <option v-for="contact in prospect.contact" :value="contact.name">{{ contact.name }}</option>
                      </select>
                    </div>
                    <div class="cell select-field">
                      <h5>KAM</h5>
                      <select v-model="prospect.accountableId">
                        <option v-for="employee in KAM" :value="employee.id">{{ employee.name }}</option>
                      </select>
                    </div>
                    <contact-section :prospect="prospect" :index="index" v-on:appendContact="appendContact"></contact-section>
                  </div>
                  <div class="column column-right">
                    <div class="wrap">
                      <h3>Reminder</h3>
                      <textarea v-model="prospect.reminderText"></textarea>
                      <div class="input-field reminder">
                        <date-picker placeholder="Date" v-model="prospect.reminder"></date-picker>
                      </div>
                      <div class="input-field reminderTime">
                        <time-picker placeholder="Time" v-model="prospect.reminderTime"></time-picker>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="details-row comment-address">
                  <div class="column column-left address-wrap">
                    <div class="column address-split">
                      <h3>Visiting/Delivery Address</h3>
                      <div class="input-field">
                        <h5>Company</h5>
                        <input type="text" v-model="prospect.addresses.visiting.companyFirst"/>
                        <input type="text" v-model="prospect.addresses.visiting.companySecond"/>
                      </div>
                      <div class="input-field">
                        <h5>Street Address</h5>
                        <input type="text" v-model="prospect.addresses.visiting.addressFirst"/>
                        <input type="text" v-model="prospect.addresses.visiting.addressSecond"/>
                      </div>
                      <div class="input-field">
                        <h5>City</h5>
                        <input type="text" v-model="prospect.addresses.visiting.city"/>
                      </div>
                      <div class="input-field">
                        <h5>Zip/Postal Code</h5>
                        <input type="text" v-model="prospect.addresses.visiting.postalCode"/>
                      </div>
                      <div class="input-field">
                        <h5>State/Province</h5>
                        <input type="text" v-model="prospect.addresses.visiting.state"/>
                      </div>
                      <div class="input-field">
                        <h5>Country</h5>
                        <input type="text" v-model="prospect.addresses.visiting.country"/>
                      </div>
                     </div>
                    <div class="column address-split">
                      <h3>Billing Address</h3>
                      <div class="input-field">
                        <h5>Company</h5>
                        <input type="text" v-model="prospect.addresses.billing.companyFirst"/>
                        <input type="text" v-model="prospect.addresses.billing.companySecond"/>
                      </div>
                      <div class="input-field">
                        <h5>Street Address</h5>
                        <input type="text" v-model="prospect.addresses.billing.addressFirst"/>
                        <input type="text" v-model="prospect.addresses.billing.addressSecond"/>
                      </div>
                      <div class="input-field">
                        <h5>City</h5>
                        <input type="text" v-model="prospect.addresses.billing.city"/>
                      </div>
                      <div class="input-field">
                        <h5>Zip/Postal Code</h5>
                        <input type="text" v-model="prospect.addresses.billing.postalCode"/>
                      </div>
                      <div class="input-field">
                        <h5>State/Province</h5>
                        <input type="text" v-model="prospect.addresses.billing.state"/>
                      </div>
                      <div class="input-field">
                        <h5>Country</h5>
                        <input type="text" v-model="prospect.addresses.billing.country"/>
                      </div>
                      <div class="input-field">
                        <h5>Reference / Order Id</h5>
                        <input type="text" v-model="prospect.refNumber"/>
                      </div>
                      <div class="input-field">
                        <h5>Tax/VAT Number</h5>
                        <input type="text" v-model="prospect.vatNumber"/>
                      </div>
                    </div>
                    
                    <!-- Quotes and Agreements -->
                    <div class="q-a-wrapper">
                      <div class="col">
                        <h3>Quotes</h3>
                        <!-- FIXME: REMOVE THESE THUMBS -->
                        <div class="thumbs">

                          <div class="thumb-wrapper">
                            <div class="thumb fa fa-file"></div>
                            <i class="timestamp">2017-05-07</i>
                          </div>

                        </div>

                        <div @click="openQuote(prospect)" class="button">Add New Quote</div>
                      </div>
                      <div class="col">
                        <h3>Agreements</h3>
                        <!-- FIXME: REMOVE THESE THUMBS -->
                        <div class="thumbs">

                        </div>

                        <div class="button">Add New Agreement</div>
                      </div>
                    </div>
                    
                  </div>
                  <comment-section class="comments column column-right" :comments="prospect.comments" :prospectId="prospect.id" v-on:parseError="parseError"></comment-section>
                </div>
              </div>
            </section>
          </transition>
        </template>
      </div>
    </transition>
  </div>
</template>

<script>
  import Vue from 'vue'
  import moment from 'moment'
  import velocity from 'velocity-animate'
  import auth from '~/lib/auth'
  import commentSection from './regionTable/commentSection.vue'
  import contactSection from './regionTable/contactSection.vue'
  import datePicker from '~/components/generic/datePicker.vue'
  import colorPicker from '~/components/generic/colorPicker.vue'
  import timePicker from '~/components/generic/timePicker.vue'
  import ccmsButton from '~/components/generic/button.vue'
  // Handles communication between regionTable siblings
  let bus = new Vue()

  export default {
    props: [
      'countryIndex',
      'region',
      'regionIndex',
      'KAM',
      'Categories',
      'shownRegion',
      'searchQuery'
    ],
    data () {
      return {
        prospectIndex: null,
        deleteTargetIndex: null,
        convertTargetIndex: null,
        timeoutId: 0,
        doWatch: false,
        prospectSorted: false
      }
    },
    directives: {
      'date-picker': datePicker
    },
    beforeMount () {
      // get saved items
      let activeRegion = parseInt(window.localStorage.getItem('activeRegion')) || null
      let prospectIndex = parseInt(window.localStorage.getItem('prospectIndex')) || 0

      // If correct active region, set prospectIndex
      if (this.region.id === activeRegion) {
        this.prospectIndex = prospectIndex

        // remove saved items
        window.localStorage.setItem('activeRegion', '')
        window.localStorage.setItem('prospectIndex', '')
      }
    },
    mounted () {
      let that = this
      bus.$on('collapseProspects', function (id) {
        if (that.region.id !== id) {
          that.prospectIndex = null
        }
      })
    },
    filters: {
      shorten (value, length) {
        if (!value) return ''
        value = value.toString()
        return value.length > length ? value.substring(0, length - 3) + '...' : value
      }
    },
    methods: {
      openQuote: function (prospect) {
        this.$emit('openQuote', prospect)
      },
      // Get local storage and add/switch value of region
      switchRegionShow (id) {
        let item = window.Object.assign({}, window.JSON.parse(window.localStorage.getItem(this.countryIndex)))

        if (!item.hasOwnProperty(id)) {
          item[id] = false
        } else {
          item[id] = !item[id]
        }

        window.localStorage.setItem(this.countryIndex, window.JSON.stringify(item))
        this.$emit('updateShown')
      },
      shorten (string, length) {
        if (!string) {
          return null
        }
        return string.length > length ? string.substring(0, length - 3) + '...' : string
      },
      slideIn (el) {
        velocity(el, 'slideDown', {
          duration: 250
        })
      },
      slideOut (el, done) {
        done()
        velocity(el, 'slideUp')
      },
      parseError (error) {
        this.$emit('parseError', error)
      },
      save () {
        let that = this
        let request = that.region.prospect[that.prospectIndex]

        if (!request) {
          return
        }

        // Convert reminder date to timestamp
        if (request.reminder) {
          moment.locale(['en'])
          request.reminder = moment(request.reminder, 'DD MMM YYYY').format('YYYY-MM-DD hh:mm:ss')
        } else {
          request.reminder = ''
        }

        that.$http.put('/api/prospects/' + request.id, request, {
          headers: auth.authHeader
        }).then(
          // Successful response
          (response) => {
            if (response.data.status === 200) {
              // Set current prospectIndex in local storage, for use when reloading data
              window.localStorage.setItem('activeRegion', that.region.id)
              window.localStorage.setItem('prospectIndex', that.prospectIndex)
              // that.$emit('reload')
              that.doWatch = true
              return
            }

            that.$emit('parseError', response)
          },
          // Error response
          (response) => {
            that.$emit('parseError', response)
          }
        )
      },

      askDeleteRegion () {
        this.$emit('askQuestion', 'delete ' + this.region.name, this.deleteRegion)
      },

      deleteRegion () {
        let that = this
        that.$http.delete('/api/prospects/region/' + this.region.id, {
          headers: auth.authHeader
        }).then(
          // Successful response
          (response) => {
            // If given data status is 200, render the page
            if (response.data.status === 200) {
              that.$emit('reload')
              return
            }

            that.$emit('parseError', response)
          },
          (response) => {
            that.$emit('parseError', response)
          }
        )
      },

      askConvert (index) {
        if (this.filteredProspects[index].regionalOffice) {
          return
        }
        this.convertTargetIndex = index
        this.$emit('askQuestion', 'convert ' + this.filteredProspects[index].hospital, this.convert)
      },

      convert () {
        let that = this
        that.$http.put('/api/prospects/' + this.filteredProspects[this.convertTargetIndex].id + '/convert', {}, {
          headers: auth.authHeader
        }).then(
          // Successful response
          (response) => {
            // If given data status is 200, render the page
            if (response.data.status === 200) {
              that.$router.push('/accounts/' + response.body.data.accountId + '/subscriptions')
              return
            }

            that.$emit('parseError', response)
          },
          (response) => {
            that.$emit('parseError', response)
          }
        )
      },

      askDeleteProspect (index) {
        this.deleteTargetIndex = index
        this.$emit('askQuestion', 'delete ' + this.filteredProspects[index].hospital, this.deleteProspect)
      },

      deleteProspect () {
        let that = this
        that.$http.delete('/api/prospects/' + this.filteredProspects[this.deleteTargetIndex].id, {
          headers: auth.authHeader
        }).then(
          // Successful response
          (response) => {
            // If given data status is 200, render the page
            if (response.data.status === 200) {
              that.$emit('reload')
              return
            }

            that.$emit('parseError', response)
          },
          (response) => {
            that.$emit('parseError', response)
          }
        )
      },

      // Adds a new contact
      appendContact (index, id) {
        const that = this
        if (!that.region.prospect[index].contact) {
          that.region.prospect[index].contact = []
        }

        that.doWatch = false
        that.region.prospect[index].contact.push({
          prospectId: that.region.prospect[index].id,
          id: id,
          name: null,
          email: null,
          position: null,
          phone: null
        })

        setTimeout(() => {
          that.doWatch = true
        }, 1000)
      },

      // setColor from colorPicker component
      setColor (color, index) {
        let that = this
        let request = that.filteredProspects[index]
        request.colour = color

        if (request.reminder) {
          request.reminder = moment(request.reminder, ['DD MMM YYYY', 'YYYY-MM-DD hh:mm:ss', 'YYYY-MM-DD hh:mm']).format('YYYY-MM-DD hh:mm:ss')
        } else {
          request.reminder = ''
        }

        that.$http.put('/api/prospects/' + request.id, request, {
          headers: auth.authHeader
        }).then(
          // Successful response
          (response) => {
            if (response.data.status === 200) {
              // Since only color was saved, no need to reload data
              return
            }

            that.$emit('parseError', response)
          },
          // Error response
          (response) => {
            that.$emit('parseError', response)
          }
        )
      }
    },
    computed: {
      filteredProspects () {
        // Function will search and filter out all prospects
        let prospect = this.region.prospect
        let searchQuery = this.searchQuery.toLowerCase().split(' ')
        let match = {}

        if (prospect && !this.prospectSorted) {
          prospect.sort((a, b) => {
            return a.regionalOffice === b.regionalOffice ? (b.hospital < a.hospital) ? 1 : ((a.hospital < b.hospital) ? -1 : 0) : (a.regionalOffice < b.regionalOffice) ? 1 : ((b.regionalOffice < a.regionalOffice) ? -1 : 0)
          })

          this.prospectSorted = true
        }

        // Create a match template based on searchQuery, give search criterias false for starters
        for (let i = 0; i < searchQuery.length; i++) {
          if (searchQuery[i] === '') {
            continue
          }
          match[searchQuery[i]] = false
        }

        // Filter function - Will switch matched criterias to true if found.
        const filter = function (internalMatch, term) {
          for (let i = 0; i < searchQuery.length; i++) {
            if (searchQuery[i] === '') {
              continue
            }

            if (term && term !== '' && term.toString().toLowerCase().includes(searchQuery[i])) {
              internalMatch[searchQuery[i]] = true
            }
          }
        }

        if (!prospect) {
          return prospect
        }

        for (let i = 0; i < prospect.length; i++) {
          prospect[i].hide = false
          if (prospect[i].regionalOffice) {
            prospect[i].clinic = ''
            prospect[i].categoryName = ''
            prospect[i].hospital = 'Regional Offices'
          }

          if (prospect[i].reminder) {
            prospect[i].reminder = moment(prospect[i].reminder, ['YYYY-MM-DD hh:mm:ss', 'DD MMM YYYY', 'YYYY-MM-DD hh:mm']).format('DD MMM YYYY')
          }

          if (!prospect[i].mainContact) {
            if (prospect[i].contact) {
              prospect[i].mainContact = prospect[i].contact[0].name
            }
          }

          if (!prospect[i].addresses.hasOwnProperty('visiting')) {
            prospect[i].addresses.visiting = {}
          }

          if (!prospect[i].addresses.hasOwnProperty('billing')) {
            prospect[i].addresses.billing = {}
          }

          if (searchQuery.length > 0) {
            if (searchQuery.length === 1 && searchQuery[0] === '') {
              continue
            }

            // Make a local copy of match template
            let matchCopy = Object.assign({}, match)

            // Define which fields to search in, add new here
            filter(matchCopy, prospect[i].hospital)
            filter(matchCopy, prospect[i].clinic)
            filter(matchCopy, prospect[i].field)
            filter(matchCopy, prospect[i].categoryName)
            filter(matchCopy, prospect[i].vatNumber)
            filter(matchCopy, prospect[i].accountable)
            filter(matchCopy, prospect[i].phoneFirst)
            filter(matchCopy, prospect[i].phoneSecond)
            if (prospect[i].contact) {
              for (let c = 0; c < prospect[i].contact.length; c++) {
                filter(matchCopy, prospect[i].contact[c].name)
                filter(matchCopy, prospect[i].contact[c].position)
                filter(matchCopy, prospect[i].contact[c].email)
                filter(matchCopy, prospect[i].contact[c].phoneFirst)
                filter(matchCopy, prospect[i].contact[c].phoneSecond)
              }
            }

            // If there is any criteria that is unmatched (false), hide the prospect.
            for (let key in matchCopy) {
              if (!matchCopy.hasOwnProperty(key)) continue
              if (!matchCopy[key]) {
                prospect[i].hide = true
              }
            }
          }
        }
        return prospect
      },

      // Used for reminder color
      remindercolor () {
        return {
          orange: false,
          // Give .red class
          red: true
        }
      },
      hideControl () {
        return this.$route.name === 'accountsViewInformation'
      }
    },
    watch: {
      region: {
        handler () {
          this.prospectIndex = null
        }
      },
      prospectIndex: {
        handler (val) {
          if (val !== null) {
            bus.$emit('collapseProspects', this.region.id)
          }

          this.doWatch = true
        }
      },
      filteredProspects: {
        handler (prospect, oldProspect) {
          let that = this
          clearTimeout(that.timeoutId)
          if (that.doWatch) {
            that.timeoutId = setTimeout(function () {
              // Runs 1 second (1000 ms) after the last change
              that.save()
              that.doWatch = false
            }, 1000)
          }
        },
        deep: true
      }
    },
    components: {
      commentSection,
      contactSection,
      datePicker,
      colorPicker,
      timePicker,
      ccmsButton
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
  .view {
      .table-title {
        overflow: hidden;
        padding: 0;

        .table-cell {
          padding: 3px 15px;
          float: left;
          word-wrap: break-word;
          position: relative;
          display: inline-block;
        }

        // This class is for the :hover effect to work. It puts an invisible table-cell over the whole row.
        .table-cell:first-child::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 1000%;
          max-width: 1400px;
        }

        .table-cell {
          width: 180px;
        }

        .table-cell:nth-child(1) {
          width: 290px;
          cursor: pointer;
        }

        .table-cell:nth-child(2) {
          width: 250px;
        }

        .table-cell:nth-child(3) {
          width: 140px;
        }

        .table-cell:nth-child(4) {
          width: 135px;
        }

        .table-cell:nth-child(5) {
          width: 150px;
        }

        .table-cell:nth-child(6) {
          width: 145px;
        }

        .table-cell:nth-child(7) {
          text-align: left;
          padding: 3px 0;
          width: 110px;
        }
      }

    .row {
      padding: 0;

      .table-row {
        .table-cell {
          width: 180px;
        }

        .table-cell:nth-child(1) {
          width: 290px;
        }

        .table-cell:nth-child(2) {
          width: 250px;
        }

        .table-cell:nth-child(3) {
          width: 140px;
        }

        .table-cell:nth-child(4) {
          width: 135px;
        }

        .table-cell:nth-child(5) {
          width: 150px;
        }

        .table-cell:nth-child(6) {
          width: 145px;
        }

        .table-cell:nth-child(7) {
          text-align: left;
          padding: 3px 0;
          width: 110px;
        }
      }
    }
  }

  .padding {
    height: 100%;
  }

  .details-row {
    overflow: hidden;
    position: relative;
    display: table;
    height: 100%;
    width: 100%;

    .column {
      display: table-cell;
      height: 100%;

      h5 {
        margin: 0;
      }

      .cell {
        width: calc(20% - 3px);
        float: left;
        margin-right: 3px;

        input {
          width: calc(100% - 40px);
        }

        select {
          width: 100%;
        }

      }

      .select-field select {
        margin: 5px 0;
        height: 28px;
        width: 100%;
      }

      .cell:nth-child(2) {
        width: calc(30% - 3px);
      }

      .cell:nth-child(3) {
        width: calc(25% - 3px);
      }

      .cell:nth-child(n+4) {
        width: calc(15% - 3px);
      }
    }

    .column-left {
      width: 80%;
    }

    .column-right {
      width: calc(20% - 10px);
      margin-left: 10px;

      .wrap {
        overflow: hidden;
        height: 100%;
        margin-left: 10px;
        text-align: left;
      }

      textarea {
        width: calc(100% - 12px);
        height: calc(100% - 70px);
        resize: vertical;
        padding: 5px;
        outline: none;
      }

      .input-field input {
        width: calc(100% - 52px);
        background: transparent;
        border: none;
        color: #fff;
        margin: 0 0 0 20px;
        cursor: pointer;
      }

      .input-field.reminder, .input-field.reminderTime {
        padding: 0;
        background: #a6a6a6;
        border: 1px solid #494949;
        position: relative;
        float: left;
        width: calc(50% - 7px);

        ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
          color:    #fff;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color:    #fff;
          opacity:  1;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
          color:    #fff;
          opacity:  1;
        }
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
          color:    #fff;
        }
      }

      .input-field.reminder:before {
        font-family: FontAwesome;
        content: '\f133';
        height: 26px;
        line-height: 26px;
        margin-left: 10px;
        color: #fff;
        position: absolute;
      }

      .input-field.reminderTime:before {
        font-family: FontAwesome;
        content: '\f017';
        height: 26px;
        line-height: 26px;
        margin-left: 10px;
        color: #fff;
        position: absolute;
      }

      .input-field.reminder {
        margin-right: 5px;
      }

      .input-field.reminderTime {
        margin-left: 5px;
      }
    }
  }

  .comment-address {
    .column-left {
      width: 55%;
    }

    .colum-right {
      width: 45%;
    }

    .address-split {
      width: 50%;
    }

    .address-wrap {
      padding-top: 10px;

      .column {
        display: block;
        float: left;

        .input-field input {
          width: 80%;
        }
      }
    }

    .comments {
      vertical-align: top;
    }
  }

  .icon-button {
    background: #617ba8;
    display: inline-block;
    color: #fff;
    width: 16px;
    vertical-align: top;
    height: 16px;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 16px;
    text-align: center;
    font-family: FontAwesome;
    cursor: pointer;
    font-size: 0.9em;
  }

  .icon-button:hover {
    background: #82a3d9;
  }

  .icon-button:before {
    line-height: 15px;
  }

  .icon-button.color:before {
    content: '\f1fc';
    font-size: 0.9em;
  }

  .icon-button.convert:before {
    content: '\f074'
  }

  .icon-button.delete:before {
    content: '\f1f8'
  }

  .icon-button.disabled {
    background: #a0a0a0;
    cursor: default;
  }

  .padding {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .garbage, .arrow {
    color: #222222;
    cursor: pointer;
  }

  .arrow {
    margin-right: 10px;
  }

  .garbage {
    float: right;
    margin-right: 3px;
  }

  .garbage:hover {
    color: #666666;
  }

  /* Quotes and agreements */
  .q-a-wrapper > .col {
    float: left;
    width: 50%;

    .button {
      text-align: center;
      width: 270px;
    }
    .thumbs {
      padding: 0.5em;
      .thumb-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70px;
        padding: 4px;
        border: 1px solid #ccc;
        .thumb {
          font-size: 2.5em;
          margin: 0.1em;
          color: rgb(247, 102, 102);
        }
        .timestamp{
          font-size: 0.7em;
        }
      }
    }
    
  }
</style>
