<template>
    <div class="view" v-if="accountData.id !== 0">
        <div class="row">
            <div class="block-title">
                Patient Film
            </div>
            <div class="block-body">
                <div class="block-body-content">
                    <div class="row">
                        <div class="entry">
                            Patient Film
                        </div>
                        <!-- v-if is to make the select render AFTER model has been setup -->
                        <div class="entry select-field" v-if="!subscription.id">
                            <select v-model="subscription.filmId">
                                <option v-for="film in films" :value="film.id" v-if="!film.hidden">{{ film.name }}</option>
                            </select>
                        </div>
                        <div class="entry" v-else-if="subscription.id">
                            {{ subscription.film.name }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="entry">
                            Start Date
                        </div>
                        <div class="entry input-field">
                            <date-picker v-model="subscription.startDate"></date-picker>
                        </div>
                    </div>
                    <div class="row">
                        <div class="entry">
                            End Date
                        </div>
                        <div class="entry input-field">
                            <date-picker v-model="subscription.endDate"></date-picker>
                        </div>
                    </div>
                    <div class="row" v-if="subscription.id">
                        <div class="entry">
                            Annual Price
                        </div>
                        <div class="entry input-field">
                            <input type="number" v-model.number="subscription.prices.base"/>
                        </div>
                    </div>
                    <div class="row" v-if="subscription.id">
                        <div class="entry">
                            Currency
                        </div>
                        <div class="entry input-field" v-if="subscription.id">
                            <input type="text" v-model="subscription.prices.currency" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="entry">
                            Type
                        </div>
                        <div class="entry select-field">
                            <select v-model="subscription.type">
                                <option value="normal">Normal</option>
                                <option value="trial">Trial</option>
                                <option value="unlimited">Unlimited</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <template v-if="subscription.id">
            <div class="row">
                <div class="block-title">
                    Manage Languages
                </div>
                <div class="block-body">
                    <div class="block-body-content language-block">
                        <div class="row" v-for="(language, key) in subscription.film.languages">
                            <div class="entry">
                                {{ language.language }}
                            </div>
                            <div class="entry input-field">
                                <input type="text" v-model="subscription.film.languages[key].name" />
                                <div class="exit-button" v-on:click="removeLanguage(subscription.film.languages[key].id)"></div>
                            </div>
                            <div class="entry iframe">
                                <input type="text" :value="parseIframeURL(subscription.film.languages[key].name)" disabled="disabled" />
                            </div>
                            <div class="entry iframe">
                              <input type="text" :value="parseEmbedURL(subscription.film.id, subscription.film.languages[key].language) + '</script>'" disabled="disabled" />
                            </div>
                        </div>
                        <div class="row newLanguage">
                            <div class="entry input-field">
                                <input type="text" v-model="newLanguage" maxlength="2" />
                            </div>
                            <div class="entry">
                                <div class="button" v-on:click="appendLanguage">Add Language</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" v-if="subscription.film.languages">
                <upload-board :Languages="Languages" type="subscription" :id="subscription.film.id" :subscriptionId="subscription.id"></upload-board>
            </div>
            <div class="row description" v-if="subscription.film.languages">
                <div class="block-title">
                    Description
                </div>
                <div class="language-block-row">
                    <div class="language-block" v-on:click="selectedLanguage = key" v-for="(language, key) in subscription.film.languages" :class="[selectedLanguage === key ? 'active': '']">{{ language.language }}</div>
                </div>
                <description-edit v-if="subscription.film.languages[selectedLanguage]" v-model="subscription.film.languages[selectedLanguage].description"></description-edit>
            </div>
            <div class="row">
                <div class="block-title">
                    <div>
                        Annual Price
                    </div>
                </div>
                <div class="block-body">
                    <div class="block-body-content">
                        <div class="row">
                            <div class="entry">
                                Price English (EN)
                            </div>
                            <div class="prices input-field">
                                <input type="number" v-model.number="subscription.prices.en" :disabled="!findAvailability('en')" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="entry">
                                Price Swedish (SE)
                            </div>
                            <div class="prices input-field">
                                <input type="number" v-model.number="subscription.prices.se" :disabled="!findAvailability('se')" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="entry">
                                Price Norwegian (NO)
                            </div>
                            <div class="prices input-field">
                                <input type="number" v-model.number="subscription.prices.no" :disabled="!findAvailability('no')" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="entry">
                                Price Finnish (FI)
                            </div>
                            <div class="prices input-field">
                                <input type="number" v-model.number="subscription.prices.fi" :disabled="!findAvailability('fi')" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="entry">
                                Price Persian (FA)
                            </div>
                            <div class="prices input-field">
                                <input type="number" v-model.number="subscription.prices.fa" :disabled="!findAvailability('fa')" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="entry">
                                Price Arabic (AR)
                            </div>
                            <div class="prices input-field">
                                <input type="number" v-model.number="subscription.prices.ar" :disabled="!findAvailability('ar')" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="entry">
                                Price Croatian (HR)
                            </div>
                            <div class="prices input-field">
                                <input type="number" v-model.number="subscription.prices.hr" :disabled="!findAvailability('hr')" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <div class="row" v-if="editAccess">
            <div class="button" v-on:click="updateSubscription()" v-if="subscription.id">Save</div>
            <div class="button" v-on:click="addSubscription()" v-if="!subscription.id">Add</div>
            <div class="button" v-on:click="askQuestion()" v-if="subscription.id">Delete</div>
        </div>
        <question :active="question.active" :question="question.question" :callback="question.callback" v-on:cancelQuestion="hideQuestion()"></question>
        <error :error="errorData"></error>
    </div>
</template>

<script type="application/javascript">
  import auth from '~/lib/auth'
  import loader from '~/components/frame/loader.vue'
  import datePicker from '~/components/generic/datePicker.vue'
  import error from '~/components/frame/error.vue'
  import question from '~/components/frame/question.vue'
  import uploadBoard from '~/components/generic/uploadBoard.vue'
  import descriptionEdit from '~/components/content/libraries/descriptionEdit.vue'
  import moment from 'moment'
  import removeDiactritics from '~/lib/removeDiactritics'

  export default {
    props: [
      'accountData',
      'editAccess'
    ],
    data () {
      return {
        newLanguage: '',
        selectedLanguage: 'en',
        question: {
          active: false,
          question: null,
          callback: null
        },
        films: [],
        errorData: {}
      }
    },
    mounted () {
      if (this.subscription.id === 0) {
        this.getFilms()
      }
    },
    methods: {
      findAvailability (language) {
        if (!this.subscription.film.languages) {
          return false
        }

        return this.subscription.film.languages.find((x) => {
          return x.language === language
        })
      },
      appendLanguage () {
        const that = this
        if (that.newLanguage === '' || that.activatedLanguages.includes(that.newLanguage)) {
            return
        }

        that.$http.post('/api/accounts/subscriptions/' + that.subscription.id + '/binding', {
          filmId: that.subscription.film.id,
          filmLanguage: that.newLanguage
        }, {
          headers: auth.authHeader
        }).then(() => {
          that.newLanguage = ''
          that.$emit('triggerUpdate')
        })
      },
      removeLanguage (id) {
        const that = this
        that.$http.delete('/api/accounts/subscriptions/' + that.subscription.id + '/binding/' + id, {
          headers: auth.authHeader
        }).then(() => {
          that.$emit('triggerUpdate')
        })
      },
      updateSubscription () {
        const that = this
        const request = JSON.parse(JSON.stringify(that.subscription))
        request.film.languages.forEach((x) => {
          delete x.availability
        })
        request.startDate = moment(request.startDate, ['DD MMM YYYY']).unix()
        request.endDate = moment(request.endDate, ['DD MMM YYYY']).unix()

        if (request.startDate && request.endDate) {
          request.months = parseInt(moment.duration({
            seconds: request.endDate - request.startDate
          }).asMonths())
        }

        that.$http.put('/api/accounts/subscription/' + that.subscription.id, request, {
          headers: auth.authHeader
        }).catch((error) => {
          window.console.log(error)
        })
      },
      deleteSubscription () {
        const that = this

        that.$http.delete('/api/accounts/subscription/' + that.subscription.id, {
          headers: auth.authHeader
        }).then((response) => {
          that.$emit('triggerUpdate')
          that.$router.push({ name: 'accountsViewSubscriptions' })
        })
      },
      addSubscription () {
        const that = this
        if (that.subscription.filmId === 0) {
          return
        }

        const request = JSON.parse(JSON.stringify(that.subscription))
        request.startDate = moment(request.startDate, 'DD MMM YYYY').unix()
        request.endDate = moment(request.endDate, 'DD MMM YYYY').unix()
        if (request.startDate && request.endDate) {
          request.months = parseInt(moment.duration({
            seconds: request.endDate - request.startDate
          }).asMonths())
        }
        that.$http.post('/api/accounts/subscription', request, {
          headers: auth.authHeader
        }).then((response) => {
          that.$emit('triggerUpdate')
          const uri = '/accounts/' + that.accountData.id + '/subscriptions/' + response.body.data.id
          that.$router.push(uri)
        })
      },
      // Ask question to question component
      askQuestion () {
        this.question.active = true
        this.question.question = 'delete ' + this.subscription.film.name + ' subscription'
        this.question.callback = this.deleteSubscription
      },
      hideQuestion () {
        let that = this
        that.question.active = false

        setTimeout(function () {
          that.question.question = null
          that.question.callback = null
        }, 1000)
      },
      getFilms () {
        let that = this

        // Start loader when fetching data
        that.$http.get('/api/libraries/films', {
          headers: auth.authHeader
        }).then(
          // Successful response
          (response) => {
            // If given data status is 200, render the page
            if (response.data.status === 200) {
              // With new results, search for old name and if it exist, set that to current country
              if (!response.body.data.films) {
                that.loaderActive = false
                return
              }

              that.films = response.body.data.films
              that.loaderActive = false
              return
            }

            that.errorData = response
          },
          (response) => {
            that.errorData = response
          }
        )
      },
      parseIframeURL (value) {
        const slug = window.encodeURI(removeDiactritics(value.toLowerCase().split(' ').join('-').split('---').join('-')))
        return '<iframe src="https://medfilm.se/' + this.accountData.slug + '/film/' + slug + '/player" height="420"  width="640" scrolling="no" allowfullscreen></iframe>'
      },
      parseEmbedURL (id, lang) {
        // no-useless-escape
        return '<script id="medfilm-player" src="https://medfilm.se/resources/player.js?h=' + this.accountData.slug + '&id=' + id + '&lang=' + lang + '">'
      }
    },
    watch: {},
    computed: {
      subscription () {
        const that = this
        let sub
        if (that.accountData.subscriptions) {
          sub = that.accountData.subscriptions.find((x) => {
            return x.id === parseInt(this.$route.params.sub)
          })
        }

        if (!sub) {
          return {
            id: 0,
            userId: this.accountData.id,
            filmId: 0,
            startDate: moment().format('DD MMM YYYY'),
            endDate: moment().add(1, 'year').add(1, 'day').format('DD MMM YYYY'),
            type: 'normal'
          }
        } else {
          if (moment.unix(sub.startDate).isValid()) {
            sub.startDate = moment.unix(sub.startDate).format('DD MMM YYYY')
          }

          if (moment.unix(sub.endDate).isValid()) {
            sub.endDate = moment.unix(sub.endDate).format('DD MMM YYYY')
          }
        }

        return sub
      },
      activatedLanguages () {
        const that = this
        if (!that.subscription.film || !that.subscription.film.languages) {
          return []
        }

        const result = []
        that.subscription.film.languages.forEach((x) => {
          result.push(x.language)
        })
        return result
      },
      Languages () {
        const that = this
        const result = {}
        if (!that.subscription.film || !that.subscription.film.languages) {
          return result
        }

        that.subscription.film.languages.forEach((x) => {
          result[x.language] = x.availability
        })
        return result
      }
    },
    components: {
      loader,
      datePicker,
      error,
      question,
      uploadBoard,
      descriptionEdit
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
    .iframe {
        float: right !important;

        input {
            width: 700px;
            padding: 5px 15px;
        }
    }

    .row {

        .entry {
            line-height: 40px;
            height: 40px;
        }

        .entry:first-child {
            width: 250px;
        }

        .select-field {
            select {
                width: 284px;
            }
        }
    }

    .table-row {
        cursor: default !important;
    }

    .table-row:hover {
       background: #fff !important;
    }

    .table-row:nth-child(odd) {
        background: #eaeaea !important;
    }

    .block-body-content .row:nth-child(odd) {
        background: #eaeaea;
    }

    .file-version-update {
        float: right;
        cursor: pointer;
        color: #617ba8;
    }

    .file-version-update:hover {
        color: #80a0ce;
    }

    .file-version-update:before {
        font-family: FontAwesome;
        content: '\f021'
    }

    .table-cell {
        height: 16px;
        overflow: hidden;
    }

    .table-row {
        .table-cell:nth-child(1) {
            width: 200px;
            text-align: right;
        }

        .table-cell:nth-child(n+2):nth-child(-n+8) {
            width: 20px;
            text-align: center;
        }

        .table-cell:nth-child(even) {
            background: #dfdfdf;
        }
    }

    .alternative {
        float: left;
        margin-left: 10px;
        height: 40px;
        margin-right: 10px;
        position: relative;
        overflow: hidden;
    }

    .prices {
        display: inline-block;
        margin-left: 20px;
    }

    .table-title {
        overflow: hidden;

        .title {
            width: 215px;
            display: inline-block;
            float: left;
        }

        .language {
            float: left;
            width: 50px;
            display: inline-block;
            text-align: center;
            vertical-align: top;
        }

        .language:nth-child(even) {
            background: #c0c6cf;
        }
    }

    .block-title {
        overflow: hidden;
        div {
            float: left;
            display: inline-block;
        }
    }

    .newLanguage {
        .entry:first-child {
            input {
                width: 20px;
            }
        }

        .button {
            padding: 5px 15px;
            height: auto;
            line-height: normal;
        }
    }

    .exit-button {
        cursor: pointer;
        display: inline-block;
    }

    .exit-button:before {
        font-family: FontAwesome;
        content: '\f00d';
        color: #ff0000;
        font-size: 18px;
        height: 22px;
        width: 22px;
    }

    .description {
        .language-block {
            display: inline-block;
            padding: 4px 25px;
            border: 1px solid #dbe1ea;
            cursor: pointer;
            margin-bottom: 5px;
            margin-left: 5px;
            margin-right: 5px;
        }

        .language-block-row {
            margin-top: 15px;
            margin-bottom: 5px;
        }

        .language-block:hover, .language-block.active {
            background: #dbe1ea;
        }
    }
</style>