<template>
  <div class="view">
    <div class="header">
      <router-link tag="div" to="/libraries" class="backButton"></router-link>
      <h1>{{ category.name }}</h1>
    </div>
    <div class="category" v-if="category">
      <div class="column">
        <div class="row">
          <div class="block-title">
            Available Languages
          </div>
        </div>
        <div class="row">
          <div class="block-body">
            <div class="block-body-content">
              <div class="row" v-for="(language, key) in category.languages">
                <div class="entry">
                  {{ category.languages[key].language }}
                </div>
                <div class="entry input-field">
                  <input type="text" v-model="category.languages[key].name" />
                </div>
              </div>
              <div class="row newLanguage">
                <div class="entry input-field">
                  <input type="text" v-model="newLanguage" maxlength="2" />
                </div>
                <div class="entry input-field">
                  <input type="text" v-model="newText" />
                </div>
                <div class="entry">
                  <div class="button" v-on:click="appendLanguage">Add Language</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="row">
          <div class="block-title">
            Thumbnail
          </div>
        </div>
        <div class="row">
          <div class="block-body">
            <div class="block-body-header">
              Film Logotype
            </div>
            <div class="picture">
              <label for="filmImage">
                <img v-if="category.image" :src="'data:image/png;base64,' + category.image" />
                <img v-else="" src="../../../assets/images/empty-image.png" />
              </label>
              <input type="file" id="filmImage" v-on:change="setImage($event, 'filmBase')"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import auth from '~/lib/auth'
  export default {
    data () {
      return {
        newLanguage: '',
        newText: '',
        errorData: {},
        category: {}
      }
    },
    mounted () {
      const that = this
      that.$http.get('/api/libraries/library/' + that.categoryId, {
        headers: auth.authHeader
      }).then((response) => {
        if (response.data.status === 200) {
          that.category = response.body.data.library
          return
        }
        that.errorData = response
      }, (response) => {
        that.errorData = response
      })
    },
    methods: {
      setImage (event) {
        let that = this

        // Start reader buffer
        let reader = new window.FileReader()

        // Add listener to buffer
        reader.addEventListener('load', function () {
          // Replace old image with new base64, strip the initial characters
          that.category.image = reader.result.substr(reader.result.indexOf(',') + 1)
        }, false)

        // Get data from file
        reader.readAsDataURL(event.target.files[0])
      },
      appendLanguage () {
        const that = this
        that.$http.post('/api/libraries/library/' + that.category.id + '/language', {
          language: that.newLanguage,
          name: that.newText
        }, {
          headers: auth.authHeader
        }).then((response) => {
          that.category.languages.push(response.body.data.language)
          that.newLanguage = ''
          that.newText = ''
        })
      },
      save () {
        const that = this
        that.$http.put('/api/libraries/library/' + that.category.id, {
          library: that.category
        }, {
          headers: auth.authHeader
        }).then((response) => {
          console.log('updated')
        })
      }
    },
    computed: {
      categoryId () {
        return this.$route.params.id
      }
    },
    watch: {
      category: {
        handler () {
          this.save()
        },
        deep: true
      }
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
  .header {
    margin-top: 10px;

    .backButton {
      display: inline-block;
      height: 40px;
      width: 50px;
      border-right: 1px solid #cecece;
      margin-right: 10px;
      cursor: pointer;
    }

    .backButton:before {
      font-family: FontAwesome;
      content: '\f060';
      font-size: 2.5em;
      line-height: 40px;
      color: #617ba8;
    }

    h1 {
      display: inline-block;
      line-height: 40px;
      height: 40px;
      vertical-align: top;
      font-weight: normal;
      font-size: 1.2em;
    }
  }

  .category {
    .column {
      float: left;
      width: calc(50% - 10px);
    }

    .column:first-child {
      margin-right: 10px;
    }

    .column:last-child {
      margin-left: 10px;
    }

    .entry {
      line-height: 30px;
      height: 30px;
    }

    .entry:first-child {
      width: 70px;
      text-align: center;
    }

    .newLanguage {
      .entry:first-child {
        input {
          width: 20px;
        }
      }
    }

    .button {
      margin-left: 10px;
      margin-top: 5px;
      line-height: normal;
    }

    .picture {
      width: 686px;
      height: 300px;

      label {
        display: block;
        height: 300px;
        text-align: center;
        line-height: 300px;
        cursor: pointer;

        img {
          max-height: 100%;
          max-width: 100%;
        }
      }
    }
  }
</style>
