<template>
  <div class="view">
    <div class="header">
      <router-link tag="div" to="/libraries" class="backButton"></router-link>
      <h1>{{ filmName }}</h1>
    </div>
    <div class="category" v-if="film.id">
      <div class="column">
        <div class="row">
          <div class="block-title">
            Available Languages
          </div>
        </div>
        <div class="row">
          <div class="block-body">
            <div class="block-body-content language-block">
              <div class="row" v-for="(language, key) in film.languages">
                <div class="entry">
                  {{ film.languages[key].language }}
                </div>
                <div class="entry input-field">
                  <input type="text" v-model="film.languages[key].name" />
                  <div class="exit-button" v-on:click="removeLanguage(film.languages[key].id)"></div>
                </div>
              </div>
              <div class="row newLanguage">
                <div class="entry input-field">
                  <input type="text" v-model="newLanguage" maxlength="2" />
                </div>
                <div class="entry input-field">
                  <input type="text" v-model="newText" />
                </div>
                <div class="entry">
                  <div class="button" v-on:click="appendLanguage">Add Language</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="row">
          <div class="block-title">
            Film Settings
          </div>
        </div>
        <div class="row">
          <div class="block-body">
            <div class="block-body-content settings-block">
              <div class="row">
                <div class="entry">
                  Available In Public Library?
                </div>
                <div class="entry checkbox-field">
                  <input id="isPublic" type="checkbox" v-on:click="film.isPublic = !film.isPublic" :checked="film.isPublic" />
                  <label for="isPublic" class="approved"></label>
                </div>
              </div>
              <div class="row">
                <div class="entry">
                  Full film available to public?
                </div>
                <div class="entry checkbox-field">
                  <input id="fullPublic" type="checkbox" v-on:click="film.fullPublic = !film.fullPublic" :checked="film.fullPublic" />
                  <label for="fullPublic" class="approved"></label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row clear">
        <upload-board :Languages="Languages" type="film" :id="film.id"></upload-board>
      </div>
      <div class="row description">
        <div class="language-block-row">
          <div class="language-block" v-on:click="selectedLanguage = key" v-for="(language, key) in film.languages" :class="[selectedLanguage === key ? 'active': '']">{{ language.language }}</div>
        </div>
        <description-edit v-if="film" v-model="film.languages[selectedLanguage].description"></description-edit>
      </div>
    </div>
    <loader :loaderActive="loaderActive"></loader>
  </div>
</template>

<script>
  import auth from '~/lib/auth'
  import uploadBoard from '~/components/generic/uploadBoard.vue'
  import Loader from '~/components/frame/loader.vue'
  import descriptionEdit from '~/components/content/libraries/descriptionEdit.vue'
  export default {
    data () {
      return {
        loaderActive: true,
        selectedLanguage: 0,
        newLanguage: '',
        newText: '',
        errorData: {},
        film: {}
      }
    },
    mounted () {
      const that = this
      that.$http.get('/api/libraries/film/' + that.filmId, {
        headers: auth.authHeader
      }).then((response) => {
        that.loaderActive = false
        if (response.data.status === 200) {
          that.film = response.body.data.film
          return
        }
        that.errorData = response
      }, (response) => {
        that.errorData = response
      })
    },
    methods: {
      appendLanguage () {
        const that = this
        that.$http.post('/api/libraries/film/' + that.film.id + '/language', {
          language: that.newLanguage,
          name: that.newText
        }, {
          headers: auth.authHeader
        }).then((response) => {
          that.film.languages.push(response.body.data.language)
          that.newLanguage = ''
          that.newText = ''
        })
      },
      removeLanguage (id) {
        const that = this
        that.$http.delete('/api/libraries/library/' + id + '/language', {
          headers: auth.authHeader
        }).then(() => {
          that.film.languages.splice(that.film.languages.indexOf((x) => {
            return x.id === id
          }), 1)
        })
      },
      save () {
        const that = this
        const request = JSON.parse(JSON.stringify(that.film))
        request.languages.forEach((x, i) => {
          delete request.languages[i].availability
        })

        that.$http.put('/api/libraries/film/' + that.film.id, {
          film: request
        }, {
          headers: auth.authHeader
        }).then((response) => {
          console.log('updated')
        })
      }
    },
    computed: {
      filmId () {
        return this.$route.params.id
      },
      filmName () {
        if (!this.film.languages) {
          return ''
        }
        return this.film.languages.find((x) => {
          return x.language === 'en'
        }).name
      },
      Languages () {
        const that = this
        const result = {}
        if (!that.film.languages) {
          return result
        }

        that.film.languages.forEach((x) => {
          result[x.language] = x.availability
        })
        return result
      }
    },
    watch: {
      film: {
        handler () {
          let that = this
          clearTimeout(that.timeoutId)
          that.timeoutId = setTimeout(function () {
            // Runs 1 second (1000 ms) after the last change
            that.save()
          }, 1000)
        },
        deep: true
      }
    },
    components: {
      uploadBoard,
      Loader,
      descriptionEdit
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
  .header {
    margin-top: 10px;

    .backButton {
      display: inline-block;
      height: 40px;
      width: 50px;
      border-right: 1px solid #cecece;
      margin-right: 10px;
      cursor: pointer;
    }

    .backButton:before {
      font-family: FontAwesome;
      content: '\f060';
      font-size: 2.5em;
      line-height: 40px;
      color: #617ba8;
    }

    h1 {
      display: inline-block;
      line-height: 40px;
      height: 40px;
      vertical-align: top;
      font-weight: normal;
      font-size: 1.2em;
    }
  }

  .category {
    .column {
      float: left;
      width: calc(50% - 10px);
    }

    .clear {
      clear: both;
    }

    .column:first-child {
      margin-right: 10px;
    }

    .column:last-child {
      margin-left: 10px;
    }

    .entry {
      line-height: 30px;
      height: 30px;
    }

    .language-block {
      .entry:first-child {
        width: 70px;
        text-align: center;
      }
    }

    .settings-block {
      .entry:first-child {
        width: 240px;
        text-align: left;
      }
    }

    label {
      margin-top: 0 !important;
      margin-left: 30px;
    }

    .newLanguage {
      .entry:first-child {
        input {
          width: 20px;
        }
      }
    }

    .button {
      margin-left: 10px;
      margin-top: 5px;
      line-height: normal;
    }

    .picture {
      width: 686px;
      height: 300px;

      label {
        display: block;
        height: 300px;
        text-align: center;
        line-height: 300px;
        cursor: pointer;

        img {
          max-height: 100%;
          max-width: 100%;
        }
      }
    }
  }

  .exit-button {
    cursor: pointer;
    display: inline-block;
  }

  .exit-button:before {
    font-family: FontAwesome;
    content: '\f00d';
    color: #ff0000;
    font-size: 18px;
    height: 22px;
    width: 22px;
  }

  .description {
    .language-block {
      display: inline-block;
      padding: 4px 25px;
      border: 1px solid #dbe1ea;
      cursor: pointer;
      margin-bottom: 5px;
      margin-left: 5px;
      margin-right: 5px;
    }

    .language-block-row {
      margin-top: 15px;
      margin-bottom: 5px;
    }

    .language-block:hover, .language-block.active {
      background: #dbe1ea;
    }
  }
</style>
