<template>
  <form @submit="submit" class="form">
    <div class="col">
      <div class="group">
        <h4>Clinic</h4>
        <input v-model="payload.clinic" type="text" pattern="(\w|å|ä|ö)+[ -_\wåäö.]*" required placeholder="Some hospital" title="Some hospital">
      </div>
      <div class="group">
        <h4>Country</h4>
        <!--<input v-model="payload.country" type="text" pattern="[A-Z][a-z]+" required  placeholder="Sweden" title="A country name capitalized in english">-->
        <select v-model="payload.country" required>
          <option value="Sweden">Sweden</option>
          <option value="Norway">Norway</option>
          <option value="Denmark">Denmark</option>
        </select>
      </div>
      <div class="group">
        <h4>Date</h4>
        <input v-model="payload.date" type="date" required>
      </div>
      <div class="group">
        <h4>Booked By</h4>
        <select v-model="payload.booked_by" required>
          <option value="ProToSell">ProToSell</option>
          <option value="MedFilm">MedFilm</option>
        </select>
      </div>
      <div v-if="error" class="group">
        <p class="error">{{error}}</p>
      </div>
    </div>
    <div class="col">
      <div class="group">
        <h4>KAM</h4>
        <!--<input v-model="payload.kam" type="text" pattern="\w+\s\w+" required placeholder="Jane Doe" title="Firstname and lastname">-->
        <select v-model="payload.kam" required>
          <option :value="acc.name" v-for="(acc, i) in accounts" :key="i">{{acc.name}}</option>
        </select>
      </div>
      <div class="group">
        <h4>Comments</h4>
        <textarea v-model="payload.comments" cols="30" rows="10"></textarea>
      </div>
      <div class="group">
        <input type="submit" class="employee-block fill" value="Add">
      </div>
    </div>
  </form>
</template>
<script>
import moment from 'moment'
import auth from '../../../../lib/auth'

export default {
  name: 'add-form',
  data: function () { 
    return {
      payload: {
        clinic: '',
        country: '',
        date: moment().format('L').toString(),
        kam: '',
        comments: '',
        completed: false,
        canceled: false,
        booked_by: 'ProToSell'
      },
      error: false,
      accounts: []
    }
  },
  beforeMount: function () {
    let that = this
    that.$http.get('/api/admin/accounts', {
      headers: auth.authHeader
    }).then(
      (response) => {
        if (response.data.status === 200) {
          that.accounts = response.data.data.result
          return
        }
        that.error = response
      },
      (response) => {
        that.error = response
      }
    )
  },
  methods: {
    submit: function (e) {
      e.preventDefault()
      const data = {
        ...this.payload,
        completed: false,
        moved_to_date: null
      }
      this.$http.post('/api/meeting', data, {
        headers: auth.authHeader
      }).then((res) => {
        console.log(res)
        if (res.body.status === 200) {
          this.$emit('done')
        } else {
          this.error = res.body.message
        }
      }).catch((res) => {
        this.error = res
      })
    }
  }
}
</script>
<style lang="scss" scoped>
@import "./addForm.scss";
</style>
