$medfilmblue_dark: #617ba8;
$medfilmblue_light: #d6e2fb;

form.form {
  display: flex;
  flex-direction: row;

  * {
    display: flex;
  }

  input:not(.employee-block), select {
    padding: 0.3em;
    border: 1px solid #ccc;
    outline: none;
    background: none;
  }

  input:not(.employee-block):valid, select:valid {
    border-color: #6ed179;
  }

  input:not(.employee-block):invalid, select:invalid {
    border-color: #ce656f;
  }

  .col {
    flex-direction: column;
    flex: 1;

    .group {
      flex-direction: column;
      padding: 0.5em 1em;

      h4 {
        font-size: 0.9em;
        color: $medfilmblue_dark;
        margin-bottom: 0.4em;
      }

      textarea {
        resize: none;
      }

      .error {
        color: red;
        font-style: italic;
        font-size: 0.8em;
      }
    }
  }
}