form.form {
  display: flex;
  flex-direction: row;

  .col {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1em;

    .group {
      margin-bottom: 1em;
      .check-row {
        display: flex;
        flex-direction: row;
        align-items: center;

        span.label {
          margin-left: 5px;
          margin-right: 1em;
          font-size: 0.8em;
        }
      }
    }

    textarea {
      resize: none;

      &.changed {
        border-color: rgb(197, 165, 78);
      }
    }
    select {
      border: 1px solid #ccc;
      padding: 0.5em;
      background: none;
    }
    input:not(.employee-block) {
      border: 1px solid #ccc;
      padding: 0.5em;
      font-size: 0.8em;
      height: 1.5em;
      outline: none;
      background: none;
      &.changed {
        border-color: rgb(197, 165, 78);
      }
      &.empty {
        border-color: rgb(151, 52, 52);
      }
    }

    span.pending {
      color: rgb(197, 165, 78);
      font-style: italic;
      font-size: 0.8em;
    }

    span.empty {
      color: rgb(151, 52, 52);
      font-style: italic;
      font-size: 0.8em;
    }
  }
}

.employee-block.fill:disabled {
  background-color: #ddd;
  border-color: #ccc;
}