<template>
  <form class="form" @submit="submit">
    <div class="col">
      <div class="group">
        <h5>Clinic</h5>
        <input :class="classes('clinic')" type="text" v-model="payload.clinic">
        <span class="pending" v-if="classes('clinic').changed">Pending</span>
        <span class="empty" v-if="classes('clinic').empty">Empty</span>
      </div>
      <div class="group">
        <h5>Kam</h5>
        <select v-model="payload.kam" value="">
          <option :value="acc.name" v-for="(acc, i) in accounts" :key="i">{{acc.name}}</option>
        </select>
        <span class="pending" v-if="classes('kam').changed">Pending</span>
        <span class="empty" v-if="classes('kam').empty">Empty</span>
      </div>
      <div class="group">
        <h5>Status</h5>

        <div class="check-row">
          <input :checked="payload.completed" name="status" :class="classes('completed')" type="checkbox" v-model="payload.completed">
          <span class="label">Completed</span>
          <span class="pending" v-if="classes('completed').changed">Pending</span>
        </div>
        <div class="check-row">
          <input :value="true" name="status" :class="classes('canceled')" type="checkbox" v-model="payload.canceled">
          <span class="label">Canceled</span>
          <span class="pending" v-if="classes('canceled').changed">Pending</span>
        </div>

      </div>
    </div>
    <div class="col">
      <div class="group">
        <h5>Date</h5>
        <input :class="classes('date')" type="date" v-model="payload.date">
        <span class="pending" v-if="classes('date').changed">Pending</span>
        <span class="empty" v-if="classes('date').empty">Empty</span>
      </div>
      <div class="group">
        <h5>Comments</h5>
        <textarea :class="classes('comments')" v-model="payload.comments" cols="30" rows="10"></textarea>
        <span class="pending" v-if="classes('comments').changed">Pending</span>
      </div>
      <div class="group">
        <input type="submit" class="employee-block fill" :disabled="!hasPending || hasEmpty" value="Submit">
        <input @click="reset" type="button" class="employee-block fill" :disabled="!hasPending" value="Reset">
      </div>
      <div v-if="error" class="group">
        <p class="error"><i>{{error}}</i></p>
      </div>
    </div>
  </form>
</template>
<script>
import auth from '../../../../lib/auth'
export default {
  name: 'editForm',
  props: ['item'],
  data: function () {
    return {
      payload: {
        clinic: '',
        country: '',
        date: '',
        kam: '',
        comments: '',
        completed: false,
        canceled: false
      },
      error: false,
      accounts: []
    }
  },
  beforeMount: function () {
    let that = this
    that.$http.get('/api/admin/accounts', {
      headers: auth.authHeader
    }).then(
      (response) => {
        if (response.data.status === 200) {
          that.accounts = response.data.data.result
          return
        }
        that.error = response
      },
      (response) => {
        that.error = response
      }
    )
    this.reset()
  },
  methods: {
    submit: function (e) {
      e.preventDefault()
      const { payload } = this
      this.$http.put('/api/meeting', payload, {
        headers: auth.authHeader
      }).then((response) => {
        if (response.body.status === 200) {
          this.$emit('done')
        } else {
          console.log(response)
          this.error = response.body.message
        }
      }, (reason) => {
        console.error(reason)
        this.error = reason
      })
    },
    classes: function (key) {
      const { payload, item } = this
      const changed = payload[key] !== item[key] && payload[key].length !== 0
      const empty = payload[key].length === 0
      return {
        changed,
        empty
      }
    },
    reset: function () {
      const { item, payload } = this
      for (let key in item) {
        payload[key] = item[key]
      }
    }
  },
  computed: {
    hasPending: function () {
      const { payload, classes } = this
      for (let key in payload) {
        if (classes(key).changed) {
          return true
        }
      }
      return false
    },
    hasEmpty: function () {
      const { payload, classes } = this
      for (let key in payload) {
        if (key === 'comments') continue
        if (classes(key).empty) {
          return true
        }
      }
      return false
    }
  },
  watch: {
    'payload.completed': function (val) {
      if (val) this.payload.canceled = false
    },
    'payload.canceled': function (val) {
      if (val) this.payload.completed = false
    }
  }
}
</script>
<style lang="scss" scoped>
@import "./editForm.scss";
</style>
