h2 {
  color: rgb(187, 51, 51);
  text-transform: capitalize;
}
.row, .row-header{
  display: flex;
  padding: 0.5em;
  margin: 0.3em 0;
}
.row {
  font-size: 0.8em;
  border: 1px solid #ccc;
  padding: 0;

  .order {
    flex: 20;
    display: flex;
    flex-direction: row;
  }
  .clickable {
    flex: 20;
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    border-right: 1px solid #ccc;
    cursor: pointer;

    &:hover {
      background-color: #ddd;
    }
  }

  span {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    color: black;
  }

  .completed {
    background-color: #6ed179;
    color: white;
    &:hover {
      background-color: rgb(80, 156, 82);
    }
  }

  .canceled {
    background-color: #ce656f;
    color: white;
    &:hover {
      background-color: rgb(185, 71, 71);
    }
  }
}
.row-header {
  background-color: #a6a6a6;
  span {
    flex: 5;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    color: #fff;

    &::selection {
      background-color: transparent;
    }

    &.active {
      text-decoration: underline;
    }
  }
}
span.small {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: initial;

  .icon-btn {
    border: 1px solid #617ba8;
    width: 1.4em;
    height: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;

    &:hover {
      background-color: #ddd;
    }

    i {
      font-size: 1.3em;
      color: #617ba8;
    }
  }
}

section.info {
  margin: 0.5em;
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .page-prev, .page-next {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    i {
      padding: 3px;
    }
  }
  .page-next {
    justify-content: flex-end;
  }
}
