<template>
  <div class="wrapper">

    <div class="head">
      <section>
        <div @click="addMeetingHidden = !addMeetingHidden" class="employee-block fill">{{addMeetingHidden ? 'Add Meeting' : 'Hide Popup'}}</div>
      </section>
      <section>
        <div 
          class="employee-block"
          @click="targetCountry = c"
          :class="{active: c === targetCountry}" 
          v-for="(c, i) in countries" :key="i">{{c}}</div>
      </section>
      <section class="info">
        <i>{{`Showing ${paged.length} of ${items.length} rows`}}</i>
        <i>{{`Page ${page + 1} of ${Math.ceil(items.length / perPage)}`}}</i>
      </section>
      <section class="info">
        <div class="div">
          <div v-if="page > 0" class="page-prev" @click="page--">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            <i>Previous page</i>
          </div>
        </div>
        <div>
          <div v-if="page + 1 < Math.ceil(items.length / perPage)" class="page-next" @click="page++">
            <i>Next page</i>
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          </div>
        </div>
      </section>
    </div>

    <div class="rows">
      <div class="row-header">
        <div class="order">
          <span style="flex: 1" @click="changeFilter('date')" :class="{active: filter === 'date'}">Date</span>
          <span style="flex: 3" @click="changeFilter('clinic')" :class="{active: filter === 'clinic'}">Clinic</span>
          <span style="flex: 2" @click="changeFilter('booked_by')" :class="{active: filter === 'booked_by'}">Booked By</span>
          <span style="flex: 2" @click="changeFilter('status')" :class="{active: filter === 'status'}">Status</span>
          <span style="flex: 2" @click="changeFilter('kam')" :class="{active: filter === 'kam'}">KAM</span>
        </div>  
        <span class="small" style="background-color: #a6a6a6">Remove</span>
      </div>
      <div class="row" v-for="(x, i) in paged" :key="i">
        <div class="clickable" :class="statusClass(x)" @click="open(x)" >
          <span style="flex: 1">{{x.date}}</span>
          <span style="flex: 3">{{x.clinic}}</span>
          <span style="flex: 2">{{x.booked_by}}</span>
          <span style="flex: 2">{{status(x)}}</span>
          <span style="flex: 2">{{x.kam}}</span>
        </div>
        <span class="small">
          <div @click="remove(x)" class="icon-btn">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </div>
        </span>
      </div>
    </div>

    <!-- Popups -->
    <draggable-popup v-if="!addMeetingHidden" label="Add Meeting" @close="addMeetingHidden = !addMeetingHidden">
      <add-form @done="added"/>
    </draggable-popup>

    <draggable-popup v-for="(x,i) in openCards" :key="i" :label="x.clinic" @close="close(i)">
      <edit-form @done="edited(i)" :item="x"/>
    </draggable-popup>
    <!-- End of Popups -->

  </div>
</template>
<script>
import draggablePopup from '../../../generic/draggablePopup.vue'
import auth from '../../../../lib/auth'
import addForm from './addForm.vue'
import editForm from './editForm.vue'

export default {
  name: 'meetingsIndex',
  data: function () {
    return {
      addMeetingHidden: true,
      targetCountry: 'Sweden',
      rows: [],
      openCards: [],
      filter: 'date',
      order: false,
      page: 0,
      perPage: 50
    }
  },
  beforeMount: function () {
    this.fetch()
  },
  methods: {
    fetch: function () {
      // TESTING
      this.$http.get('/api/meeting', {
        headers: auth.authHeader
      }).then((res) => {
        if (res.body.status === 200) {
          if (res.body.data.meetings) {
            this.rows = res.body.data.meetings
          } else {
            this.rows = []
          }
        }
      }, (reason) => {
        console.error(reason)
      })
    },
    open: function (item) {
      if (this.openCards.indexOf(item) !== -1) return
      this.openCards.push(item)
    },
    close: function (index) {
      this.openCards.splice(index, 1)
    },
    edited: function (index) {
      this.close(index)
      this.fetch()
    },
    added: function () {
      this.addMeetingHidden = true
      this.fetch()
    },
    status: function (item) {
      if (item.completed) return 'Completed'
      else if (item.canceled) return 'Canceled'
      else return 'Planned'
    },
    statusClass: function (item) {
      return {
        completed: item.completed,
        canceled: item.canceled
      }
    },
    changeFilter: function (filter) {
      if (this.filter !== filter) {
        this.filter = filter
      } else {
        this.order = !this.order
      }
    },
    remove: function (item) {
      const status = window.confirm('Are you sure you wish to delete this row?')
      if (status) {
        this.$http.delete(`/api/meeting/${item.id}`, {
          headers: auth.authHeader
        }).then((response) => {
          if (response.body.status === 200) {
            this.fetch()
            this.page = 0
          } else {
            console.error(response)
            window.alert(response.body.message)
          }
        }, (reason) => {
          window.alert(typeof reason === 'string' ? reason : JSON.stringify(reason))
        })
      }
    }
  },
  computed: {
    countries: function () {
      return this.rows.reduce((arr, x) => {
        if (arr.indexOf(x.country) === -1) arr.push(x.country)
        return arr
      }, [])
    },
    items: function () {
      return this.rows.filter((x) => x.country === this.targetCountry)
    },
    filtered: function () {
      const { filter } = this
      if (filter === 'date') {
        if (this.order) return this.items.sort((x, y) => new Date(x.date) - new Date(y.date))
        else return this.items.sort((x, y) => new Date(y.date) - new Date(x.date))
      } else if (filter === 'status') {
        return this.items.sort((x, y) => {
          let _x = 'planned'
          let _y = 'planned'
          if (x.completed) _x = 'completed'
          if (y.completed) _y = 'completed'
          if (x.canceled) _x = 'canceled'
          if (y.canceled) _y = 'canceled'

          if (_x < _y) return this.order ? -1 : 1
          if (_x > _y) return this.order ? 1 : -1
          return 0
        })
      } else {
        return this.items.sort((x, y) => {
          const a = x[filter]
          const b = y[filter]
          if (a < b) return this.order ? -1 : 1
          if (a > b) return this.order ? 1 : -1
          return 0
        })
      }
    },
    paged: function () {
      const { page, perPage } = this
      return this.filtered.length > perPage ? this.filtered.slice(page * perPage, (page * perPage) + perPage) : this.filtered
    }
  },
  components: { 
    draggablePopup,
    addForm,
    editForm
  }
}
</script>
<style lang="scss" scoped>
  @import "./index.scss";
</style>
