<template lang="pug">
    .row
        select.group(@change="updateRow" v-model="row.type" style="flex: 1")
            option(value="Company Car") Company Car
            option(value="Private Car") Private Car
        input.group(@change="updateRow" type="text" v-model="row.date")
        input(@change="updateRow" type="text" v-model="row.travel_route")
        input(@change="updateRow" type="text" v-model="row.errand")
        input.group(@change="updateRow" type="text" v-model="row.mileage_start")
        input.group(@change="updateRow" type="text" v-model="row.mileage_end")
        input.group(type="text" :value="sum()" readonly)
</template>
<script>
import auth from '../../../lib/auth'

export default {
    name: 'drivinglogrow',
    components: {},
    props: ['row'],
    methods: {
        sum: function() {
            const { mileage_end, mileage_start } = this.row
            return mileage_end - mileage_start
        },
        createRow: function() {
            this.$http.post('/api/drivinglog', {
                ...this.row,
                mileage_end: Number.parseInt(this.row.mileage_end),
                mileage_start: Number.parseInt(this.row.mileage_start)
            }, { headers: auth.authHeader }).then(
                (response) => {
                    console.log(response)
                    this.$emit('created')
                },
                (response) => {
                    console.error(response)
                }
                )
        },
        updateRow: function() {
            if (this.row.id === undefined) {
                this.createRow()
                return
            }
            this.$http.put('/api/drivinglog', {
                ...this.row,
                mileage_end: Number.parseInt(this.row.mileage_end),
                mileage_start: Number.parseInt(this.row.mileage_start)
            }, { headers: auth.authHeader }).then(
                (response) => {
                    console.log(response)
                },
                (response) => {
                    console.error(response)
                }
                )
        }
    }
}
</script>
<style lang="scss" scoped>
.row {
    display: flex;
    margin: 0;
    padding-top: 2px;

    input,
    select {
        flex: 2;
        text-align: center;
        background: none;
        background-color: transparent;
        border: none;
        margin: 0;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 0.8em;
        &.group {
            background-color: #f9f9f9;
        }
    }
    select {
        font-size: 0.7em;
    }
}

.row:nth-child(odd) {
    input,
    select {
        background-color: #eaeaea;

        &.group {
            background-color: #d5d5d5;
        }
    }
}
</style>
