<template lang="pug">
  .row
    .box.group(:class="setType")
        input(type="date" readonly v-model="meeting.planned_date")
    .box(:class="setType")
        input(type="text" readonly v-model="meeting.clinic")
    .box(:class="setType")
        input(:disabled="meeting.moved_to_date !== null" @change="update" type="checkbox" v-model="meeting.completed")
    .box.group(:class="setType")
        input(:disabled="meeting.completed" type="date" @change="postpone" v-model="meeting.moved_to_date")
    .box.group(:class="setType")
        input(:disabled="meeting.completed" type="text" @change="update" v-model="meeting.comment")
    .box(:class="setType")
        input(:disabled="meeting.completed" type="text" @change="update" v-model="meeting.kam")
</template>
<script>
import auth from '../../../lib/auth'

export default {
    name: 'meetingsRow',
    props: ['meeting'],
    methods: {
        postpone: function() {
            this.update(() => {
                this.$emit('postpone', {
                    planned_date: this.meeting.moved_to_date,
                    clinic: this.meeting.clinic,
                    kam: this.meeting.kam,
                    completed: false,
                    moved_to_date: null,
                    comment: '',
                    meeting_country_id: this.meeting.meeting_country_id,
                    parent_id: this.meeting.id
                })
            })
        },
        update: function(cb = false) {
            this.$http.put('/api/meeting/', this.meeting, {
                headers: auth.authHeader
            }).then((response) => {
                console.log(response)
                if (response.status === 200 && cb) {
                    cb()
                } else {
                    console.log(response)
                }
            }).catch((response) => {
                response.error(response)
            })
        }
    },
    computed: {
        setType: function() {
            if (this.meeting.moved_to_date !== null) {
                return {
                    postponed: true
                }
            } else if (this.meeting.completed) {
                return {
                    completed: true
                }
            }
        }
    }
}
</script>
<style lang="scss" scoped>
.row {
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    .box {
        padding-top: 4px;
        padding-bottom: 4px;
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        input {
            flex: 1;
            background-color: transparent;
            text-align: center;
            border: none;
            height: 1.2em;
        }
        &.group {
            background-color: #f9f9f9;
        }
        &.postponed {
            background-color: #C65050;
            input {
                color: white;
            }
            &.group {
                background-color: #B84444;
            }
        }
        &.completed {
            input {
                color: white;
            }
            background-color: #42A142;
            &.group {
                background-color: #379437;
            }
        }
    }
    &:nth-child(odd) {
        .box {
            background-color: #eaeaea;
            &.group {
                background-color: #d5d5d5;
            }
            &.postponed {
                background-color: #9C2E2E;
                &.group {
                    background-color: #8E2525;
                }
            }
            &.completed {
                background-color: #247C24;
                &.group {
                    background-color: #1C6F1C;
                }
            }
        }
    }
}
</style>
