<template lang="pug">
  .row
    input.group(@change="updateRow" type="text" placeholder="dd month yyyy" v-model="row.date")
    input(@change="updateRow" style="flex: 3" type="text" placeholder="H/C" v-model="row.hospital")
    input(@change="updateRow" style="flex: 3" type="text" placeholder="Items" v-model="row.items")
    input(@change="updateRow" type="number" placeholder="Order value" v-model="row.order_value")
    input.group(@change="updateRow" type="text" placeholder="Name" v-model="row.kam")
    input.group(type="number" placeholder="10% of order" :value="commission(0.1)" readonly)
    input(@change="updateRow" type="text" placeholder="Name" v-model="row.assist")
    input(Type="number" placeholder="2% of order" :value="commission(0.02)" readonly)
    .paid.group(style="flex: 1")
        i.fa(@click="paid('kam')" :class="{'fa-check green': row.paid.kam,'fa-times red': !row.paid.kam}")
        i.fa(@click="paid('assist')" :class="{'fa-check green': row.paid.assist,'fa-times red': !row.paid.assist}")
</template>
<script>
import auth from '../../../lib/auth'

export default {
    name: 'salescommissionRow',
    props: ['row'],
    methods: {
        commission(percentage) {
            return (this.row.order_value * percentage).toFixed(2)
        },
        paid(target) {
            this.row.paid[target] = !this.row.paid[target]
            this.updateRow()
        },
        createRow() {
            this.$http.post('/api/salescommission', { ...this.row, order_value: Number.parseInt(this.row.order_value) }, {
                headers: auth.authHeader
            }).then(
                (response) => {
                    console.log(response)
                    this.$emit('created')
                },
                (response) => {
                    console.error(response)
                }
                )
        },
        updateRow() {
            if (this.row.id === undefined) {
                this.createRow()
                return
            }
            this.$http.put('/api/salescommission', { ...this.row, order_value: Number.parseInt(this.row.order_value) }, {
                headers: auth.authHeader
            }).then(
                (response) => {
                    console.log(response)
                },
                (response) => {
                    console.error(response)
                }
                )
        }
    }
}
</script>
<style lang="scss" scoped>
.row {
    display: flex;
    margin: 0;
    padding-top: 2px;

    input,
    .paid {
        margin: 0;
        flex: 2;
        text-align: center;
        padding-top: 4px;
        padding-bottom: 4px;

        &.group {
            background-color: #f9f9f9;
        }
    }

    .paid i.fa {
        margin-left: 4px;
        margin-right: 4px;
        cursor: pointer;
    }
    input {
        border: none;
        background-color: transparent;
        border-right: 1px solid right;
    }
}

.red {
    color: red;
}

.green {
    color: green;
}

.row:nth-child(odd) {
    input,
    .paid {
        background-color: #eaeaea;

        &.group {
            background-color: #d5d5d5;
        }
    }
}
</style>
