<template>
    <tr class="table-content-row">
        <td class="td-date">{{data.year+'-'+format(data.month)+'-'+format(data.day)}}</td>
        <td class="td-day"><b :style="{color: isWeekend || localData.type == '3' ? '#ce656f': 'inherit'}">{{dayOfWeek}}</b></td>
        <td class="td-type">

            <select :disabled="userPermission < 2" v-model="localData.type" @change="updateRow">

                <option value="1" v-if="isWeekend">Weekend</option>
                <option value="2" v-if="!isWeekend">Workday</option>
                <option value="3" v-if="!isSunday">Holiday</option>
                <option value="4">Vacation</option>
                <option value="5">Day off</option>
                <option value="6">Sick leave</option>

            </select>
        </td>
        <template v-if="!sevendayspast">
            <td class="td-start"><vuetimepicker
                    v-if="hideType(localData.type)"
                    format="HH:mm"
                    :minute-interval="5"
                    hide-clear-button
                    v-model="localData.start"
                    @change="updateRow">
            </vuetimepicker></td>
            <td class="td-break"><vuetimepicker
                    v-if="hideType(localData.type)"
                    format="HH:mm"
                    :minute-interval="5"
                    hide-clear-button
                    v-model="localData.break"
                    @change="updateRow">
            </vuetimepicker></td>
            <td class="td-end"><vuetimepicker
                    v-if="hideType(localData.type)"
                    format="HH:mm"
                    :minute-interval="5"
                    hide-clear-button
                    v-model="localData.end"
                    @change="updateRow">
            </vuetimepicker></td>
        </template>
        <template v-else>
            <td class="td-start"><input v-if="hideType(localData.type)" class="lockedtime" type="text" readonly :value="localData.start.HH+':'+localData.start.mm"></td>
            <td class="td-break"><input v-if="hideType(localData.type)" class="lockedtime" type="text" readonly :value="localData.break.HH+':'+localData.break.mm"></td>
            <td class="td-end"><input v-if="hideType(localData.type)" class="lockedtime" type="text" readonly :value="localData.end.HH+':'+localData.end.mm"></td>
        </template>

        <td class="td-sum"><input v-if="hideType(localData.type)" :class="checkSum" readonly :value="calcSum"></td>
        <td class="td-notes"><input :readonly="sevendayspast" v-if="localData.type !== '4'" class="input-note" type="text" v-model="localData.note" @keyup="onKeyUp"></td>

    </tr>
</template>
<script>
    import vuetimepicker from 'vue2-timepicker'
    import auth from '~/lib/auth'

    export default {
        data () {
            return {
                userPermission: 0,
                dateObj: null,
                days: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
                sum: '0h 0m',
                sumData: {
                    HH: 0,
                    mm: 0
                },
                localData: null,
                inited: false,
                notesTimer: false,
                initTimer: false
            }
        },
        props: [
            'data'
        ],
        beforeMount () {
            let datestring = `${this.data.year}-${this.data.month}-${this.data.day}`

            this.dateObj = new Date(datestring)
            this.localData = this.data
            this.localData.type = this.localData.type.toString()

            // Reformat for timepicker

            function extractTime (timestr) {
                let h = timestr.split(':')[0]
                let mm = timestr.split(':')[1]
                return {
                    HH: h,
                    mm: mm
                }
            }
            this.localData.end = extractTime(this.data.end)
            this.localData.break = extractTime(this.data.break)
            this.localData.start = extractTime(this.data.start)

            this.userPermission = auth.user.permissions.employees
        },
        updated () {
            let self = this
            if (!this.initTimer) {
                this.initTimer = setTimeout(function () {
                    self.inited = true
                }, 1000)
            }
        },
        methods: {
            updateRow () {
                let self = this

                if (!this.inited) return

                function reformatTime (t) {
                    return `${t.HH}:${t.mm}:00`
                }

                let data = JSON.parse(JSON.stringify(this.localData))
                data.type = parseInt(data.type)

                data.end = reformatTime(this.localData.end)
                data.break = reformatTime(this.localData.break)
                data.start = reformatTime(this.localData.start)

                self.$http.put('/api/employees/timelog/' + this.data.id, data, {
                    headers: auth.authHeader
                })
                    .then(
                        (response) => {
                            this.$emit('updateRow')
                        },
                        (response) => {
                            console.error(response)
                        }
                    )
            },
            onKeyUp (e) {
                let self = this
                if (this.notesTimer) {
                    clearTimeout(this.notesTimer)
                }

                this.notesTimer = setTimeout(function () {
                    self.notesTimer = false
                    self.updateRow()
                }, 500)
            },
            format (str) {
                str = str.toString()
                return str.length === 1 ? `0${str}` : str
            },
            hideType (type) {
                switch (type) {
                    case '4':
                    case '5':
                    case '6':
                        return false
                    default:
                        return true
                }
            }
        },
        computed: {
            dayOfWeek () {
                let datestring = `${this.data.year}-${this.data.month}-${this.data.day}`
                let dateobj = new Date(datestring)

                return this.days[dateobj.getDay()]
            },
            isWeekend () {
                let datestring = `${this.data.year}-${this.data.month}-${this.data.day}`
                let dateobj = new Date(datestring)

                if (dateobj.getDay() === 6 || dateobj.getDay() === 0) return true

                return false
            },
            isSunday () {
                let datestring = `${this.data.year}-${this.data.month}-${this.data.day}`
                let dateobj = new Date(datestring)

                if (dateobj.getDay() === 0) return true

                return false
            },
            sevendayspast () {
                if (auth.user.permissions.employees >= 2) return false

                let datestring = `${this.data.year}-${this.data.month}-${this.data.day}`
                let dateobj = new Date(datestring)
                let now = new Date()

                let timeDiff = Math.abs(now.getTime() - dateobj.getTime())
                let diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24))

                return diffDays > 7
            },
            checkSum () {
                if (this.hideType(this.localData.type)) {
                    if (this.localData.type === '3' || this.localData.type === '1') {
                        return {
                            sum: true,
                            green: this.sumData.HH > 0 || this.sumData.mm > 0
                        }
                    }
                    return {
                        sum: true,
                        red: (this.sumData.HH < 8 && this.sumData.HH !== 0) || (this.sumData.HH < 8 && this.sumData.mm !== 0),
                        green: this.sumData.HH >= 8
                    }
                }
            },
            calcSum () {
                let END = this.localData.end
                let START = this.localData.start
                let BREAK = this.localData.break

                let hours = parseInt(END.HH) - parseInt(START.HH) - parseInt(BREAK.HH)
                let minutes = parseInt(END.mm) - parseInt(START.mm) - parseInt(BREAK.mm)

                while (minutes < 0) {
                    hours--
                    minutes = 60 - Math.abs(minutes)
                }

                this.sumData.mm = minutes
                this.sumData.HH = hours

                if (hours <= 0) {
                    hours = 0
                    minutes = 0
                }

                this.sum = `${hours}h ${minutes}m`
                return this.sum
            },
            checkType () {
                return parseInt(this.localData.type)
            }
        },
        components: {
            vuetimepicker
        }
    }
</script>
<style rel="stylesheet/scss" type="text/css" lang="scss">
    .table-content-row *{
        min-height: 28px;
    }
    select {
        background: none;
        border: none;
    }
    .td-date {
        // background-color: #fff2bf;
        padding-right: 4px;
    }
    .td-start, .td-break, .td-end {
        span.time-picker{
            width: 100px;
            text-align: center;

            input {
                text-align: center;
                max-width: 120px;
            }
        }
    }
    .td-sum {
        text-align: center;
    }
    .sum {
        min-width: 80px;
        max-width: 80px;

        min-height: 26px;
        max-height: 26px;

        padding: 0px;

        text-align:center;
        font-size: 1em;

        border: 1px solid #cdcdcd;

        &.red {
            background-color: #ce656f;
        }
        &.green {
            background-color: #6ed179;
        }
    }
    .td-notes {
        min-width: 200px;
        max-width: 200px;
        width: 200px;
    }
    .input-note {
        min-width: 200px;
        border: 1px solid #cacaca;
    }
    .lockedtime {
        min-width: 118px;
        max-width: 118px;

        min-height: 25px;
        max-height: 25px;

        padding: 0px;

        text-align:center;
        text-decoration: line-through;

        border: 1px solid #cdcdcd;
    }
</style>