<template>
  <details class="rowexpander" :open="new Date().getMonth() + 1 === monthIndex">
    <summary ref="collapse" class="table-month">{{month}}</summary>
    <table class="table">

      <tr class="table-headers-row">
        <th style="text-align: left; padding-left: 10px; font-size: ">Date</th>
        <th style="text-align: left; padding-left: 10px;">Day</th>
        <th style="text-align: left; padding-left: 10px;">Type</th>
        <th>Start</th>
        <th>Lunch</th>
        <th>End</th>
        <th>Sum</th>
        <th style="text-align: left; padding-left: 10px;">Notes</th>
      </tr>

      <template class="time-rows" v-for="(date, index) in dates" >
        <div v-if="isSunday(date)" class="seperator" :key="index + 'x'"></div>
        <timelogRow @updateRow="updateRow()" v-if="hasntPast(date)" :key="index" :data="date"></timelogRow>
        <!-- Render week summary -->
        <timelogWeeksummary v-if="isBeginningOfWeek(date) && hasntPast(date)" :key="index+'weeksummary'" :dates="sortWeekdates(date, index)"/>

        <div v-if="index == dates.length -1" class="seperator" :key="index + 'y'"></div>
      </template>

    </table>
  </details>
</template>
<script>
  import timelogWeeksummary from '../employeesComponent/timelogWeeksummary.vue'
  import timelogRow from '../employeesComponent/timelogRow.vue'
  import auth from '~/lib/auth'

  export default {
      props: [
          'monthIndex',
          'year',
          'data'
      ],
      data () {
          return {
              dates: [],
              monthNames: ['January', 'February', 'Mars', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
              month: ''
          }
      },
      computed: {
          isCurrentMonth () {
              let date = new Date()
              return this.monthNames[date.getMonth() + 1] === this.month
          }
      },
      methods: {
          sortWeekdates (date, index) {
              let sortedDates = []
              let ref = [...this.dates]
              ref.reverse()

              index = ref.indexOf(date)
              sortedDates = ref.slice(index, index + 7)

              for (let i = 0; i < sortedDates.length; i++) {
                let date = sortedDates[i]
                let datestring = `${date.year}-${date.month}-${date.day}`
                let dateobj = new Date(datestring)
                if (dateobj.getDay() === 0) {
                  sortedDates = sortedDates.slice(0, i + 1)
                }
              }

              return sortedDates 
          },
          updateRow () {
              this.$emit('updateRow')
          },
          fetchData () {
              let self = this

              self.$http.get(`/api/employees/timelog/${auth.user.id}/${this.year}/${this.monthIndex}`, {
                  headers: auth.authHeader
              }).then(
                  (response) => {
                      if (response.status === 200) {
                          // Fetch each month
                          this.dates = response.data.data.result
                          this.dates.reverse()
                      }
                  },
                  (response) => {
                      console.error(response)
                  }
              )
          },
          hasntPast (date) {
              let datestring = `${date.year}-${date.month}-${date.day}`
              let dateobj = new Date(datestring)
              let now = new Date()

              return dateobj <= now
          },
          isSunday (date) {
              let datestring = `${date.year}-${date.month}-${date.day}`
              let dateobj = new Date(datestring)
              return dateobj.getDay() === 0
          },
          isBeginningOfWeek (date) {
              let datestring = `${date.year}-${date.month}-${date.day}`
              let dateobj = new Date(datestring)
              return dateobj.getDay() === 1 || date.day === 1
          },
          isWeekend (date) {
              let dateobj = new Date(date)
              return dateobj.getDay() === 0 || dateobj.getDay() === 6
          },
          formatDate (date) {
              let split = date.split('-')

              let year = split[0]
              let month = split[1].length === 2 ? split[1] : '0' + split[1]
              let day = split[2].length === 2 ? split[2] : '0' + split[2]

              return `${year}-${month}-${day}`
          }
      },
      beforeMount () {
          this.month = this.monthNames[parseInt(this.monthIndex) - 1]
          this.fetchData()
      },
      components: {
          timelogRow,
          timelogWeeksummary
      }
  }
</script>
<style rel="stylesheet/scss" type="text/css" lang="scss">
    .rowexpander {
        margin-bottom: 1px;
    }
    .table {
        // border-collapse: collapse;
    }
    th {
        font-style: italic;
        font-weight: 500;
    }
    .table-month {
        background-color: #dbe1ea;
        color: black;
        padding: 5px;
    }
    .seperator {
        margin-top: 1.4em;
    }
    .btn-save {
        padding-right: 1em;
        padding-left: 1em;

        color: white;
        background-color: #4cbf59;

        float: right;
    }
    .table-headers-row {
        background-color: #ddd;
        margin-right: -0.5em;
        border-collapse: collapse;

        th {
            background-color: #ddd;
            text-align: center;
        }
    }
    DETAILS[open] SUMMARY ~ *
    {
        animation: slidedown 1s ease-in-out;
    }

    @keyframes slidedown {
        0% {opacity: 0; margin-top: 0;}
        100% {opacity: 1; margin-top: 0;}
    }
</style>