<template>
  <tr class="summarywrapper">
    <td class="spacer"></td>
    <td class="spacer"></td>
    <td class="spacer"></td>
    <td class="spacer"></td>
    <td class="spacer"></td>
    <td class="spacer"></td>
    <td class="data">{{hoursWorked.toFixed(1)}}h / {{mandatoryDays}}h</td>
  </tr>
</template>
<script>
export default {
  name: 'timelogWeeksummary',
  props: ['dates'],
  computed: {
    mandatoryDays: function () {
      return this.dates.reduce((n, elem) => {
        if (parseInt(elem.type) === 2) n += 8
        return n
      }, 0)
    },
    hoursWorked: function () {
      return this.dates.reduce((n, elem) => {
        if (typeof elem.end === 'string') return n

        const lstart = elem.start
        const lend = elem.end
        const lbreak = elem.break

        let h = parseInt(lend.HH) - parseInt(lbreak.HH) - parseInt(lstart.HH)
        let m = parseInt(lend.mm) - parseInt(lbreak.mm) - parseInt(lstart.mm)

        if (lend.mm === '00' && lend.HH === '00') {
          return n
        }

        n += h + (m / 60)
        
        return n
      }, 0)
    }
  }
}
</script>
<style lang="scss" scoped>
  .data {
    text-align:center;
    font-style: italic;
  }
</style>
