<template lang="pug">
  
    .list-complete-item
        .head(:style="{backgroundColor: item.color}")
            .index(@click="toggle")
                span {{ index + 1 }}
            .label(@click="toggle")
                span {{ item.label }}
            .tools
                span.icon-button.edit(@click="onLabelChange")
                colorpicker.icon-button.color(@setColor="onColorChanged")
                span.icon-button.remove(@click="onDelete")
        .body(v-if="item.isopen" :class="{open: item.open}")
            textarea.content(spellcheck="false" v-model="item.content" @keyup="onContentChanged")
            hr
            .utils-row
                span.icon-button.remove(@click="onDelete")

</template>
<script>

import colorpicker from '../../generic/colorPicker.vue'
import auth from '../../../lib/auth'

export default {
    name: 'todoItem',
    props: ['item', 'index'],
    components: { colorpicker },
    methods: {
        onColorChanged: function(color) {
            this.item.color = color
            this.updateItem()
        },
        toggle: function() {
            this.item.isopen = !this.item.isopen
            this.updateItem()
        },
        onDelete: function() {
            let confirmed = window.confirm('Are you sure you wish to delete todo: "' + this.item.label + '" ?')
            if (confirmed) {
                this.$http.delete('/api/todo/item/' + this.item.id, {
                    headers: auth.authHeader
                }).then(
                    (response) => {
                        console.log(response)
                        if (response.status === 200) {
                            this.$emit('updated')
                        }
                    },
                    (response) => {
                        console.error(response)
                    }
                    )
            }
        },
        updateItem: function(shouldRefetch = true) {
            let item = this.item

            item.open = item.isopen ? 1 : 0

            this.$http.put('/api/todo/item/' + item.id, item, {
                headers: auth.authHeader
            }).then(
                (response) => {
                    console.log(response)
                    if (response.status === 200 && shouldRefetch) {
                        this.$emit('updated')
                    }
                },
                (response) => {
                    console.error(response)
                }
                )
        },
        onContentChanged: function() {
            let self = this
            if (this.item.timer != null) {
                clearTimeout(this.item.timer)
            }
            this.item.timer = setTimeout(() => {
                self.item.timer = null
                self.updateItem(false)
            }, 1000)
        },
        onLabelChange: function() {
            let label = window.prompt('New label: ', this.item.label)
            if (this.item.label !== label && label !== null) {
                this.item.label = label
                this.updateItem()
            }
        }
    }
}
</script>
<style lang="scss" scoped>
.list-complete-item {

    .head {
        display: flex;
        flex-direction: row;
        min-height: 2em;

        .index,
        .label,
        .tools {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .index {
            flex: 1;
            cursor: pointer;
        }
        .label {
            flex: 7;
            cursor: pointer;
            border-right: 1px black solid;
            justify-content: flex-start;

            span {
                padding: 3px;
                text-align:  left;
            }
        }
        .tools {
            flex: 2;
        }
    }
    .body {
        border-top: 1px black solid;

        &.open {
            animation: slide 200ms;
        }
    }
}

@keyframes slide {
    0% {
        opacity: 0;
        margin-top: -5em;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}
</style>