<template>
  <section class="container">
    <div class="row">
      <p>Offerten gäller MedFilms prenumerationstjänst för förmedling av operationsinformation för patienter.</p>
    </div>
    <div class="row">
      <div class="col">
        <span>Kontaktperson:</span>
        <span>Organisation:</span>
      </div>
      <div class="col big">
        <span contenteditable="true" class="field"></span>
        <span contenteditable="true" class="field"></span>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  
}
</script>
<style lang="scss" scoped>
section.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10%;
}
div.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;

  .col {
    display: flex;
    flex-direction: column;
    flex: 1;

    &.big {
      flex: 7;
      margin-left: 20px;
    }
  }

  &.plural {
    justify-content: space-between;
  }

  span {
    &.field {
      border-bottom: 1px solid black;
    }
  }
}
</style>
