<template>
  <header class="container">
    <img class="logo" src="../../../../assets/images/medfilm-logo.png" alt="">
    <h2 class="logo">OFFERT</h2>
  </header>
</template>
<script>
export default {
  methods: {
    renderStyle: function () {
      return ''
    }
  }
}
</script>
<style lang="scss" scoped>
  header.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }
  img.logo {
    width: 30em;
  }
  h2.logo {
    font-size: 2.8em;
  }
</style>
