<template>
  <div id="wrapper" :style="style.wrapper">
    <!-- Logo -->
    <Header />
    <!-- Company info -->
    <company-info />
    <!-- Subscriptions -->
		<Subscriptions />
    <!-- Discounts -->
    <section :style="style.relativeContianer"></section>
    <!-- Other products -->
    <section :style="style.relativeContianer"></section>
    <!-- KAM info -->
    <footer :style="style.relativeContianer"></footer>
  </div>
</template>
<script>
import Header from './header.vue'
import CompanyInfo from './companyinfo.vue'
import Subscriptions from './subscriptions.vue'

export default {
  data: function () {
    return {
      style: {
        relativeContainer: {
          position: 'relative'
        },
        wrapper: {
          width: '258mm',
          height: '368mm',
          margin: '0',
          border: '1px solid black',
          padding: '40px'
        }
      }
    }
  },
  components: {
    Header,
    CompanyInfo,
    Subscriptions
  }
}
</script>
