<template>
  <section>
    <div class="col">
      <h4>Filmprenumerationer</h4>
      <div class="table">
        <div class="table-head">
          <div class="table-cell">Patientfilm</div>
          <div class="table-cell">Pris á film (tkr/mån)</div>
          <div class="table-cell">Sjukhuslicenser</div>
        </div>
        <!-- Subscription Rows -->
        <div class="table-row" v-for="(sub, index) in subscriptions" :key="index">
          <div class="table-cell">{{ sub.patientfilm }}</div>
          <div class="table-cell">{{ sub.priceperfilm }}</div>
          <div class="table-cell">{{ sub.licenses }}</div>
        </div> 
      </div>
    </div>
    <div class="col small">
      <h4>Språkprenumerationer</h4>
      <div class="table">
        <div class="table-head">
          <div class="table-cell">Språk</div>
          <div class="table-cell">Pris á språk (tkr/mån)</div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  data: function () {
    return {
      subscriptions: [
        {
          patientfilm: 'rövsmör',
          priceperfilm: 2.5,
          licenses: 1
        }
      ] 
    }   
  } 
}
</script>
<style lang="scss" scoped>
section {
  display: flex;
  flex-direction: row;
  margin-top: 20px;

  div.col {
    display: flex;
    flex-direction: column;
    flex: 3;

    &.small {
      flex: 2;
    } 

    div.table-cell {
      padding: 0.2em; 
      flex: 1;
    }

    div.table-row {
      display: flex;
      flex-direction: row;
    }

    div.table-head {
      display: flex;
      flex-direction: row;
      color: white;
      background-color: #617ba8;
    }
  }
}
</style>
