<template>
    <div class="view">
        <div class="hospitalName">
            <router-link tag="div" to="/accounts" class="backButton"></router-link>
            <h1>{{ accountData.companyName }}</h1>
        </div>
        <div class="menu">
            <router-link class="button" tag="div" :to="{ name: 'accountsViewSubscriptions', params: { id: accountId }}">Subscriptions</router-link>
            <router-link class="button" tag="div" :to="{ name: 'accountsViewDevices', params: { id: accountId }}">Tablets & TV</router-link>
            <router-link class="button" tag="div" :to="{ name: 'accountsViewStatistics', params: { id: accountId }}">Statistics</router-link>
            <router-link class="button" tag="div" :to="{ name: 'accountsViewAgreements', params: { id: accountId }}">Agreements</router-link>
            <router-link class="button" tag="div" :to="{ name: 'accountsViewChanges', params: { id: accountId }}">Film Content Changes</router-link>
            <router-link class="button" tag="div" :to="{ name: 'accountsViewHistory', params: { id: accountId }}">Customer History</router-link>
            <router-link class="button" tag="div" :to="{ name: 'accountsViewSettings', params: { id: accountId }}">Account Settings</router-link>
            <router-link class="button" tag="div" :to="{ name: 'accountsViewInformation', params: { id: accountId }}">Information</router-link>
        </div>
        <router-view class="row" :accountData="accountData" :editAccess="editAccess" v-on:triggerUpdate="fetchAccount()"></router-view>
        <loader :loaderActive="loaderActive"></loader>
    </div>
</template>

<script>
  import loader from '~/components/frame/loader.vue'
  import auth from '~/lib/auth'
  import error from '~/components/frame/error.vue'
  export default {
    data () {
      return {
        loaderActive: true,
        errorData: {},
        editAccess: false,
        accountId: 0,
        accountData: {
          id: 0,
          username: null,
          companyName: null,
          type: null,
          slug: null,
          sla: false,
          canBrowse: false,
          languages: {
            website: null,
            film: null,
            email: null
          },
          contact: {
            name: null,
            email: null,
            phone: null
          },
          logos: {
            film: null,
            index: null
          },
          messages: {
            filmDescription: {
              se: null,
              en: null,
              ar: null,
              hr: null,
              no: null,
              fi: null,
              fa: null
            },
            indexDescription: {
              se: null,
              en: null,
              ar: null,
              hr: null,
              no: null,
              fi: null,
              fa: null
            }
          },
          numbers: {
            films: 0,
            tablets: 0,
            views: 0,
            expDate: 0,
            sla: false,
            totalPrice: 0
          },
          prospects: [
            {
              id: 0,
              name: null,
              active: null,
              regions: [
                {
                  id: 0,
                  hospital: null,
                  region: 0,
                  clinic: null,
                  categoryName: null,
                  contact: [
                    {
                      id: 0,
                      prospectId: null,
                      name: null,
                      position: null,
                      email: null,
                      phoneFirst: null,
                      phoneSecond: null,
                      updated: null,
                      created: null
                    }
                  ],
                  reminder: null,
                  reminderTime: null,
                  reminderText: null,
                  mainContact: null,
                  refNumber: null,
                  vatNumber: null,
                  regionalOffice: null,
                  phoneFirst: null,
                  phoneSecond: null,
                  addresses: {
                    billing: {
                      id: 0,
                      prospectId: 0,
                      companyFirst: null,
                      companySecond: null,
                      addressFirst: null,
                      addressSecond: null,
                      city: null,
                      postalCode: null,
                      state: null,
                      country: null,
                      updated: null,
                      created: null
                    },
                    visiting: {
                      id: 0,
                      prospectId: 0,
                      companyFirst: null,
                      companySecond: null,
                      addressFirst: null,
                      addressSecond: null,
                      city: null,
                      postalCode: null,
                      state: null,
                      country: null,
                      updated: null,
                      created: null
                    }
                  },
                  accountableId: 0,
                  active: null,
                  accountable: null,
                  colour: null,
                  comments: [

                  ],
                  updated: null,
                  created: null
                }
              ]
            }
          ],
          subscriptions: [
            {
              id: 0,
              userId: 0,
              filmId: 0,
              months: 0,
              startDate: 0,
              endDate: 0,
              accessCode: null,
              filmFileOverride: null,
              views: 0,
              type: null,
              prices: {
                currency: null,
                base: 0,
                en: 0,
                se: 0,
                no: 0,
                fi: 0,
                fa: 0,
                ar: 0,
                hr: 0
              },
              film: {
                id: 4,
                name: '',
                hash: '',
                fileHash: '',
                subjectId: 0,
                isPublic: false,
                fullPublic: false,
                views: 0,
                languages: null,
                created: '',
                updated: ''
              }
            }
          ]
        }
      }
    },
    mounted () {
      this.accountId = parseInt(this.$route.params.id)
      this.fetchAccount()
      if (auth.user.permissions.accounts >= 2) {
        this.editAccess = true
      }
    },
    methods: {
      fetchAccount () {
        let that = this

        // Start loader when fetching data
        that.$http.get('/api/accounts/' + that.accountId, {
          headers: auth.authHeader
        }).then(
          // Successful response
          (response) => {
            // If given data status is 200, render the page
            if (response.data.status === 200) {
              // With new results, search for old name and if it exist, set that to current country
              if (!response.data.data.result) {
                that.accountData = []
                that.loaderActive = false
                return
              }

              that.accountData = response.data.data.result
              that.loaderActive = false
              return
            }

            that.errorData = response
          },
          (response) => {
            that.errorData = response
          }
        )
      }
    },
    components: {
      auth,
      loader,
      error
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
    .hospitalName {
        margin-top: 20px;

        .backButton {
            display: inline-block;
            height: 40px;
            width: 50px;
            border-right: 1px solid #cecece;
            margin-right: 10px;
            cursor: pointer;
        }

        .backButton:before {
            font-family: FontAwesome;
            content: '\f060';
            font-size: 2.5em;
            line-height: 40px;
            color: #617ba8;
        }

        h1 {
            display: inline-block;
            line-height: 40px;
            height: 40px;
            vertical-align: top;
            font-weight: normal;
            font-size: 1.2em;
        }
    }

    .menu {
        margin-top: 10px;

        .button {
            background: #fff;
            color: #000;
            border: 1px solid #dbe1ea;
        }

        .button:hover {
            background: #dbe1ea;
        }

        .router-link-active {
            background: #dbe1ea;
        }
    }
</style>