<template>
  <div class="articleList row">
    <router-link class="button" tag="div" :to="{ name: 'websiteArticle', params: { id: 'new' }}">Add</router-link>
    <div class="table-title">
      {{ title }}
    </div>
    <div class="table">
      <div class="table-header">
        <div class="table-cell">
          Id
        </div>
        <div class="table-cell">
          Title
        </div>
        <div class="table-cell">
          Description
        </div>
        <div class="table-cell">
          Publish Date
        </div>
        <div class="table-cell">
        </div>
      </div>
      <template v-for="article in articles">
        <router-link tag="div" :to="{ name: 'websiteArticle', params: { id: article.id }}" class="table-row">
          <div class="table-cell">
            {{ article.id }}
          </div>
          <div class="table-cell">
            {{ article.title | shorten(60) }}
          </div>
          <div class="table-cell">
            {{ article.description | shorten(70) }}
          </div>
          <div class="table-cell">
            {{ article.created }}
          </div>
          <div class="table-cell">
            <div class="deleteButton" v-on:click.stop="askQuestion(article.id)"></div>
          </div>
        </router-link>
      </template>
    </div>
    <question :active="question.active" :question="question.question" :callback="question.callback" v-on:cancelQuestion="hideQuestion()"></question>
    <loader :loaderActive="loaderActive"></loader>
  </div>
</template>

<script>
  import loader from '~/components/frame/loader.vue'
  import question from '~/components/frame/question.vue'
  import auth from '~/lib/auth'
  export default {
    props: [
      'title',
      'language'
    ],
    data () {
      return {
        articles: [],
        loaderActive: true,

        question: {
          active: false,
          question: '',
          callback: null
        }
      }
    },
    mounted () {
      this.load()
    },
    methods: {
      load () {
        const that = this
        that.loaderActive = true
        that.saved = false

        that.$http.get('/api/website/article/' + that.language + '/' + that.normalizedTitle, {
          headers: auth.authHeader
        }).then(
          // Successful response
          (response) => {
            that.loaderActive = false
            // If given 200 status, request update
            if (response.data.status === 200) {
              that.articles = response.body.data.result
            }
          }
        )
      }
    },
    filters: {
      shorten (string, length) {
        if (!string) {
          return null
        }
        return string.length > length ? string.substring(0, length - 3) + '...' : string
      }
    },
    computed: {
      normalizedTitle () {
        return this.title.replace(' ', '-').toLowerCase()
      }
    },
    watch: {
      'language': {
        handler () {
          this.load()
        }
      },
      'title': {
        handler () {
          this.load()
        }
      }
    },
    components: {
      loader,
      question
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
  .articleList {
    position: relative;
  }

  .button {
    margin-bottom: 10px;
  }

  .table-cell:nth-child(1) {
    width: 50px;
  }

  .table-cell:nth-child(2) {
    width: 400px;
  }

  .table-cell:nth-child(3) {
    width: 500px;
  }

  .table-cell:nth-child(4) {
    width: 150px;
  }

  .table-cell:nth-child(5) {
    width: 20px;
  }

  .deleteButton {
    display: inline;
    color: #ff0000;
  }

  .deleteButton:hover {
    color: #666666;
  }

  .deleteButton:before {
    font-family: FontAwesome;
    content: '\f1f8';
  }
</style>
