<template>
  <div>
    <div class="button" v-on:click="$router.back()">Back</div>
    <div class="row">
      <div class="column">
        <div class="block-title">
          General Info
        </div>
        <div class="block-body">
          <div class="block-body-content">
            <div class="row">
              <div class="entry">
                Title
              </div>
              <div class="entry input-field">
                <input type="text" v-model="article.title" />
              </div>
            </div>
            <div class="row">
              <div class="entry">
                Slug
              </div>
              <div class="entry input-field">
                <input type="text" v-model="article.slug" />
              </div>
            </div>
            <div class="row">
              <div class="entry">
                Date
              </div>
              <div class="entry input-field">
                <input type="datetime" v-model="article.created" placeholder="YYYY-MM-DD hh:mm:ss" />
              </div>
            </div>
            <div class="row">
              <div class="entry">
                Published
              </div>
              <div class="entry checkbox-field">
                <input type="checkbox" id="approved_published" :checked="article.published" v-on:click="article.published = !article.published" />
                <label for="approved_published" class="approved"></label>
              </div>
              <div class="entry checkbox-field">
                <input type="checkbox" id="reject_published" :checked="!article.published" v-on:click="article.published = !article.published" />
                <label for="reject_published" class="rejected"></label>
              </div>
            </div>
          </div>
        </div>
        <div class="block-title">
          Article
        </div>
        <div class="block-body">
          <div class="block-body-header">
            Description
          </div>
          <div class="block-body-content">
            <textarea v-model="article.description"></textarea>
          </div>
          <div class="block-body-header">
            Blurb
          </div>
          <div class="block-body-content">
            <textarea v-model="article.blurb"></textarea>
          </div>
          <div class="block-body-header">
            Article
          </div>
          <div class="block-body-content">
            <textarea v-model="article.text"></textarea>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="block-title">
          Images
        </div>
        <div class="block-body">
          <div class="block-body-header">
            Picture (680x300 pixels)
          </div>
          <div class="picture">
            <label for="headerImage">
              <img v-if="imageSet.header" :src="'data:image/png;base64,' + imageSet.header" />
              <img v-else src="../../../assets/images/empty-image.png" />
            </label>
            <input type="file" id="headerImage" v-on:change="setImage($event, 'header')"/>
          </div>
          <div class="block-body-header">
            Thumbnail (400x300 pixels)
          </div>
          <div class="picture">
            <label for="thumbImage">
              <img v-if="imageSet.thumbnail" :src="'data:image/png;base64,' + imageSet.thumbnail" />
              <img v-else src="../../../assets/images/empty-image.png" />
            </label>
            <input type="file" id="thumbImage" v-on:change="setImage($event, 'thumbnail')"/>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="button" v-on:click="save">Save</div><div class="saved" v-if="saved"></div>
    </div>
  </div>
</template>

<script>
  import auth from '~/lib/auth'
  import moment from 'moment'
  export default {
    props: [
      'title',
      'language'
    ],
    data () {
      return {
        article: {
          id: 0,
          published: true,
          type: '',
          language: '',
          title: '',
          slug: '',
          description: '',
          blurb: '',
          text: '',
          header: '',
          thumbnail: '',
          created: moment().format('YYYY-MM-DD hh:mm:ss'),
          updated: ''
        },
        imageSet: {
          header: '',
          thumbnail: ''
        },
        saved: false
      }
    },
    mounted () {
      this.load()
    },
    methods: {
      setImage (event, text) {
        let that = this

        // Start reader buffer
        let reader = new window.FileReader()

        // Add listener to buffer
        reader.addEventListener('load', function () {
          // Replace old image with new base64, strip the initial characters
          that.imageSet[text] = reader.result.substr(reader.result.indexOf(',') + 1)
        }, false)

        // Get data from file
        reader.readAsDataURL(event.target.files[0])
      },
      load () {
        const that = this
        that.loaderActive = true
        that.saved = false

        if (that.id === 'new') {
          that.loaderActive = false
          return
        }

        window.Promise.all([
          new Promise((resolve, reject) => {
            that.$http.get('/api/website/article/' + that.id, {
              headers: auth.authHeader
            }).then(
              // Successful response
              (response) => {
                // If given 200 status, request update
                if (response.data.status === 200) {
                  that.article = response.body.data.result
                  resolve()
                }
              }
            )
          }),
          new Promise((resolve, reject) => {
            that.$http.get('/api/website/article/imageset/' + that.id, {
              headers: auth.authHeader
            }).then(
              // Successful response
              (response) => {
                // If given 200 status, request update
                if (response.data.status === 200) {
                  that.imageSet = response.body.data.result
                  resolve()
                }
              }
            )
          })
        ]).then(() => {
          that.loaderActive = false
        })
      },
      save () {
        const that = this
        let article = that.article

        if (that.article.created !== '' && !moment(that.article.created, 'YYYY-MM-DD hh:mm:ss').isValid()) {
          window.alert('Date is incorrect')
          return
        }

        if (that.id === 'new') {
          article.type = that.normalizedTitle
          article.language = that.language

          that.$http.post('/api/website/article', {
            article: that.article
          }, {
            headers: auth.authHeader
          }).then(
            // Successful response
            (response) => {
              // If given 200 status, request update
              if (response.data.status === 200) {
                that.article = response.body.data.result

                // Do a new request with imageset based on the new id
                that.$http.post('/api/website/article/imageset/' + that.article.id, {
                  imageSet: that.imageSet
                }, {
                  headers: auth.authHeader
                }).then(
                  // Successful response
                  () => {
                    that.saved = true
                  }
                )
              }
            }
          )
          return
        }

        window.Promise.all([
          new Promise((resolve, reject) => {
            that.$http.post('/api/website/article', {
              article: that.article
            }, {
              headers: auth.authHeader
            }).then(
              // Successful response
              (response) => {
                // If given 200 status, request update
                if (response.data.status === 200) {
                  that.article = response.body.data.result
                  resolve()
                }
              }
            )
          }),
          new Promise((resolve, reject) => {
            that.$http.post('/api/website/article/imageset/' + that.id, {
              imageSet: that.imageSet
            }, {
              headers: auth.authHeader
            }).then(
              // Successful response
              (response) => {
                // If given 200 status, request update
                if (response.data.status === 200) {
                  resolve()
                }
              }
            )
          })
        ]).then(() => {
          that.saved = true
        })
      }
    },
    computed: {
      id () {
        return this.$route.params.id
      },
      normalizedTitle () {
        return this.title.replace(' ', '-').toLowerCase()
      }
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
  .button {
    margin-left: -5px;
  }

  .row {
    overflow: hidden;

    .entry {
      line-height: 30px;
      height: 30px;
    }

    .entry:first-child {
      width: 100px;
    }

    .select-field {
      select {
        width: 282px;
      }
    }

    .input-field input {
      width: 470px;
      margin-top: 0;
      margin-bottom: 0;
    }

    .checkbox-field label {
      margin-top: 0;
      margin-right: 20px;
    }

    textarea {
      width: calc(100% - 20px);
      resize: vertical;
      border: 1px solid #cccccc;
      height: 100px;
      padding: 10px;
      outline: none;
      font-family: 'Open Sans', sans-serif;
      font-size: 1em;
    }

    .picture {
      width: 686px;
      height: 300px;

      label {
        display: block;
        height: 300px;
        text-align: center;
        line-height: 300px;
        cursor: pointer;

        img {
          max-height: 100%;
          max-width: 100%;
        }
      }
    }
  }

  .saved {
    display: inline-block;
    font-size: 1.5em;
    margin-left: 30px;
    height: 30px;
    vertical-align: top;
    color: #008000;
  }

  .button {
    vertical-align: top;
  }

  .saved:before {
    font-family: FontAwesome;
    content: '\f00c';
  }

  .column {
    width: calc(50% - 10px);
    float: left;
  }

  .column:first-child {
    margin-right: 10px;
  }

  .column:last-child {
    margin-left: 10px;
  }
</style>
