<template>
  <div class="row">
    <div class="table-title">
      {{ title }}
    </div>
    <froala :tag="'textarea'" :config="config" v-model="model"></froala>
    <div class="button" v-on:click="save">
      Save
    </div>
    <div class="saved" v-if="saved">Saved!</div>
    <loader :loaderActive="loaderActive"></loader>
  </div>
</template>

<script>
  import FroalaEditor from 'vue-froala-wysiwyg'
  import Loader from '~/components/frame/loader.vue'
  import auth from '~/lib/auth'
  require('froala-editor/js/froala_editor.pkgd.min')
  export default {
    props: [
      'title',
      'language'
    ],
    data () {
      return {
        config: {
          events: {
            'froalaEditor.image.uploaded' (e, editor, response) {
              response = JSON.parse(response)
              editor.image.insert('/api/website/image/' + response.link, null, null, editor.image.get())
              return false
            },
            'froalaEditor.image.error' (e, editor, error, response) {
              // Bad link.
              if (error.code) {
                console.log(error.code)
              }
            }
          },
          htmlAllowedAttrs: ['accept', 'accept-charset', 'accesskey', 'action', 'align', 'alt', 'async', 'autocomplete', 'autofocus', 'autoplay', 'autosave', 'background', 'bgcolor', 'border', 'charset', 'cellpadding', 'cellspacing', 'checked', 'cite', 'class', 'color', 'cols', 'colspan', 'content', 'contenteditable', 'contextmenu', 'controls', 'coords', 'data', 'data-.*', 'datetime', 'default', 'defer', 'dir', 'dirname', 'disabled', 'download', 'draggable', 'dropzone', 'enctype', 'for', 'form', 'formaction', 'headers', 'height', 'hidden', 'high', 'href', 'hreflang', 'http-equiv', 'icon', 'id', 'ismap', 'itemprop', 'keytype', 'kind', 'label', 'lang', 'language', 'list', 'loop', 'low', 'max', 'maxlength', 'media', 'method', 'min', 'multiple', 'name', 'novalidate', 'open', 'optimum', 'pattern', 'ping', 'placeholder', 'poster', 'preload', 'pubdate', 'radiogroup', 'readonly', 'rel', 'required', 'reversed', 'rows', 'rowspan', 'sandbox', 'scope', 'scoped', 'scrolling', 'seamless', 'selected', 'shape', 'size', 'sizes', 'span', 'src', 'srcdoc', 'srclang', 'srcset', 'start', 'step', 'summary', 'spellcheck', 'style', 'tabindex', 'target', 'title', 'type', 'translate', 'usemap', 'value', 'valign', 'width', 'wrap'],
          htmlAllowedEmptyTags: ['table', 'strong', 'br', 'script', 'video', 'embed', 'a', 'td', 'th', 'tr'],
          htmlRemoveTags: [],
          htmlUntouched: true,
          iframe: true,
          fontSize: ['8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '25', '30', '35', '40', '45', '50', '60', '96'],
          htmlAllowedStyleProps: ['font-family', 'font-size', 'background', 'color', 'width', 'text-align', 'vertical-align', 'background-color'],
          htmlAllowedTags: ['a', 'abbr', 'address', 'area', 'article', 'aside', 'audio', 'b', 'base', 'bdi', 'bdo', 'blockquote', 'br', 'button', 'canvas', 'caption', 'cite', 'code', 'col', 'colgroup', 'datalist', 'dd', 'del', 'details', 'dfn', 'dialog', 'div', 'dl', 'dt', 'em', 'embed', 'fieldset', 'figcaption', 'figure', 'footer', 'form', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'header', 'hgroup', 'hr', 'i', 'iframe', 'img', 'input', 'ins', 'kbd', 'keygen', 'label', 'legend', 'li', 'link', 'main', 'map', 'mark', 'menu', 'menuitem', 'meter', 'nav', 'noscript', 'object', 'ol', 'optgroup', 'option', 'output', 'p', 'param', 'pre', 'progress', 'queue', 'rp', 'rt', 'ruby', 's', 'samp', 'script', 'style', 'section', 'select', 'small', 'source', 'span', 'strike', 'strong', 'sub', 'summary', 'sup', 'table', 'tbody', 'td', 'textarea', 'tfoot', 'th', 'thead', 'time', 'title', 'tr', 'track', 'u', 'ul', 'var', 'video', 'wbr'],
          heightMin: 300,
          fullPage: true,
          colorsText: [
            '#61BD6D', '#1ABC9C', '#54ACD2', '#2C82C9', '#9365B8', '#475577', '#CCCCCC',
            '#41A85F', '#00A885', '#3D8EB9', '#2969B0', '#553982', '#28324E', '#000000',
            '#F7DA64', '#FBA026', '#EB6B56', '#E25041', '#A38F84', '#EFEFEF', '#FFFFFF',
            '#acb3bb', '#5b7ea8', '#FAC51C', '#F37934', '#D14841', '#B8312F', '#7C706B',
            '#D1D5D8', '#555555', 'REMOVE'
          ],
          fontFamily: {
            'Open Sans,Arial,sans-serif': 'Open Sans'
          },
          fontFamilyDefaultSelection: 'Open Sans',
          fontFamilySelection: false,
          enter: FroalaEditor.ENTER_BR,
          requestHeaders: {
            'Authorization': auth.authHeader.Authorization
          },
          // Set the image upload parameter.
          imageUploadParam: 'image_param',
          // Set the image upload URL.
          imageUploadURL: '/api/website/image',
          // Set request type.
          imageUploadMethod: 'POST',
          // Set max image size to 5MB.
          imageMaxSize: 5 * 1024 * 1024,
          // Allow to upload PNG and JPG.
          imageAllowedTypes: ['jpeg', 'jpg', 'png']
        },
        model: '',
        loaderActive: true,
        saved: false
      }
    },
    mounted () {
      this.load()
    },
    methods: {
      save () {
        const that = this
        let content = that.model.split('/api/website/image').join('{imgUrl}')
        that.$http.post('/api/website/static/' + that.language + '/' + that.title.toLowerCase(), {
          content: content
        }, {
          headers: auth.authHeader
        }).then(
          // Successful response
          () => {
            that.saved = true
          }
        )
      },
      load () {
        const that = this
        that.loaderActive = true
        that.saved = false

        that.$http.get('/api/website/static/' + that.language + '/' + that.title.toLowerCase(), {
          headers: auth.authHeader
        }).then(
          // Successful response
          (response) => {
            that.loaderActive = false
            // If given 200 status, request update
            if (response.data.status === 200) {
              that.model = response.body.data.content
              that.model = that.model.split('{imgUrl}').join('/api/website/image')
            }
          }
        )
      }
    },
    components: {
      Loader
    },
    watch: {
      'language': {
        handler () {
          this.load()
        }
      },
      'title': {
        handler () {
          this.load()
        }
      }
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss">
  @import "~froala-editor/css/froala_editor.pkgd.min.css";
  @import "~froala-editor/css/froala_style.min.css";
  .button {
    margin-top: 10px;
  }

  .view {
    input[type=file] {
      display: block;
    }
  }

  .saved {
    display: inline-block;
    margin-left: 10px;
    color: #6CB31D;
  }
</style>
