<template>
  <div>
    <textarea v-model="codeBase"></textarea>
    <div class="button" :class="{ saved: saved }" v-on:click="save">Save</div>
  </div>
</template>

<script>
  import auth from '~/lib/auth'
  export default {
    data () {
      return {
        codeBase: null,
        saved: false
      }
    },
    mounted () {
      const that = this
      that.$http.get('/api/website/language', {
        headers: auth.authHeader
      }).then(
        // Successful response
        (response) => {
          that.codeBase = response.body
        }
      )
    },
    methods: {
      save (e) {
        const that = this
        that.$http.put('/api/website/language', that.codeBase, {
          headers: auth.authHeader
        }).then(() => {
          that.saved = true
        })
      }
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
  textarea {
    width: calc(100% - 22px);
    min-height: 700px;
    resize: vertical;
    padding: 10px;
    outline: none;
  }

  .button {
    margin-bottom: 30px;
  }

  .saved:before {
    font-family: FontAwesome;
    content: '\f00c';
    color: #6CB31D;
  }
</style>
