<template>
  <div>
    <div class="drag-container">
      <template v-for="(logo, index) in sortedLogotypes">
        <div class="logotype-container" :data-id="logo.id">
          <div class="drag-icon">

          </div>
          <img :src="'data:image/png;base64,' + logo.logo" />
          <div class="active">
            <span>Active</span><br/>
            <div class="checkbox" :class="{ checked: logo.active }" v-on:click="toggle(index)"></div>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
  import dragula from 'dragula'
  import auth from '~/lib/auth'
  // import loader from '~/components/frame/loader.vue'
  // import error from '~/components/frame/error.vue'
  // import question from '~/components/frame/question.vue'
  import sizzle from 'sizzle'
  // import ccmsButton from '~/components/generic/button.vue'

  export default {
    data () {
      return {
        drake: null,
        logotypes: [],
        timeoutId: null
      }
    },
    mounted () {
      this.fetchLogotypes()

      this.drake = dragula(sizzle('.drag-container', this.$el), {
        isContainer: function (el) {
          return false // only elements in drake.containers will be taken into account
        },
        moves: function (el, source, handle, sibling) {
          return true // elements are always draggable by default
        },
        accepts: function (el, target, source, sibling) {
          return true // elements can be dropped in any of the `containers` by default
        },
        invalid: function (el, handle) {
          return false // don't prevent any drags from initiating by default
        },
        direction: 'vertical',             // Y axis is considered when determining where an element would be dropped
        copy: false,                       // elements are moved by default, not copied
        copySortSource: false,             // elements in copy-source containers can be reordered
        revertOnSpill: false,               // spilling will put the element back where it was dragged from, if this is true
        removeOnSpill: false,              // spilling will `.remove` the element, if this is true
        mirrorContainer: sizzle('.drag-container', this.$el)[0],         // set the element that gets mirror elements appended
        ignoreInputTextSelection: true     // allows users to select input text, see details below
      })

      // When an element is dropped, save it.
      this.drake.on('drop', (el, target) => {
        const id = parseInt(el.attributes['data-id'].value)

        if (!el.previousElementSibling) {
          this.changeOrder(id, 1)
          this.drake.cancel(true)
          return
        }

        this.changeOrder(id, this.logotypes.find((x) => {
          return x.id === parseInt(el.previousElementSibling.attributes['data-id'].value)
        }).order + 1)
        this.drake.cancel(true)
      })
    },
    methods: {
      fetchLogotypes () {
        this.$http.get('/api/website/logotype', {
          headers: auth.authHeader
        }).then((response) => {
          response.body.data.logotypes.data.forEach((x) => {
            this.logotypes.push(x)
          })
        })
      },
      toggle (index) {
        if (this.logotypes[index].active) {
          this.logotypes[index].active = 0
        } else {
          this.logotypes[index].active = 1
        }
      },
      changeOrder (id, order) {
        if (!order || !id) {
          return
        }

        const replaceTarget = this.logotypes.find((x) => {
          return x.order === order
        })

        if (replaceTarget) {
          this.changeOrder(replaceTarget.id, replaceTarget.order + 1)
        }

        this.logotypes.forEach((x, i) => {
          if (x.id === id) {
            this.logotypes[i].order = order
          }
        })
      }
    },
    computed: {
      sortedLogotypes () {
        return this.logotypes.sort((a, b) => {
          if (b.order === null) {
            return -1
          }
          if (a.order === null) {
            return 1
          }
          return (a.order > b.order) ? 1 : ((b.order > a.order) ? -1 : 0)
        })
      }
    },
    watch: {
      logotypes: {
        handler () {
          clearTimeout(this.timeoutId)
          this.timeoutId = setTimeout(() => {
            const logos = []
            this.sortedLogotypes.forEach((x, i) => {
              logos.push({
                id: x.id,
                order: i + 1,
                active: x.active
              })
              this.logotypes.forEach((xy, iy) => {
                if (xy.id === x.id) {
                  this.logotypes[iy].order = i + 1
                }
              })
            })

            this.$http.put('/api/website/logotype', {
              data: logos
            }, {
              headers: auth.authHeader
            })
          }, 500)
        },
        deep: true
      }
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
  @import "~dragula/dist/dragula.css";

  .drag-container {
    padding: 10px;
    border: 1px solid #ccc;

    .logotype-container {
      padding: 10px;
      background: #fbfbfb;
      margin-top: 5px;
      margin-bottom: 5px;
      border: 1px solid #ccc;
      overflow: hidden;

      .drag-icon {
        display: inline-block;
        float: left;
        height: 50px;
        width: 50px;
        margin-right: 20px;
        position: relative;

        &:before {
          content: '\f0c9';
          cursor: pointer;
          font-family: 'FontAwesome';
          font-size: 2em;
          position: absolute;
          color: #ccc;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      img {
        height: 50px;
        display: inline-block;
        float: left;
      }

      .active {
        display: inline-block;
        float: right;
        text-align: center;
        width: 150px;

        .checkbox {
          display: inline-block;
          height: 20px;
          width: 20px;
          border: 1px solid #ccc;
          cursor: pointer;
        }

        .checked:before {
          font-family: 'FontAwesome';
          content: '\f00c';
          color: #6CB31D;
        }
      }
    }
  }
</style>
