<template>
    <div class="row">
        <div v-for="(entry, index) in alternatives" class="block" :class="{ active: selected == index }" v-on:click="select(index)">{{ entry.name }}</div>
    </div>
</template>

<script>
  export default {
    props: [
      'alternatives'
    ],
    data () {
      return {
        selected: ''
      }
    },
    mounted () {
      this.selected = Object.keys(this.alternatives)[0]
      this.$emit('update', this.selected)
    },
    methods: {
      select (val) {
        this.selected = val
        this.$emit('update', this.selected)
      }
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
    .block {
        display: inline-block;
        padding: 4px 25px;
        border: 1px solid #dbe1ea;
        cursor: pointer;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .block:first-child {
        margin-left: 0;
    }

    .block:hover, .block.active {
        background: #dbe1ea;
    }
</style>