<template>
    <div class="wrapper">
        <div class="container">
            <button class="btn-add" @click="openModal()">Add Tablet</button>
            <button class="btn-add" @click="downloadAPK()"> Download APK </button>
            <p v-if="error">{{error}}</p>
            <div class="header">TABLETS ({{tablets != null ? tablets.length : 0}})</div>
            <details class="tablet-row" v-for="(t, i) in tablets" :key="i">
                <summary class="flex">
                    <span class="label">Tablet Name: {{t.tablet.tabletName}}</span>
                    <span class="label">Label: {{t.tablet.tabletName}}</span>
                </summary>
                <div>
                    <div class="info">
                        <h4>Information</h4>
                        <hr>
                        <p>Version: {{t.manifest.version}}</p>
                        <p>Synchronized: Yes</p>
                    </div>
                    <div class="subs">
                        <h4>Subscriptions</h4>
                        <hr>
                        <table>
                            <tr>
                                <th>Film</th>
                                <th style="float:right">Subscribed</th>
                            </tr>
                            <tr v-for="(s, j) in allSubs">
                                <td>{{s.film.name}}</td>
                                <td class="subscribed-icon" @click="isSubscribed(i, s.id) ? deleteSubscription(t.manifest.id, s.id) : addSubscription(t.manifest.id, s.id)" style="float:right">
                                    <span v-if="isPending(i, s.id, t.manifest.id)">PENDING</span>
                                    <i :class="isSubscribed(i, s.id) ? 'fa fa-check green':'fa fa-times red'" aria-hidden="true"></i>
                                </td>
                            </tr>
                        </table>
                        <hr>
                        <div>
                            <button v-if="hasPending(t.manifest.id)" @click="sendChanges(t.manifest.id)" class="btn">Apply</button>
                            <button v-if="hasPending(t.manifest.id)" @click="resetChanges()" class="btn reset">Reset</button>
                        </div>
                    </div>
                </div>
            </details>
        </div>
        <div v-if="modalShown" class="modal-wrapper">
            <div ref="modal" :class="modal">
                <form @submit="submitTablet">
                    <h5>Add Tablet</h5>
                    <span class="spacer"></span>
                    <div>
                        <input ref="input_tablet_name" type="text" class="input-tablet-name" placeholder="Tablet Name" />
                    </div>
                    <span class="spacer"></span>
                    <div>
                        <input type="submit" value="Add" class="form-btn add" />
                        <button role="button" @click="closeModal()" class="form-btn cancel">Cancel</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</template>

<script>
import auth from '~/lib/auth'

export default {
    props: [
        'accountData',
        'editAccess'
    ],
    data() {
        return {
            tablets: [],
            error: false,
            allSubs: [],
            modalShown: false,
            modal: {
                modal: true
            },
            changes: {
                delete: [],
                add: []
            }
        }
    },
    methods: {
        fetchTablets() {
            this.$http.get('/api/devices/tablet/' + this.accountData.id, {
                headers: auth.authHeader
            }).then(
                (response) => {
                    if (response.status === 200) {
                        this.tablets = response.body.data.result
                        this.allSubs = this.accountData.subscriptions
                    }
                },
                (response) => {
                    console.error(response)
                    this.error = response
                }
                )
        },
        downloadAPK() {
            window.open(`/api/devices/tablet/apk?Authorization=${auth.authHeader['Authorization']}&Content-Type=${auth.authHeader['Content-Type']}`, '_blank')
        },
        addSubscription(manifestId, subId) {
            for (let i = 0; i < this.changes.add.length; i++) {
                let c = this.changes.add[i]
                if (c.subscriptionId === subId) {
                    return this.changes.add.splice(i, 1)
                }
            }
            console.log('ADDING SUBSCRIPTION')
            for (let i = 0; i < this.changes.delete.length; i++) {
                let c = this.changes.delete[i]
                if (c.subscriptionId === subId) {
                    this.changes.delete.splice(i, 1)
                    break
                }
            }
            this.changes.add.push({ manifestId: manifestId, subscriptionId: subId })
            console.log(this.changes.add)
        },
        deleteSubscription(manifestId, subId) {
            for (let i = 0; i < this.changes.delete.length; i++) {
                let c = this.changes.delete[i]
                if (c.subscriptionId === subId) {
                    return this.changes.delete.splice(i, 1)
                }
            }
            console.log('DELETING SUBSCRIPTION')
            for (let i = 0; i < this.changes.add.length; i++) {
                let c = this.changes.add[i]
                if (c.subscriptionId === subId) {
                    this.changes.add.splice(i, 1)
                    break
                }
            }
            this.changes.delete.push({ manifestId: manifestId, subscriptionId: subId })
            console.log(this.changes.delete)
        },
        isSubscribed(i, subId) {
            if (this.tablets[i].subscriptions == null) return false
            let res = this.tablets[i].subscriptions.filter((sub) => sub.subscriptionId === subId)
            return res.length !== 0
        },
        isPending(i, subId, mId) {
            let isSubbed = this.isSubscribed(i, subId)
            if (isSubbed) {
                return this.changes.delete.filter((el) => el.subscriptionId === subId && el.manifestId === mId).length !== 0
            } else {
                return this.changes.add.filter((el) => el.subscriptionId === subId && el.manifestId === mId).length !== 0
            }
        },
        hasPending(mId) {
            let hasDelete = this.changes.delete.filter((el) => el.manifestId === mId).length !== 0
            let hasAdd = this.changes.add.filter((el) => el.manifestId === mId).length !== 0

            return hasDelete || hasAdd
        },
        sendChanges(id) {
            // let self = this
            // SHOW LOADER
            // SEND ADDITIONS
            let promises = []

            for (let i = 0; i < this.changes.add.length; i++) {
                let data = this.changes.add[i]
                console.log(data)
                let promise = this.$http.post('/api/devices/manifest/subscription', data, {
                    headers: auth.authHeader
                })
                promises.push(promise)
            }
            // SEND DELETES
            for (let i = 0; i < this.changes.delete.length; i++) {
                let data = this.changes.delete[i]
                let subscriptions = this.tablets.filter((t) => t.manifest.id === data.manifestId)[0].subscriptions
                let id = subscriptions.filter((s) => s.manifestId === data.manifestId && s.subscriptionId === data.subscriptionId)[0].id

                let promise = this.$http.delete('/api/devices/manifest/subscription/' + id, {
                    headers: auth.authHeader
                })
                promises.push(promise)
            }

            Promise.all(promises)
                .then(
                (response) => {
                    console.log('Updated')
                    // UPDATE MANIFEST VERSION
                    this.$http.put('/api/devices/manifest/version/' + id, {}, {
                        headers: auth.authHeader
                    }).then(
                        (response) => {
                            // HIDE LOADER AND FETCH UPDATES
                            this.resetChanges()
                            this.fetchTablets()
                        },
                        (response) => {
                            console.error(response)
                        }
                        )
                },
                (response) => {
                    console.error(response)
                }
                )
        },
        resetChanges() {
            this.changes.delete = []
            this.changes.add = []
        },
        openModal() {
            this.modalShown = true
            this.modal = {
                modal: true,
                in: true
            }
        },
        closeModal() {
            let self = this
            this.modal = {
                modal: true,
                out: true
            }
            setTimeout(function() {
                self.modal = {
                    modal: true
                }
                self.modalShown = false
            }, 500)
        },
        submitTablet(e) {
            e.preventDefault()
            let self = this
            let name = this.$refs['input_tablet_name'].value
            if (name.length === 0) return
            let data = {
                id: 0,
                userId: self.accountData.id,
                tabletName: name,
                token: 'TEMPTOKEN'
            }
            console.log(data)
            this.$http.post('/api/devices/tablet', data, {
                headers: auth.authHeader
            }).then(
                (response) => {
                    this.closeModal()
                    this.fetchTablets()
                },
                (response) => {
                    console.error(response)
                }
                )
        }
    },
    mounted() {
        console.log(auth.authHeader)
        this.fetchTablets()
    }
}
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
.wrapper {
    width: 100vw;
    height: 100vh;
}

.container {
    font-size: 0.8em;
    width: 55%;

    .tablet-row {
        float: left;
        width: 100%;
        margin-bottom: 0.5em;

        summary {
            background-color: #a6a6a6;
            color: white;
            padding: 5px;
            display: flex;

            &::-webkit-details-marker {
                display: none
            }
            &:before {
                border-radius: 5px;
                content: "+";
                color: #fff;
                float: left;
                font-size: 1.5em;
                font-weight: bold;
                margin: -5px 10px 0 0;
                padding: 0;
                padding-top: 2px;
                text-align: center;
                width: 20px;
            }

            span.label {
                display: inline-block;
                flex: 1;
            }
        }
    }
    details[open] summary:before {
        content: "-";
    }
}

hr {
    margin: 0.6em 0 0.6em 0;
}

.info {
    width: 46%;
    height: 100%;
    float: left;
    margin-top: 10px;
    padding-left: 1em;
}

.subs {
    width: 50%;
    float: right;
    padding-left: 0.8em;
    border-left: 1px solid #aaa;
    margin-top: 10px;

    table {
        width: 96%;

        tr:nth-child(even) {
            background: #c9c9c0;
        }

        td {
            padding: 4px;
        }
    }
}

.subscribed-icon {
    width: 90%;
    text-align: right;
}

DETAILS[open] SUMMARY~* {
    animation: sweep .5s ease-in-out;
}

.btn {
    padding: 7px 30px 7px 30px;
    margin-right: 1.3em;

    border: none;
    background-color: #39a25f;
    color: white;

    float: right;

    &.reset {
        background-color: #752019;
    }
}

.red {
    color: #af3121;
}

.green {
    color: #39a25f;
}

.header {
    background-color: #dbe1ea;
    padding: 0.3em;
    padding-left: 0.7em;
    font-size: 1.3em;
    margin-bottom: 4px;
}

.btn-add {
    background-color: #617ba8;
    color: white;

    border: none;

    font-size: 1.3em;
    padding: 0.3em 1.5em 0.3em 1.5em;
    margin-bottom: 0.6em;
}

.modal-wrapper {
    position: absolute;
    display: flex;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .modal {
        width: 200px;
        height: 200px;

        z-index: 100;

        border: 1px solid #ccc;

        margin: auto;
        margin-top: 50px;

        display: flex;

        background-color: white;

        span.spacer {
            margin: 0.5em;
        }

        .form-btn {
            border: none;
            padding: 5px 20px 5px 20px;
        }

        &.in {
            animation: modal-in .5s ease-in-out;
        }
        &.out {
            animation: modal-out .5s ease-in-out;
        }

        form {
            width: 100%;
            height: 50%;

            margin: auto;
            text-align: center;
        }
    }
}


@keyframes modal-in {
    0% {
        transform: translateX(-100%);
        opacity: 0
    }
    100% {
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes modal-out {
    0% {
        transform: translateX(0);
        opacity: 1
    }
    100% {
        transform: translateX(-100%);
        opacity: 0
    }
}

@keyframes sweep {
    0% {
        opacity: 0;
        margin-top: -10px
    }
    100% {
        opacity: 1;
        margin-top: 0
    }
}
</style>