<template>
  <div>
    <template v-for="(country, countryIndex) in accountData.prospects">
      <template v-for="(region, regionIndex) in accountData.prospects[countryIndex].regions">
        <region-table :KAM="KAM" :Categories="Categories" :region="region" :countryIndex="layoutIndex" :shownRegion="true" :regionIndex="regionIndex" v-on:parseError="parseError" v-on:askQuestion="askQuestion" v-on:reload="$emit('triggerUpdate')" searchQuery=""></region-table>
      </template>
    </template>
    <question :active="question.active" :question="question.question" :callback="question.callback" v-on:cancelQuestion="hideQuestion()"></question>
  </div>
</template>

<script>
  import regionTable from '../../prospectsComponent/regionTable.vue'
  import auth from '~/lib/auth'
  import question from '~/components/frame/question.vue'
  import error from '~/components/frame/error.vue'

  export default {
    props: [
      'accountData',
      'editAccess'
    ],
    data () {
      return {
        // Controls country/region buttons
        entries: {
          editAccess: false,
          region: false,
          country: false,
          prospect: false,
          callback: null
        },

        // Controls question when doing an important change
        question: {
          active: false,
          question: null,
          callback: null
        },

        // Local loader is active
        loaderActive: true,

        // Errordata for error message
        errorData: {},

        // Index of selected country
        layoutIndex: 0,

        // Country template (overwritten on fetch)
        countries: [
          {
            id: 0,
            name: null,
            regions: [
              {
                id: 0,
                name: null,
                prospect: [
                  {
                    id: 0,
                    hospital: null,
                    clinic: null,
                    hide: false,
                    categoryName: null,
                    categoryId: null,
                    mainContact: null,
                    refNumber: null,
                    vatNumber: null,
                    phoneFirst: null,
                    phoneSecond: null,
                    addresses: {
                      visiting: {
                        id: 0,
                        prospectId: null,
                        userId: null,
                        type: null,
                        companyFirst: null,
                        companySecond: null,
                        addressFirst: null,
                        addressSecond: null,
                        city: null,
                        postalCode: null,
                        state: null,
                        country: null
                      },
                      billing: {
                        id: 0,
                        prospectId: null,
                        userId: null,
                        type: null,
                        companyFirst: null,
                        companySecond: null,
                        addressFirst: null,
                        addressSecond: null,
                        city: null,
                        postalCode: null,
                        state: null,
                        country: null
                      }
                    },
                    contact: [
                      {
                        name: null,
                        position: null,
                        email: null,
                        phoneFirst: null,
                        phoneSecond: null
                      }
                    ],
                    reminder: null,
                    reminderTime: null,
                    reminderText: null,
                    accountableId: 0,
                    accountable: null,
                    colour: null,
                    regionalOffice: null,
                    comment: [
                      {
                        id: 0,
                        accountable: null,
                        description: null,
                        created: null
                      }
                    ],
                    updated: null,
                    created: null
                  }
                ]
              }
            ]
          }
        ],

        // All possible KAMs
        KAM: [
          {
            id: null,
            name: null
          }
        ],

        // All possible categories
        Categories: [
          {
            id: null,
            name: null
          }
        ],

        shownRegions: {},

        searchQuery: ''
      }
    },
    mounted () {
      if (auth.user.permissions.accounts >= 2) {
        this.entries.editAccess = true
      }
      this.getPreData()
    },
    methods: {
      // Fetch KAM users, this only happens once during mount, otherwise use fetchData to update.
      getPreData () {
        let that = this

        let getKAM = new Promise(function (resolve, reject) {
          that.$http.get('/api/prospects/kam', {
            headers: auth.authHeader
          }).then(
            // Successful response
            (response) => {
              // If given data status is 200, render the page
              if (response.data.status === 200) {
                that.KAM = response.data.data.result
                resolve()
                return
              }

              that.errorData = response
              reject()
            },
            (response) => {
              that.errorData = response
              reject()
            }
          )
        })

        let getCategories = new Promise(function (resolve, reject) {
          that.$http.get('/api/prospects/categories', {
            headers: auth.authHeader
          }).then(
            // Successful response
            (response) => {
              // If given data status is 200, render the page
              if (response.data.status === 200) {
                that.Categories = response.data.data.result
                resolve()
                return
              }

              that.errorData = response
              reject()
            },
            (response) => {
              that.errorData = response
              reject()
            }
          )
        })

        getKAM.then(function () {
          getCategories.then(function () {
            // that.fetchData()
          })
        })
      },
      // Receive error message and assign it value that props to error component
      parseError (error) {
        this.errorData = error
      },
      // Ask question to question component
      askQuestion (question, callback) {
        this.question.active = true
        this.question.question = question
        this.question.callback = callback
      },

      // Remove question asked
      hideQuestion () {
        let that = this
        that.question.active = false

        setTimeout(function () {
          that.question.question = null
          that.question.callback = null
        }, 1000)
      }
    },
    components: {
      regionTable,
      error,
      question
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped></style>
