<template>
  <div class="container">
    <div class="loader" v-if="isPrinting">
      <i class="fa fa-spinner spin" aria-hidden="true"></i>
    </div>
    <div @click="closeQuote()" class="clickableSurface" />
    <i @click="closeQuote()" class="close fa fa-times"></i>
    <div class="wrapper">
      <div class="control-panel">
        <div class="control-btn" @click="save">
          <i class="fa fa-save"></i>
        </div>
      </div>
      <header>
        <div class="logo-wrapper">
          <img src="https://medfilm.se/resources//assets/medfilm-logo.b8826f11.svg">
          <h2>OFFERT</h2>
        </div>
        <p>Offerten gäller MedFilms prenumerationstjänst för förmedling av operationsinformation till patienter.</p>
      </header>

      <section class="info-wrapper">
        <div class="row">
          <div class="key">Kontaktperson</div>
          <div class="value">
            <input type="text" style="width: 300px" v-model="contactPerson">
          </div>
        </div>
        <div class="row">
          <div class="key">Organisation</div>
          <div class="value">{{organisation}}</div>
        </div>
      </section>

      <section class="subscriptions-wrapper">
        <div class="table-3">
          <h3>Filmprenumerationer</h3>
          <div class="table">
            <div class="row header">
              <div class="cell">Patientfilm</div>
              <div class="cell">Pris à film (tkr/mån)</div>
              <div class="cell">Sjukhuslicenser</div>
            </div>
            <div class="row" v-for="(row, index) in subscriptions" :key="'subscription' + index + '3'">
              <div class="cell"><input type="text" v-model="row.name"></div>
              <div class="cell"><input step="0.1" type="number" v-model.number="row.priceFilms"></div>
              <div class="cell"><input type="number" v-model.number="row.licenses"></div>
            </div>

            <div class="row">
              <div class="btn" @click="addSubscription()">
                <i class="fa fa-plus"></i>
                <span>Add Subscription</span>
              </div>
            </div>
          </div>
        </div>
        <div class="table-2">
          <h3>Språkprenumerationer</h3>
          <div class="table">
            <div class="row header">
              <div class="cell">Språk</div>
              <div class="cell">Pris à språk (kr/mån)</div>
            </div>
            <div class="row" v-for="(row, index) in subscriptions" :key="'subscription' + index + '2'">
              <div class="cell">
                <input type="text" v-model="row.languages">
              </div>
              <div class="cell">
                <input type="number" v-model.number="row.priceLanguages">
                <i class="fa fa-trash" @click="removeSubscription(index)"></i>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="discounts-wrapper">

        <div class="row" v-for="(row, index) in discounts" :key="'discount' + index" style="margin: 4px 0">
          <div class="key">
            <input type="text" v-model="row.key">:
          </div>
          <div class="value">
            -{{discountValue(index)}} tkr/mån ({{row.percent*100}}%)
            <i class="fa fa-trash" @click="removeDiscount(index)"></i>
          </div>
        </div>

        <select @change="addDiscount" style="margin: 4px 0">
          <option value="">--Add Discount--</option>
          <option v-for="(discount, index) in defaults.discounts" :key="'discountChoice' + index" :value="index">
            {{discount.key}}
          </option>
        </select>
        <h5>Totalpris, prenumeration (efter avdrag): {{totalPriceAfterReductions()}} tkr/må<nav></nav></h5>
      </section>

      <section class="optionals-wrapper">
        <h3>Tilläggsprodukter</h3>
        <div class="table">
          <div class="row header">
            <div class="cell">Produkt</div>
            <div class="cell">Antal (st)</div>
            <div class="cell">Styckpris (tkr)</div>
            <div class="cell">Pris (tkr)</div>
          </div>

          <div class="row" v-for="(row, index) in optionalProducts" :key="'optional' + index">
            <div class="cell"><input type="text" v-model="row.name"></div>
            <div class="cell"><input type="number" v-model.number="row.amount"></div>
            <div class="cell"><input type="number" v-model.number="row.price"></div>
            <div class="cell">
              {{calculateTotalOptional(index)}}
              <i class="fa fa-trash" @click="removeOptional(index)"></i>
            </div>
          </div>

          <div class="row">
            <div class="btn" @click="addOptional()">
              <i class="fa fa-plus"></i>
              <span>Add Optional</span>
            </div>
          </div>

          <div class="row" v-for="(row, index) in discountsOptional" :key="'discountOptional' + index"  style="justify-content: flex-end; margin: 4px 0">
            <div class="key">
              <input type="text" v-model="row.key">:
            </div>
            <div class="value">
              -{{discountValue(index, "optional")}} tkr/mån ({{row.percent*100}}%)
              <i class="fa fa-trash" @click="removeDiscount(index)"></i>
            </div>
          </div>

          <div class="row" style="justify-content: flex-end; margin: 4px 0">
            <select @change="addDiscountOptional">
              <option value="">--Add Discount--</option>
              <option v-for="(discount, index) in defaults.discounts" :key="'discountChoice' + index" :value="index">
                {{discount.key}}
              </option>
            </select>
          </div>
          <div class="row total">
            <h5>Totalpris, tilläggsprodukter: {{totalSumOptionalsAfterReductions()}} tkr</h5>
          </div>
        </div>
      </section>

      <footer>
        <img :src="kam.photoUrl">
        <div class="info-wrapper">
          <b>{{kam.name}}</b>
          <p>{{kam.role}}</p>
          <br>
          <p>{{kam.phonenumber}}</p>
          <p>{{kam.email}}</p>
        </div>
        <select @change="changeKam">
          <option v-for="(kam, index) in kams" :key="'kam' + index" :value="index">{{kam.name}}</option>
        </select>
      </footer>

    </div>
  </div>
</template>

<script>
import auth from '~/lib/auth.js'
export default {
  name: 'quotes',
  props: ['prospect'],
  data: function () {
    return {
      kams: [
        {
          photoUrl: 'https://medfilm.se/api/v1/image/static//3d053388-9967-40d5-6427-65f8d06a8bab',
          name: 'Percy Werner',
          role: 'Kundansvarig',
          phonenumber: '0708-77 42 95',
          email: 'percy.werner@medfilm.se'
        },
        {
          photoUrl: 'https://medfilm.se/api/v1/image/static//e294082c-1838-492e-5297-c8470bfe8108',
          name: 'Caroline Hansson',
          role: 'Marknadsansvarig',
          phonenumber: '0703-23 48 14',
          email: 'caroline.hansson@medfilm.se'
        }
      ],
      kam: {},
      contactPerson: 'John Doe',
      organisation: 'Does institution of mental health',
      subscriptions: [],
      optionalProducts: [
        {
          name: 'Startpaket',
          amount: 0,
          price: 5.9,
          priceTotal: 0
        },
        {
          name: 'Filmplatta',
          amount: 0,
          price: 4.9,
          priceTotal: 0
        },
        {
          name: 'Väntrums-TV',
          amount: 0,
          price: 19,
          priceTotal: 0
        },
        {
          name: 'Väntrums-TV (endast adapter)',
          amount: 0,
          price: 5.9,
          priceTotal: 0
        },
        {
          name: 'Filmkort (1000st / pkt)',
          amount: 0,
          price: 4.9,
          priceTotal: 0
        },
        {
          name: 'Innehållsjustering (liten)',
          amount: 0,
          price: 3.9,
          priceTotal: 0
        },
        {
          name: 'Innehållsjustering (stor)',
          amount: 0,
          price: 5.9,
          priceTotal: 0
        }
      ],
      discounts: [],
      discountsOptional: [],
      defaults: {
        subscription: {
          name: 'FILM TITLE',
          priceFilms: 1.5,
          licenses: 1,
          languages: '(SE)',
          priceLanguages: 150
        },
        optionalProduct: {
          name: '',
          amount: 0,
          price: 0,
          priceTotal: 0
        },
        discounts: [
          {
            key: 'Prisavdrag - Tre års bindningstid',
            percent: 0.2,
            value: ''
          },
          {
            key: 'Prisavdrag - Mängdrabatt',
            percent: 0.1,
            value: ''
          },
          {
            key: 'Prisavdrag - Mängdrabatt Stor',
            percent: 0.15,
            value: ''
          },
          {
            key: 'Prisavdrag - Nykundsrabatt',
            percent: 0.05,
            value: ''
          }
        ]
      },
      isPrinting: false
    } 
  },
  beforeMount: function () {
    this.kam = this.kams[0]
    this.kams.forEach((kam, i) => {
      if (kam.name.toUpperCase() === this.prospect.accountable.toUpperCase()) {
        this.kam = this.kams[i]
      }
    })
    this.contactPerson = this.prospect.mainContact
    this.organisation = this.prospect.hospital
  },
  methods: {
    closeQuote: function () {
      if (window.confirm('Are you sure you wish to close this quote ? Unsaved changes will be lost.')) {
        this.$emit('close')
      }
    },
    changeKam: function (evt) {
      const index = parseInt(evt.target.value)
      this.kam = this.kams[index]
    },
    addDiscount: function (evt) {
      // Try catch to mute
      try {
        const index = parseInt(evt.target.value)
        this.discounts.push({ ...this.defaults.discounts[index] })
      } catch (e) {}
    },
    addDiscountOptional: function (evt) {
      // Try catch to mute
      try {
        const index = parseInt(evt.target.value)
        this.discountsOptional.push({ ...this.defaults.discounts[index] })
      } catch (e) {}
    },
    removeDiscount: function (index) {
      this.discounts.splice(index, 1)
    },
    addSubscription: function () {
      const sub = { ...this.defaults.subscription }
      this.subscriptions.push(sub)
    },
    removeSubscription: function (index) {
      this.subscriptions.splice(index, 1)
    },
    addOptional: function () {
      const opt = { ...this.defaults.optionalProduct }
      this.optionalProducts.push(opt)
    },
    removeOptional: function (index) {
      this.optionalProducts.splice(index, 1)
    },
    calculateTotalOptional: function (index) {
      const opt = this.optionalProducts[index]
      opt.priceTotal = opt.price * opt.amount
      return opt.priceTotal.toFixed(2)
    },
    calculateSumOptional: function () {
      return this.optionalProducts.reduce((sum, opt) => {
        sum += opt.priceTotal
        return sum
      }, 0).toFixed(2)
    },
    discountValue: function (index, type = 'subscription') {
      let discount, value

      if (type === 'optional') {
         discount = this.discountsOptional[index]
         value = (this.calculateSumOptional() * discount.percent).toFixed(1)
      } 
      else if (type === 'subscription') {
        discount = this.discounts[index]
        value = (this.totalPriceSubscriptions() * discount.percent).toFixed(1)
      }

      discount.value = `-${value} tkr (${discount.percent * 100}%)`

      return value
    },
    assembleData: function () {
      const { kam, contactPerson, organisation, subscriptions, optionalProducts, discounts, discountsOptional } = this
      const obj = { kam, contactPerson, organisation, subscriptions, optionalProducts, discounts, discountsOptional }
      
      obj.totalOptionals = parseFloat(this.totalSumOptionalsAfterReductions())
      obj.totalSubscriptions = parseFloat(this.totalPriceAfterReductions())
      obj.totalOptionalsPreDiscounts = parseFloat(this.calculateSumOptional())
      obj.totalSubscriptionsPreDiscounts = parseFloat(this.totalPriceSubscriptions())

      obj.totals = {}
      obj.totals.licenses = this.subscriptions.reduce((sum, sub) => {
        sum += sub.licenses
        return sum
      }, 0)
      obj.totals.languages = this.subscriptions.reduce((sum, sub) => {
        sum += this.extractNoLanguages(sub)
        return sum
      }, 0)
      obj.totals.pricePerFilm = this.subscriptions.reduce((sum, sub) => {
        sum += sub.priceFilms
        return sum
      }, 0)
      obj.totals.pricePerLanguage = this.subscriptions.reduce((sum, sub) => {
        sum += this.extractNoLanguages(sub) * sub.priceLanguages
        return sum
      }, 0)

      return obj
    },
    save: function () {
      const that = this
      this.isPrinting = true
      this.$http.post('/api/htmltopdf', this.assembleData(), {
        headers: auth.authHeader
      }).then((res) => {
        console.log(res)
        if (res.status !== 200) {
          console.error(res)
          return
        }
        // Decode base64 
        const byteCharacters = window.atob(res.body.data.buffer)
        const byteNumbers = new Array(byteCharacters.length)

        // Save as bytes
        for (var i = 0; i < byteCharacters.length; i++) {
          byteNumbers[i] = byteCharacters.charCodeAt(i)
        }

        // Create blob from byte array
        const byteArray = new Uint8Array(byteNumbers)
        const newblob = new window.Blob([byteArray], {type: 'application/pdf'})

        if (window.navigator && window.navigator.msSaveOrOpenBlob) {
          window.navigator.msSaveOrOpenBlob(newblob)
          return
        }

        const data = window.URL.createObjectURL(newblob)
        const link = document.createElement('a')

        link.href = data
        link.download = 'quote.pdf'
        link.click()

        setTimeout(() => { window.URL.revokeObjectURL(data) }, 100)
        that.isPrinting = false
      }, (reason) => {
        console.error(reason)
      })
    },
    extractNoLanguages: function (sub) {
      const langs = sub.languages.split(',')
      return langs.filter((lang) => {
        return lang !== '(SE)'
      }).length
    },
    totalPriceSubscriptions: function () {
      return this.subscriptions.reduce((sum, sub) => {
        sum += (sub.priceFilms * sub.licenses)
        sum += ((this.extractNoLanguages(sub) * sub.priceLanguages) / 1000) * sub.licenses
        return sum
      }, 0)
    },
    totalPriceAfterReductions: function () {
      const sum = this.totalPriceSubscriptions()
      return this.discounts.reduce((total, discount) => {
        const reduction = sum * discount.percent
        return total - reduction 
      }, sum).toFixed(2)
    },
    totalSumOptionalsAfterReductions: function () {
      const sum = parseFloat(this.calculateSumOptional())
      return this.discountsOptional.reduce((total, discount) => {
        const reduction = sum * discount.percent
        return total - reduction 
      }, sum).toFixed(2)
    }
  }
}
</script>

<style lang="scss" scoped>
  div.container {
    position: fixed;
    display: flex;

    justify-content: center;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.4);

    .loader {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.4);
      z-index: 200;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
          align-self: center;
          font-size: 4em;
          color: white;
          &.spin {
              animation: spin 2s;
              animation-iteration-count: infinite;
          }
      }
      
    }
    @keyframes spin {
        0% {
            transform: rotateZ(0deg);
        }
        50% {
            transform: rotateZ(180deg);
            color: #2F5796;
        }
        100% {
            transform: rotateZ(360deg);
        }
    }

    .clickableSurface {
      position: fixed;

      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      width: 100vw;
      height: 100vh;
    }

    .wrapper {
      position: relative;

      width: 210mm;
      height: 100vh;
      background-color: white;
      font-size: 0.8em;

      .control-panel {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;

        top: 20px;
        right: -100px;
        width: 80px;
        height: 250px;

        background-color: white;
        border: 1px solid black;

        .control-btn {
          border: 1px solid black;
          margin: 10px;
          width: 60px;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            color:#617ba8;
            border:1px solid #617ba8;
          }

          .fa {
            font-size: 4em;
          }
        }
      }

      header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 1em;

        .logo-wrapper {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          img {
            height: 40px;
          }
        }
      }

      .info-wrapper {
        margin-left: 1em;
        margin-right: 1em;
        .row {
          display: flex;
          flex-direction: row;
          .key {
            width: 100px;
          }
          .value {
            flex: 1;
            border-bottom: 1px solid black;
          }
        }
      }
      
      .subscriptions-wrapper {
        display: flex;
        flex-direction: row;
        padding: 1em;

        div[class*="table-"] {
          display: flex;
          flex-direction: column;
        }

        .table-3 {
          flex: 3;
          margin-right: 2px;
        }
        .table-2 {
          flex: 2;
          margin-left: 2px;
        }
      }
      .optionals-wrapper {
        padding: 1em;

        .row.total {
          align-self: flex-end;
        }
      }
      .table {
        display: flex;
        flex-direction: column;
        .row {
          margin: 0;
          padding: 0;
          flex: 1;
          display: flex;
          flex-direction: row;
        }
        .row.header {
          background-color: #617ba8;
          color: white;
        }
        .cell {
          flex: 1 0;
          padding: 2px;
          margin: -1px -1px 0 0;

          display: flex;
          justify-content: space-between;
          align-items: center;

          i {
            font-size: 1.2em;
          }
        }
        .row:not(.header) > .cell {
          border: 1px solid black;
        }
      }

      .discounts-wrapper {
        display: flex;
        flex-direction: column;

        padding: 1em;
        align-items: flex-end;

        .row {
          display: flex;
          flex-direction: row;

          .value {
            width: 150px;
            text-align: right;
          }
        }
      }

      footer {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;

        bottom: 0;
        left: 0;
        right: 0;
        
        border: 1px solid #ccc;
        margin: 1em;
        padding: 1em;

        img {
          width: 80px;
          height: 100px;
        }
        .info-wrapper {
          margin-left: 2em;
        }
      }
    }

    i.fa, .btn {
      cursor: pointer;
      &:hover {
        color: #617ba8;
      }
    }

    input {
      border: none;
      padding: 0;
      margin: 0;
      flex: 1 1;
      width: 100px;
    }

    .key {
      input{
        width: 400px;
        text-align: right;
        padding-right: 4px;
      }
    }

    .close {
      position: fixed;

      top: 0;
      right: 10px;

      font-size: 3em;
      color: rgb(194, 70, 70);
    }
  }
</style>
