<template>
    <div class="view">
        <div class="column">
            <div class="row">
                <div class="block-title">
                    Account
                </div>
                <div class="block-body">
                    <div class="block-body-content">
                        <div class="row">
                            <div class="entry">
                                Username *
                            </div>
                            <div class="entry input-field">
                                <input type="text" v-model="account.username" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="entry">
                                Password
                            </div>
                            <div class="entry input-field">
                                <input type="password" v-model="account.password" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="entry">
                                Repeat Password
                            </div>
                            <div class="entry input-field">
                                <input type="password" v-model="repPassword" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="entry">
                                Account Type *
                            </div>
                            <div class="entry select-field">
                                <select v-model="account.type">
                                    <option v-for="type in accountTypes" :value="type">{{ type }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="entry">
                                Slug *
                            </div>
                            <div class="entry input-field">
                                <input type="text" v-model="account.slug" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="entry">
                                Can Browse Library?
                            </div>
                            <div class="entry checkbox-field">
                                <input type="checkbox" id="approved_canBrowse" :checked="account.browseDatabase" v-on:click="account.browseDatabase = !account.browseDatabase" />
                                <label for="approved_canBrowse" class="approved"></label>
                            </div>
                            <div class="entry checkbox-field">
                                <input type="checkbox" id="reject_canBrowse" :checked="!account.browseDatabase" v-on:click="account.browseDatabase = !account.browseDatabase" />
                                <label for="reject_canBrowse" class="rejected"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="entry">
                                SLA
                            </div>
                            <div class="entry checkbox-field">
                                <input type="checkbox" id="approved_sla" :checked="account.sla" v-on:click="account.sla = !account.sla" />
                                <label for="approved_sla" class="approved"></label>
                            </div>
                            <div class="entry checkbox-field">
                                <input type="checkbox" id="reject_sla" :checked="!account.sla" v-on:click="account.sla = !account.sla" />
                                <label for="reject_sla" class="rejected"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="block-title">
                    Language Presets
                </div>
                <div class="block-body">
                    <div class="block-body-content">
                        <div class="row">
                            <div class="entry">
                                Website Language
                            </div>
                            <div class="entry select-field">
                                <select v-model="account.languages.website">
                                    <option v-for="(language, index) in languages" :value="index">{{ language }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="entry">
                                Film Language
                            </div>
                            <div class="entry select-field">
                                <select v-model="account.languages.film">
                                    <option v-for="(language, index) in languages" :value="index">{{ language }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="entry">
                                E-mail Language
                            </div>
                            <div class="entry select-field">
                                <select v-model="account.languages.email">
                                    <option v-for="(language, index) in languages" :value="index">{{ language }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class="row">
                <div class="block-title">
                    Contact
                </div>
                <div class="block-body">
                    <div class="block-body-content">
                        <div class="row">
                            <div class="entry">
                                Name *
                            </div>
                            <div class="entry input-field">
                                <input type="text" v-model="account.contact.name" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="entry">
                                E-mail
                            </div>
                            <div class="entry input-field">
                                <input type="text" v-model="account.contact.email" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="entry">
                                Phone *
                            </div>
                            <div class="entry input-field">
                                <input type="text" v-model="account.contact.phone" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            -->
            <!--
            <div class="row">
                <div class="block-title">
                    Address
                </div>
                <div class="block-body">
                    <div class="block-body-content">
                        <div class="row">
                            <div class="entry">
                                Company Name
                            </div>
                            <div class="entry input-field">
                                <input type="text" v-model="account.address.companyName" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="entry">
                                Street Address *
                            </div>
                            <div class="entry input-field">
                                <input type="text" v-model="account.address.streetName" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="entry">
                                Postal Code *
                            </div>
                            <div class="entry input-field">
                                <input type="text" v-model="account.address.postalCode" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="entry">
                                City *
                            </div>
                            <div class="entry input-field">
                                <input type="text" v-model="account.address.city" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="entry">
                                Country *
                            </div>
                            <div class="entry input-field">
                                <input type="text" v-model="account.address.country" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="entry">
                                VAT Registration No *
                            </div>
                            <div class="entry input-field">
                                <input type="text" v-model="account.address.vat" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            -->
            <div class="row">
                <div class="block-title">
                    Personal Messages
                </div>
                <div class="block-body">
                    <div class="block-body-header">
                        Film Page
                    </div>
                    <div class="block-body-content">
                        <div class="select-field">
                            <select v-model="selectedLanguage.film">
                                <option v-for="(language, key) in languages" :value="key">{{ language }}</option>
                            </select>
                        </div>
                        <textarea v-model="selectDefaultFilmText"></textarea>
                    </div>
                    <div class="block-body-header">
                        Index Page
                    </div>
                    <div class="block-body-content">
                        <div class="select-field">
                            <div class="select-field">
                                <select v-model="selectedLanguage.index">
                                    <option v-for="(language, key) in languages" :value="key">{{ language }}</option>
                                </select>
                            </div>
                            <textarea v-model="account.messages.indexDescription[selectedLanguage.index]"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="line-height" v-if="editAccess">
                    <div class="button" v-if="account.id" v-on:click="saveAccount()">Save</div>
                    <div class="button" v-if="account.id" v-on:click="askQuestion()">Delete</div>
                    <div class="saved" v-if="saved"></div>
                </div>
                <div class="button" v-if="account.id === 0" v-on:click="insertAccount()">Add</div>
            </div>
        </div>
        <div class="column">
            <div class="row">
                <div class="block-title">
                    Logotypes
                </div>
                <div class="block-body">
                    <div class="block-body-header">
                        Film Logotype
                    </div>
                    <div class="picture">
                        <label for="filmImage">
                            <img v-if="account.logos.filmBase" :src="'data:image/png;base64,' + account.logos.filmBase" />
                            <img v-else="" src="../../../../assets/images/empty-image.png" />
                        </label>
                        <input type="file" id="filmImage" v-on:change="setImage($event, 'filmBase')"/>
                    </div>
                    <div class="block-body-header">
                        Index Page Logotype
                    </div>
                    <div class="picture">
                        <label for="indexImage">
                            <img v-if="account.logos.indexBase" :src="'data:image/png;base64,' + account.logos.indexBase" />
                            <img v-else="" src="../../../../assets/images/empty-image.png" />
                        </label>
                        <input type="file" id="indexImage" v-on:change="setImage($event, 'indexBase')"/>
                    </div>
                </div>
            </div>
        </div>
        <question :active="question.active" :question="question.question" :callback="question.callback" v-on:cancelQuestion="hideQuestion()"></question>
        <error :error="errorData"></error>
    </div>
</template>

<script>
    import auth from '~/lib/auth'
    import error from '~/components/frame/error.vue'
    import question from '~/components/frame/question.vue'
    export default {
    props: [
      'accountData',
      'editAccess'
    ],
    data () {
      return {
        errorData: {},
        saved: false,
        repPassword: '',
        // Controls question when doing an important change
        question: {
          active: false,
          question: null,
          callback: null
        },
        accountTypes: [
          'employee',
          'customer',
          'trial',
          'advisor'
        ],
        languages: {
          en: 'English',
          se: 'Swedish',
          no: 'Norwegian',
          fi: 'Finnish',
          fa: 'Persian',
          ar: 'Arabic',
          hr: 'Croatian'
        },
        selectedLanguage: {
          film: 'en',
          index: 'en'
        },
        originAccountData: {
          id: 0,
          username: null,
          type: null,
          slug: null,
          sla: false,
          browseDatabase: false,
          languages: {
            website: null,
            film: null,
            email: null
          },
          contact: {
            name: null,
            email: null,
            phone: null
          },
          address: {
            companyName: null,
            streetName: null,
            postalCode: null,
            city: null,
            country: null,
            vat: null
          },
          logos: {
            indexBase: null,
            filmBase: null,
            film: null,
            index: null
          },
          messages: {
            filmDescription: {
              se: null,
              en: null,
              ar: null,
              hr: null,
              no: null,
              fi: null,
              fa: null
            },
            indexDescription: {
              se: null,
              en: null,
              ar: null,
              hr: null,
              no: null,
              fi: null,
              fa: null
            }
          },
          numbers: {
            films: 0,
            tablets: 0,
            views: 0,
            expDate: 0,
            sla: false,
            totalPrice: 0
          }
        },
        standardText: {
          film: {
            se: 'Denna film presenteras i samarbete med {company_name} och MedFilm. Var god och titta på filmen nedan för information kring operationen.',
            en: 'This film is provided by {company_name} in co-operation with MedFilm. Please watch the film below for information regarding your operation.',
            no: 'Denne filmen presenteres i samarbeid med {company_name} og MedFilm. Se på filmen nedenfor for å få mer informasjon om operasjonen.',
            fi: 'This film is provided by {company_name} in co-operation with MedFilm. Please watch the film below for information regarding your operation.',
            fa: 'This film is provided by {company_name} in co-operation with MedFilm. Please watch the film below for information regarding your operation.',
            ar: 'This film is provided by {company_name} in co-operation with MedFilm. Please watch the film below for information regarding your operation.',
            hr: 'This film is provided by {company_name} in co-operation with MedFilm. Please watch the film below for information regarding your operation.'
          }
        }
      }
    },
    methods: {
      setImage (event, text) {
        let that = this

        // Start reader buffer
        let reader = new window.FileReader()

        // Add listener to buffer
        reader.addEventListener('load', function () {
          // Replace old image with new base64, strip the initial characters
          that.account.logos[text] = reader.result.substr(reader.result.indexOf(',') + 1)
        }, false)

        // Get data from file
        reader.readAsDataURL(event.target.files[0])
      },
      saveAccount () {
        const account = window.JSON.parse(window.JSON.stringify(this.account))

        if (!this.validateInput()) {
          this.errorData = {
            status: 'Passwords does not match'
          }

          return
        }

        delete account.subscriptions
        delete account.prospects
        delete account.address

        this.$http.put('/api/accounts/' + account.id, account, {
          headers: auth.authHeader
        }).then(
          // Successful response
          (response) => {
            // If given data status is 200, render the page
            if (response.data.status === 200) {
              this.saved = true
              return
            }

            this.errorData = response
          },
          (response) => {
            this.errorData = response
          }
        )
      },
      insertAccount () {
        let that = this

        that.$http.post('/api/accounts', that.account, {
          headers: auth.authHeader
        }).then(
          // Successful response
          (response) => {
            // If given data status is 200, render the page
            if (response.data.status === 200) {
              that.$router.push('/accounts')
              return
            }

            that.errorData = response
          },
          (response) => {
            that.errorData = response
          }
        )
      },
      deleteAccount () {
        let that = this

        that.$http.delete('/api/accounts/' + that.account.id, {
          headers: auth.authHeader
        }).then(
          // Successful response
          (response) => {
            // If given data status is 200, render the page
            if (response.data.status === 200) {
              that.$router.push('/accounts')
              return
            }

            that.errorData = response
          },
          (response) => {
            that.errorData = response
          }
        )
      },
      // Ask question to question component
      askQuestion () {
        this.question.active = true
        this.question.question = 'delete ' + this.account.address.companyName
        this.question.callback = this.deleteAccount
      },

      // Remove question asked
      hideQuestion () {
        let that = this
        that.question.active = false

        setTimeout(function () {
          that.question.question = null
          that.question.callback = null
        }, 1000)
      },
      validateInput () {
        return this.account.password === this.repPassword
      },
      insertCompanyNameInText () {
        return this.standardText.film[this.selectedLanguage.film].replace('{company_name}', this.account.address.companyName)
      }
    },
    computed: {
      account () {
        let account = Object.assign(this.originAccountData, this.accountData)
        account.password = ''
        return account
      },
      selectDefaultFilmText: {
        get () {
          return this.account.messages.filmDescription[this.selectedLanguage.film] ? this.account.messages.filmDescription[this.selectedLanguage.film] : this.insertCompanyNameInText()
        },
        set (value) {
          this.account.messages.filmDescription[this.selectedLanguage.film] = value
        }
      }
    },
    components: {
      error,
      question
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
    input[type=file] {
        display: none;
    }

    .column {
        float: left;
        width: calc(50% - 10px);
    }

    .column:first-child {
        margin-right: 10px;
    }

    .column:last-child {
        margin-left: 10px;
    }

    .row {
        .entry {
            line-height: 30px;
            height: 30px;
        }

        .entry:first-child {
            width: 250px;
        }

        .select-field {
            select {
                width: 282px;
            }
        }

        textarea {
            width: calc(100% - 20px);
            resize: vertical;
            border: 1px solid #cccccc;
            height: 100px;
            padding: 10px;
            outline: none;
        }
    }

    .line-height {
        line-height: 20px;
    }

    .checkbox-field {
        margin-right: 30px;
    }

    .saved {
        display: inline-block;
        height: 20px;
        padding: 3px 15px;
    }

    .saved:before {
        font-family: 'FontAwesome';
        content: '\f00c';
        font-size: 1.5em;
        color: #008000;
    }

    .picture {
        width: 686px;
        height: 300px;

        label {
            display: block;
            height: 300px;
            text-align: center;
            line-height: 300px;
            cursor: pointer;

            img {
                max-height: 100%;
                max-width: 100%;
            }
        }
    }
</style>