<template>
    <div>
        <div class="menu" v-if="editAccess">
            <router-link tag="div" :to="{ name: 'accountsViewSubscriptionsAdd', params: { id: accountData.id }}" class="button">Add Subscription</router-link>
        </div>
        <div class="row" v-if="accountData.subscriptions">
            <div class="table-title">
                <div class="padding">
                    Patient Films ({{ accountData.subscriptions.length }})
                </div>
                <div class="languages padding">
                    Languages ({{ totalLanguages }})
                </div>
                <div class="views padding">
                    Views ({{ calculations().numberFormat(totalViews) }})
                </div>
                <div class="summary padding">
                    Summary
                </div>
            </div>
            <div class="table">
                <div class="table-header">
                    <div class="table-cell">
                        Film name
                    </div>
                    <div class="table-cell">
                        Field
                    </div>
                    <div class="table-cell">
                        Start Date
                    </div>
                    <div class="table-cell">
                        End Date
                    </div>
                    <div class="table-cell">
                        Price
                    </div>
                    <div class="table-cell">
                        EN
                    </div>
                    <div class="table-cell">
                        SE
                    </div>
                    <div class="table-cell">
                        NO
                    </div>
                    <div class="table-cell">
                        FI
                    </div>
                    <div class="table-cell">
                        FA
                    </div>
                    <div class="table-cell">
                        AR
                    </div>
                    <div class="table-cell">
                        HR
                    </div>
                    <div class="table-cell">
                        Web
                    </div>
                    <div class="table-cell">
                        Tablet
                    </div>
                    <div class="table-cell">
                        Total Price
                    </div>
                </div>
                <template v-for="(subscription, index) in accountData.subscriptions">
                    <router-link tag="div" :to="{ name: 'accountsViewSubscriptionsEdit', params: { id: accountData.id, sub: subscription.id }}" class="table-row">
                        <div class="table-cell">
                            {{ calculations().shorten(subscription.film.name, 40) }}
                        </div>
                        <div class="table-cell">
                            {{ subscription.categoryName }}
                        </div>
                        <div class="table-cell">
                            {{ calculations().convertTimestamp(subscription.startDate) }}
                        </div>
                        <div class="table-cell">
                            {{ calculations().convertTimestamp(subscription.endDate) }}
                        </div>
                        <div class="table-cell">
                            {{ calculations().getPrice(subscription, 'base') }}
                        </div>
                        <div class="table-cell">
                            {{ calculations().getPrice(subscription, 'en') }}
                        </div>
                        <div class="table-cell">
                            {{ calculations().getPrice(subscription, 'se') }}
                        </div>
                        <div class="table-cell">
                            {{ calculations().getPrice(subscription, 'no') }}
                        </div>
                        <div class="table-cell">
                            {{ calculations().getPrice(subscription, 'fi') }}
                        </div>
                        <div class="table-cell">
                            {{ calculations().getPrice(subscription, 'fa') }}
                        </div>
                        <div class="table-cell">
                            {{ calculations().getPrice(subscription, 'ar') }}
                        </div>
                        <div class="table-cell">
                            {{ calculations().getPrice(subscription, 'hr') }}
                        </div>
                        <div class="table-cell">
                            {{ calculations().numberFormat(subscription.views) }}
                        </div>
                        <div class="table-cell">
                            N/A
                        </div>
                        <div class="table-cell">
                            {{ calculations().calculateTotalPrice(subscription, subscription.prices) }} {{ subscription.prices.currency }}
                        </div>
                    </router-link>
                </template>
            </div>
        </div>
        <div class="row" v-else="">
            No active subscriptions
        </div>
    </div>
</template>

<script>
  import moment from 'moment'
  export default {
    props: [
      'accountData',
      'editAccess'
    ],
    methods: {
      calculations () {
        return {
          shorten (string, length) {
            if (!string) {
              return null
            }
            return string.length > length ? string.substring(0, length - 3) + '...' : string
          },
          convertTimestamp (timestamp) {
            if (timestamp === 0) {
              return 'N/A'
            }

            // If timestamp is not converted, convert it
            if (timestamp === parseInt(timestamp)) {
              return moment.unix(timestamp).format('DD MMM YYYY')
            }

            // If already converted, just return it as is.
            return timestamp
          },
          numberFormat (number) {
            return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ' ')
          },
          calculateTotalPrice (subscription, prices) {
            let result = 0
            for (let key in prices) {
              if (!prices.hasOwnProperty(key)) continue

              if (key === 'base') {
                result = result + prices[key]
                continue
              }

              if (key === 'currency') {
                continue
              }

              result = result + prices[key]
            }

            if (result === 0) {
              return ''
            }

            return parseFloat(result / 1000).toFixed(1) + '\''
          },
          convertToThousand (price) {
            if (price === 0) {
              return ''
            }

            return parseFloat(price / 1000).toFixed(1)
          },
          getPrice (subscription, language) {
            if (subscription.prices[language] === 0) {
              return ''
            }

            return parseFloat(subscription.prices[language] / 1000).toFixed(1) + '\''
          }
        }
      }
    },
    computed: {
      totalViews () {
        let result = 0
        for (let i = 0; i < this.accountData.subscriptions.length; i++) {
          result = result + this.accountData.subscriptions[i].views
        }

        return result
      },
      totalLanguages () {
        let result = 0
        for (let i = 0; i < this.accountData.subscriptions.length; i++) {
          if (this.accountData.subscriptions[i].film.languages) {
            result += this.accountData.subscriptions[i].film.languages.length
          }
        }

        return result
      }
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
    .table-cell {
        word-break: break-all;
        word-wrap: break-word;
        overflow: hidden;
        height: 16px;
        float: left;
    }
    .table-cell:nth-child(1) {
        width: 250px;
    }

    .table-cell:nth-child(2) {
        width: 100px;
        text-align: left;
    }

    .table-cell:nth-child(n+3):nth-child(-n+4) {
        text-align: center;
        width: 90px;
    }

    .table-cell:nth-child(5) {
        width: 50px;
        text-align: center;
    }

    .table-cell:nth-child(n+6):nth-child(-n+12) {
        text-align: center;
        width: 40px;
        padding: 3px 5px;
    }

    .table-cell:nth-child(n+13):nth-child(-n+14) {
        text-align: center;
        width: 50px;
    }

    .table-cell:nth-child(15) {
        width: 130px;
        text-align: center;
    }

    .table-header {
        .table-cell:nth-child(n+6):nth-child(-n+12), .table-cell:nth-child(15) {
            background: #919191;
            height: 20px;
        }
    }

    .table-row:nth-child(odd) {
        .table-cell:nth-child(n+6):nth-child(-n+12), .table-cell:nth-child(15) {
            background: #d5d5d5;
        }
    }

    .table-row:nth-child(even) {
        .table-cell:nth-child(n+6):nth-child(-n+12), .table-cell:nth-child(15) {
            background: #f9f9f9;
        }
    }

    .table-row:nth-child(odd):hover {
        .table-cell:nth-child(n+6):nth-child(-n+12), .table-cell:nth-child(15) {
            background: transparent;
        }
    }

    .table-row:nth-child(even):hover {
        .table-cell:nth-child(n+6):nth-child(-n+12), .table-cell:nth-child(15) {
            background: transparent;
        }
    }

    .view .row .table-title {
        position: relative;
        padding: 0;

        .padding {
            display: inline-block;
            padding: 3px 15px;
        }

        .languages {
            position: absolute;
            left: 730px;
            padding-left: 15px;
            padding-right: 15px;
            width: 320px;
            background: #c0c6cf;
        }

        .views {
            position: absolute;
            left: 1080px;
            width: 130px;
            padding-left: 15px;
            padding-right: 15px;
            text-align: center;
        }

        .summary {
            position: absolute;
            left: 1240px;
            padding-left: 15px;
            padding-right: 15px;
            width: 130px;
            text-align: center;
            background: #c0c6cf;
        }
    }
</style>