<template>
    <div class="wrap">
        <div class="error">
            An error occurred and request could not finish
            <div class="details">
                {{ message }}
            </div>
            <div class="button" v-on:click="removeError">Close</div>
        </div>
    </div>
</template>

<script>
  import Velocity from 'velocity-animate'
  import scrollTop from '~/components/mixins/scrollTop'
  export default {
    props: ['error'],
    data () {
      return {
        message: null
      }
    },
    mixins: [
      scrollTop
    ],
    methods: {
      getError () {
        this.scrollTo(0, 400, 'easeOutSine')

        if (this.error.status !== 200) {
          this.message = 'Response error: ' + this.error.status
          Velocity(this.$el, 'fadeIn', { duration: 300 })
          console.error(this.error.body)
          return
        }

        if (this.error.data.status === 401) {
          this.message = 'Unauthorized'
          Velocity(this.$el, 'fadeIn', { duration: 300 })
          return
        }

        if (this.error.data.status !== 200) {
          this.message = JSON.stringify({status: this.error.data.status, message: this.error.data.message, data: this.error.data.data})
          Velocity(this.$el, 'fadeIn', { duration: 300 })
          return
        }

        Velocity(this.$el, 'fadeOut', { duration: 300 })
      },
      removeError () {
        Velocity(this.$el, 'fadeOut', { duration: 300 })
      }
    },
    watch: {
      error: {
        handler () {
          this.getError()
        },
        deep: true
      }
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
    .wrap {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #ffffff;
        top: 0;
        z-index: 10;
        display: none;
    }

    .error {
        position: relative;
        margin: 100px auto;
        width: 500px;
        height: 40px;
        text-align: center;
        color: #ff7858;
        font-size: 1em;
    }

    .button {
        margin-top: 20px;
    }
</style>