<template>
    <div class="wrap" style="display: none;">
        <form class="row question" @submit.prevent="finish()">
            <div class="row">
                Are you sure you want to {{ question }}?
            </div>
            <br/>
            <div class="row input-field limit-length">
                <input type="password" placeholder="Password" v-model="password" />
            </div>
            <br/>
            <div class="row limit-length">
                <div class="button left" v-on:click="finish()">Submit</div><div class="button right" v-on:click="cancel()">Cancel</div>
            </div>
            <br/>
            <div class="row error" v-if="error">
                {{ error }}
            </div>
        </form>
    </div>
</template>

<script>
  import auth from '~/lib/auth'
  import Velocity from 'velocity-animate'
  import scrollTop from '~/components/mixins/scrollTop'
  export default {
    props: [
      'active',
      'question',
      'callback'
    ],
    data () {
      return {
        password: null,
        error: null
      }
    },
    mixins: [
      scrollTop
    ],
    methods: {
      cancel () {
        this.$emit('cancelQuestion')
      },
      finish () {
        let that = this
        let request = {
          email: auth.user.email,
          password: that.password
        }

        that.$http.post('/api/auth/validate/password', request, {
          headers: auth.authHeader
        }).then(
          // Successful response
          (response) => {
            // If given data status is 200, render the page
            if (response.data.status === 200) {
              that.callback()
              that.password = null
              that.$emit('cancelQuestion')
              return
            }

            if (response.status === 401) {
              that.error = 'Unauthorized'
              return
            }

            that.error = response.data.data.errorMessage
          },
          // Error response
          (response) => {
            that.errorData = response
          }
        )
      }
    },
    watch: {
      active: {
        handler () {
          if (this.active === false) {
            Velocity(this.$el, 'fadeOut', { duration: 300 })
          }

          if (this.active === true) {
            Velocity(this.$el, 'fadeIn', { duration: 300 })
            this.scrollTo(0, 400, 'easeOutSine')
          }
        },
        deep: true
      }
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
    .wrap {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #ffffff;
        top: 0;
        z-index: 10;
    }

    .question {
        position: relative;
        display: inline-block;
        margin: 100px auto;
        text-align: center;
    }

    .row {
        overflow: hidden;
        margin-top: 5px;
        margin-bottom: 5px;
        display: inline-block;
    }

    .limit-length {
        width: 284px;
    }

    .button {
        margin: 0;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }
</style>