<template>
    <div id="admin" class="view">
        <div class="row">
            <h1>Admin Panel</h1>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" placeholder="Name" v-model="name"/>
            </div>
            <div class="input-field">
                <input type="text" placeholder="Email" v-model="email" />
            </div>
            <div class="input-field">
                <input type="password" placeholder="Password" v-model="password" />
            </div>
        </div>
        <div class="row">
            <div class="table-title">
                Permissions
            </div>
            <div class="table">
                <div class="table-header">
                    <div class="table-cell">
                        Permission Level
                    </div>
                    <div class="table-cell">
                        Accounts
                    </div>
                    <div class="table-cell">
                        Prospects
                    </div>
                    <div class="table-cell">
                        Website
                    </div>
                    <div class="table-cell">
                        Film Database
                    </div>
                    <div class="table-cell">
                        Employees
                    </div>
                    <div class="table-cell">
                        Admin Panel
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell">
                        View
                    </div>
                    <div class="table-cell" v-for="(item, index) in view">
                        <input type="checkbox" v-bind="{ disabled: edit[index] }" v-model="view[index]" />
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell">
                        Edit
                    </div>
                    <div class="table-cell" v-for="(item, index) in edit">
                        <input type="checkbox" v-model="edit[index]" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="button" v-on:click="register()">Save</div>
            <div class="button" v-if="id" v-on:click="remove()">Delete</div>
        </div>
        <div class="row">
            <div class="error">{{ error }}</div>
        </div>
        <error :error="errorData"></error>
        <loader :loaderActive="loaderActive"></loader>
    </div>
</template>

<script>
  import auth from '~/lib/auth'
  import error from '~/components/frame/error.vue'
  import loader from '~/components/frame/loader.vue'

  export default {
    props: ['authenticated'],
    data () {
      return {
        id: null,
        name: null,
        email: null,
        password: null,
        errorData: null,
        error: null,
        loaderActive: true,
        view: {
          accounts: false,
          prospects: false,
          website: false,
          libraries: false,
          employees: false,
          admin: false
        },
        edit: {
          accounts: false,
          prospects: false,
          website: false,
          libraries: false,
          employees: false,
          admin: false
        }
      }
    },
    mounted () {
      if (this.$route.params.id) {
        this.fetchAccount(this.$route.params.id)
        return
      }

      this.loaderActive = false
    },
    methods: {
      register () {
        let that = this
        let request = {
          name: this.name,
          email: this.email,
          permissions: {
            accounts: 0,
            prospects: 0,
            website: 0,
            libraries: 0,
            employees: 0,
            admin: 0
          }
        }

        if (this.password) {
          request.password = this.password
        }

        for (let key in that.view) {
          if (!that.view.hasOwnProperty(key)) continue

          if (that.view[key]) {
            request.permissions[key] = 1
          }
        }

        for (let key in that.edit) {
          if (!that.edit.hasOwnProperty(key)) continue

          if (that.edit[key]) {
            request.permissions[key] = 2
          }
        }

        if (!that.id) {
          that.$http.post('/api/admin/accounts', request, {
            headers: auth.authHeader
          }).then(
            (response) => {
              // If given data status is 200, render the page
              if (response.data.status === 200) {
                that.$router.push('/admin')
                return
              }

              that.error = response.data.data.errorMessage
            },
            (response) => {
              that.errorData = response
            }
          )

          return
        }

        that.$http.put('/api/admin/accounts/' + that.id, request, {
          headers: auth.authHeader
        }).then(
          (response) => {
            // If given data status is 200, render the page
            if (response.data.status === 200) {
              that.$router.push('/admin')
              return
            }

            that.error = response.data.data.errorMessage
          },
          (response) => {
            that.errorData = response
          }
        )
      },
      remove () {
        let that = this
        that.$http.delete('/api/admin/accounts/' + that.id, {
          headers: auth.authHeader
        }).then(
          (response) => {
            // If given data status is 200, render the page
            if (response.data.status === 200) {
              that.$router.push('/admin')
              return
            }

            that.error = response.data.data.errorMessage
          },
          (response) => {
            that.errorData = response
          }
        )
      },
      fetchAccount (id) {
        let that = this
        that.$http.get('/api/admin/accounts/' + id, {
          headers: auth.authHeader
        }).then(
          // Successful response
          (response) => {
            // If given data status is 200, render the page
            if (response.data.status === 200) {
              that.id = response.data.data.result.id
              that.name = response.data.data.result.name
              that.email = response.data.data.result.email
              that.convertPermissions(response.data.data.result.permissions)
              this.loaderActive = false
              return
            }

            that.errorData = response
          },
          (response) => {
            that.errorData = response
          }
        )
      },
      convertPermissions (permissions) {
        for (let key in permissions) {
          if (!permissions.hasOwnProperty(key)) continue

          if (permissions[key] === 2) {
            this.edit[key] = true
          }

          if (permissions[key] === 1) {
            this.view[key] = true
          }
        }
      }
    },
    components: {
      error,
      loader
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
    .table-cell {
        width: calc(12% - 30px);
    }

    .table-cell:nth-child(n+2):nth-child(-n+7) {
        text-align: center;
    }
</style>