<template>
    <div id="firestick" class="view">
        <div class="row">
            <h1>FireStick Video</h1>
        </div>
        <div class="row">
            <div class="cell">
              <h5>Firestick Id</h5>
              <div class="input-field">
                  <input type="text" placeholder="FireStick Id" v-model="stick_id" />
              </div>
            </div>
            <div class="cell">
              <h5>Film Name</h5>
              <div class="input-field">
                  <select class="select-field" v-model="film_id">
                      <option disabled value="">Select Film</option>
                      <option v-for="film in films" :selected="film.id === film_id" :value="film.id">{{ film.name }}</option>
                  </select>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="button" v-on:click="register()">Save</div>
            <div class="button" v-if="id" v-on:click="remove()">Delete</div>
            <div class="button" v-on:click="$router.back()">Back</div>
        </div>
        <div class="row">
            <div class="error">{{ error }}</div>
        </div>
        <error :error="errorData"></error>
        <loader :loaderActive="loaderActive"></loader>
    </div>
</template>

<script>
  import auth from '~/lib/auth'
  import error from '~/components/frame/error.vue'
  import loader from '~/components/frame/loader.vue'

  export default {
    props: ['authenticated'],
    data () {
      return {
        id: null,
        stick_id: null,
        film_id: null,
        films: [],
        errorData: null,
        error: null,
        loaderActive: true
      }
    },
    mounted () {
        this.film_id = null
        let firstmounted = []
        firstmounted.push(this.getFilms())
        if (this.$route.params.id) {
          firstmounted.push(this.fetchVideos(this.$route.params.id))
        }
        window.Promise.all(firstmounted).then(() => {
          this.loaderActive = false
        })
    },
    methods: {
      register () {
        let that = this
        let request = {
          stick_id: this.stick_id,
          film_id: this.film_id
        }

        if (!that.id) {
          that.$http.post('/api/firestick/videos', request, {
            headers: auth.authHeader
          }).then(
            (response) => {
              // If given data status is 200, render the page
              if (response.data.status === 200) {
                that.$router.push('/firestick')
                return
              }

              that.error = response.data.data.errorMessage
            },
            (response) => {
              that.errorData = response
            }
          )

          return
        }

        that.$http.put('/api/firestick/videos/' + that.id, request, {
          headers: auth.authHeader
        }).then(
          (response) => {
            // If given data status is 200, render the page
            if (response.data.status === 200) {
              that.$router.push('/firestick')
              return
            }

            that.error = response.data.data.errorMessage
          },
          (response) => {
            that.errorData = response
          }
        )
      },
      remove () {
        let that = this
        that.$http.delete('/api/firestick/videos/' + that.id, {
          headers: auth.authHeader
        }).then(
          (response) => {
            // If given data status is 200, render the page
            if (response.data.status === 200) {
              that.$router.push('/firestick')
              return
            }

            that.error = response.data.data.errorMessage
          },
          (response) => {
            that.errorData = response
          }
        )
      },
      getFilms () {
        const that = this
        return new window.Promise((resolve, reject) => {
          that.$http.get('/api/libraries/films', {
            headers: auth.authHeader
          }).then((response) => {
            that.films = response.body.data.films
            resolve()
          })
        })
      },
      fetchVideos (id) {
        let that = this
        that.$http.get('/api/firestick/videos/' + id, {
          headers: auth.authHeader
        }).then(
          // Successful response
          (response) => {
            // If given data status is 200, render the page
            if (response.data.status === 200) {
              that.id = response.data.data.result.id
              that.stick_id = response.data.data.result.stick_id
              setTimeout(function () { that.film_id = response.data.data.result.film_id }, 10)
              this.loaderActive = false
              // return
            }

            that.errorData = response
          },
          (response) => {
            that.errorData = response
          }
        )
      }
    },
    components: {
      error,
      loader
    }
  }
</script>

<style rel="stylesheet/scss" type="text/css" lang="scss" scoped>
    .firestick-description-field {
        width: 250px;
        margin-top: 5px;
        height: 50px;
        margin-bottom: 5px;
        padding: 5px 15px;
        outline: none;
        border: 1px solid #cccccc;
    }
    .table-cell {
        width: calc(12% - 30px);
    }

    .table-cell:nth-child(n+2):nth-child(-n+7) {
        text-align: center;
    }
    .input-field>input[type=file] {
        display: block!important;
    }
    .select-field {
      width: 282px;
      height: 28px;
    }
</style>
